{% extends 'admin2/base.html' %}

{% load static from staticfiles %}
{% load thumbnail %}
{% load i18n %}

{% block title %}{{ title }}{% endblock title %}

{% block css %}{% endblock css %}

{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>{% trans 'Оплата франшизы' %}</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>{% trans 'Подтверждение оплаты' %}</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div id="wizard" class="form_wizard wizard_horizontal">
                                <ul class="wizard_steps">
                                    <li>
                                        <a href="#step-1" class="selected">
                                            <span class="step_no">1</span>
                                            <span class="step_descr">
                                                {% trans 'Шаг 1' %}
                                                <br/>
                                                <small>{% trans 'Шаг 1 подтверждение' %}</small>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                    <a href="#step-2" class="disabled">
                                        <span class="step_no">2</span>
                                        <span class="step_descr">
                                            {% trans 'Шаг 2' %}<br />
                                            <small>{% trans 'Шаг 2 подтверждено' %}</small>
                                        </span>
                                    </a>
                                    </li>
                                </ul>
                                <div id="step-1">
                                    <div class="form-horizontal form-label-left">
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">{% trans 'Сумма платежа' %}: <span class="required"></span>
                                            </label>
                                            <div class="col-md-7 col-sm-7 col-xs-12">
                                                <input type="text" disabled value="{{ price }} {{ currency }}" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">{% trans 'Назначение платежа' %}: <span class="required"></span>
                                            </label>
                                            <div class="col-md-7 col-sm-7 col-xs-12">
                                                <input type="text" disabled value="Продление франшизы {{ request.get_host }}" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">{% trans 'Метод платежа' %}: <span class="required"></span>
                                            </label>
                                            <div class="col-md-7 col-sm-7 col-xs-12">
                                                <input type="text" disabled value="{{ method }}" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">{% trans 'Дней' %}: <span class="required"></span>
                                            </label>
                                            <div class="col-md-7 col-sm-7 col-xs-12">
                                                <input type="text" disabled value="{{ days }}" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    {% if fields %}
                                        <form action="https://api.privatbank.ua/p24api/ishop" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="sid" value="{{ fields.sid }}">
                                            <input type="hidden" name="amt" value="{{ fields.amt }}">
                                            <input type="hidden" name="ccy" value="{{ fields.ccy }}">
                                            <input type="hidden" name="merchant" value="{{ fields.merchant }}">
                                            <input type="hidden" name="order" value="{{ fields.order }}">
                                            <input type="hidden" name="details" value="{{ fields.details }} {{ request.get_host }}">
                                            <input type="hidden" name="ext_details" value="{{ fields.ext_details }}">
                                            <input type="hidden" name="pay_way" value="{{ fields.pay_way }}">
                                            <input type="hidden" name="return_url" value="{{ fields.return_url }}">
                                            <input type="hidden" name="server_url" value="{{ fields.server_url }}">
    {#                                        <input type="hidden" name="signature" value="{{ fields.signature }}">#}
                                            <div class="form-group" style="float: right">
                                                <input type="submit" class="btn btn-success" value="{% trans 'Перейти к оплате' %}">
                                            </div>
                                        </form>
                                    {% endif %}
                                    <div class="form-group" style="float: right">
                                        {{ html|safe }}
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock content %}

{% block js %}
    <script src="{% static 'js/sections.js' %}"></script>
{% endblock js %}