{% extends 'admin2/base.html' %}

{% load static from staticfiles %}
{% load thumbnail %}

{% block title %}
Оплата франшизы
{% endblock title %}

{% block css %}{% endblock css %}

{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Оплата</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Оплата франшизы</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="pricing">
                                    <div class="title">
                                        <h2>{{ form.price_30.label }}</h2>
                                        <h1>{{ form.price_30.value }} {{ form.currency.value }}</h1>
                                    </div>
                                    <div class="x_content">
                                        <div class="pricing_footer">
                                            <a href="{% url 'privat24:pay_confirm' 30 %}" class="btn btn-success btn-block" role="button">Privat24 <span></span></a>
                                            <a href="{% url 'liqpay:pay_confirm' 30 %}" class="btn btn-success btn-block" role="button">LiqPay <span></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="pricing">
                                    <div class="title">
                                        <h2>{{ form.price_90.label }}</h2>
                                        <h1>{{ form.price_90.value }} {{ form.currency.value }}</h1>
                                    </div>
                                    <div class="x_content">
                                        <div class="pricing_footer">
                                            <a href="{% url 'privat24:pay_confirm' 90 %}" class="btn btn-success btn-block" role="button">Privat24 <span></span></a>
                                            <a href="{% url 'liqpay:pay_confirm' 90 %}" class="btn btn-success btn-block" role="button">LiqPay <span></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="pricing">
                                    <div class="title">
                                        <h2>{{ form.price_180.label }}</h2>
                                        <h1>{{ form.price_180.value }} {{ form.currency.value }}</h1>
                                    </div>
                                    <div class="x_content">
                                        <div class="pricing_footer">
                                            <a href="{% url 'privat24:pay_confirm' 180 %}" class="btn btn-success btn-block" role="button">Privat24 <span></span></a>
                                            <a href="{% url 'liqpay:pay_confirm' 180 %}" class="btn btn-success btn-block" role="button">LiqPay <span></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock content %}

{% block js %}

{% endblock js %}