{% extends 'admin2/base.html' %}

{% load static from staticfiles %}
{% load thumbnail %}
{% load admin_tags %}
{% load i18n %}

{% block title %}{{ page_title }}{% endblock title %}

{% block css %}{% endblock css %}

{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>{{ page_title }}</h3>
                </div>
                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div style="float: right">
                            <a href="{{ create_url }}" class="btn btn-round btn-primary"><i class="fa fa-plus"></i> Создать</a>
                            <a href="#" class="btn btn-round btn-primary search-admin"><i class="fa fa-search"></i> Поиск</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Все {{ page_title }}</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content search-form" {% if not request.GET.search %} style="display: none" {% endif %}>
                            <form class="form-horizontal form-label-left" method="get" enctype="multipart/form-data" name="serviceForm">
                                <div class="item form-group">
                                    <label class="control-label col-md-1 col-sm-1 col-xs-1">ID:</label>
                                    <div class="col-md-1 col-sm-1 col-xs-1">
                                        <input name="custom_id__gt" type="text" placeholder="От" value="{{ request.GET.custom_id__gt }}" style="width: 100%; margin-bottom: 10px;">
                                        <input name="custom_id__lt" type="text" placeholder="До" value="{{ request.GET.custom_id__lt }}" style="width: 100%">
                                    </div>
                                    <label class="control-label col-md-1 col-sm-1 col-xs-1">Балл:</label>
                                    <div class="col-md-1 col-sm-1 col-xs-1">
                                        <input name="point__gt" type="text" placeholder="От" value="{{ request.GET.point__gt }}" style="width: 100%; margin-bottom: 10px;">
                                        <input name="point__lt" type="text" placeholder="До" value="{{ request.GET.point__lt }}" style="width: 100%">
                                    </div>
                                    <label class="control-label col-md-1 col-sm-1 col-xs-1">Цена:</label>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <input name="price__gt" type="text" placeholder="От" value="{{ request.GET.price__gt }}" style="width: 100%; margin-bottom: 10px;">
                                        <input name="price__lt" type="text" placeholder="До" value="{{ request.GET.price__lt }}" style="width: 100%">
                                    </div>
                                    <label class="control-label col-md-1 col-sm-1 col-xs-1">Статус:</label>
                                    <div class="col-md-1 col-sm-1 col-xs-1">
                                        <select name="status" id="">
                                            <option value="">-----</option>
                                            <option {% if request.GET.status == 'vip' %} selected {% endif %} value="vip">VIP</option>
                                            <option {% if request.GET.status == 'short' %} selected {% endif %} value="short">{% trans 'Краткое' %}</option>
                                            <option {% if request.GET.status == 'default' %} selected {% endif %} value="default">{% trans 'Обичное' %}</option>
                                        </select>
                                    </div>
                                    <br>
                                    <br>
                                    <label class="control-label col-md-1 col-sm-1 col-xs-1">{% trans 'Адресс' %}:</label>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <input name="address__icontains" type="text" placeholder="" value="{{ request.GET.address__icontains }}" style="width: 100%">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-1 col-sm-1 col-xs-1">Тип:</label>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <select name="type_deal" id="">
                                            <option value="">-----</option>
                                            <option {% if request.GET.type_deal == 'rent' %} selected {% endif %} value="rent">{% trans 'Аренда' %}</option>
                                            <option {% if request.GET.type_deal == 'sale' %} selected {% endif %} value="sale">{% trans 'Продажа' %}</option>
                                        </select>
                                    </div>
                                    <label class="control-label col-md-2 col-sm-2 col-xs-2">{% trans 'Назначение' %}: </label>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <select name="appointment" id="">
                                            <option value="">-----</option>
                                            <option {% if request.GET.appointment == 'apartment' %} selected {% endif %} value="apartment">{% trans 'Квартира' %}</option>
                                            <option {% if request.GET.appointment == 'house' %} selected {% endif %} value="house">{% trans 'Дом' %}</option>
                                            <option {% if request.GET.appointment == 'room' %} selected {% endif %} value="room">{% trans 'Комната' %}</option>
                                        </select>
                                    </div>
                                </div>
                                <div style="float: right;">
                                    <input type="submit" name="search" placeholder="Поиск" value="Поиск" class="btn btn-primary">
                                    <a class="btn btn-success" href="{% url 'admin2:buildings' %}">{% trans 'Отмена' %}</a>
                                </div>
                            </form>
{#                            <table class="table table-striped projects">#}
{#                                <tbody>#}
{#                                <tr>#}
{#                                    <td style="width: 5%">ID: <input type="text" placeholder="От"> <br>#}
{#                                        <input type="text" placeholder="До">#}
{#                                    </td>#}
{#                                </tr>#}
{#                                </tbody>#}
{#                            </table>#}
                        </div>
                        <div class="x_content">
                            <table class="table table-striped projects">
                                <thead>
                                <tr>
                                    <th style="width: 1%">ID</th>
                                    <th style="width: 1%">{% trans 'Балл' %} {% order_by custom_id %}</th>
                                    <th style="width: 15%">{% trans 'Фото' %} {% order_by point %}</th>
                                    <th style="width: 5%">{% trans 'Статус' %}</th>
                                    <th style="width: 20%">{% trans 'Адресс' %}</th>
                                    <th style="width: 10%">{% trans 'Цена' %}</th>
                                    <th style="width: 10%">{% trans 'Тип' %}</th>
                                    <th style="width: 10%">{% trans 'Назначение' %}</th>
                                    <th style="width: 20%">{% trans 'Опубликована' %} {% order_by when_create %}</th>
                                    <th style="width: 5%">
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in object_list %}
                                    <tr>
                                        <td>{{ object.custom_id|default_if_none:'--' }}</td>
                                        <td>{{ object.point|default_if_none:'--' }}</td>
                                            {% if object.image %}
                                                <td><img src="{{ object.image|thumbnail_url:'article_image_60' }}" alt=""></td>
                                            {% else %}
                                                <td><img src="{% static 'images/no_photo.png' %}" alt="" width="60px"></td>
                                            {% endif %}
                                        <td>
                                            {{ object.is_vip|yesno:'VIP, '|default_if_none:'--' }}
                                            {{ object.is_short|yesno:'Краткое, '}}
                                        </td>
                                        <td>{{ object.address|default_if_none:'--' }}</td>
                                        <td>{{ object.price|default_if_none:'--' }}</td>
                                        <td>{{ object.get_type_deal_display|default_if_none:'--' }}</td>
                                        <td>{{ object.get_appointment_display|default_if_none:'--' }}</td>
                                        <td>{{ object.when_create|date:'d.m.Y H:i' }}</td>
                                        <td>
                                            <a href="{{ object.get_delete_url }}" class="btn btn-danger btn-xs del-section"><i class="fa fa-trash-o"></i> {% trans 'Удалить' %} </a>
                                            <a href="{{ object.get_edit_url }}" class="btn btn-dark btn-xs"><i class="fa fa-pencil"></i> {% trans 'Редактировать' %} </a>
                                            <a href="{{ object.get_absolute_url }}" class="btn btn-success btn-xs" target="_blank"><i class="fa fa-eye"></i> {% trans 'На сайте' %} </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% include 'admin2/include/paginator.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock content %}

{% block js %}
    <script src="{% static 'js/search_admin.js' %}"></script>
{% endblock js %}