{% extends 'admin2/base.html' %}

{% load static from staticfiles %}
{% load thumbnail %}
{% load i18n %}

{% block title %}{% trans 'Мультилендинг' %}{% endblock title %}

{% block css %}{% endblock css %}

{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>{% trans 'Мультилендинг' %}</h3>
                </div>
                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div style="float: right">
                            <a href="{% url 'admin2:landing_create' %}" class="btn btn-round btn-primary"><i class="fa fa-plus"></i> {% trans 'Создать' %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>{% trans 'Все Мультилендинги' %}</h2>
                            <div style="float: right">
                                <a href="" class="btn btn-round btn-primary"><i class="fa fa-plus"></i> Добавить в футор</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="table table-striped projects">
                                <thead>
                                <tr>
                                    <th style="width: 1%">ID</th>
                                    <th style="width: 40%">URL</th>
                                    <th style="width: 40%">{% trans 'Заголовок' %}</th>
                                    <th style="width: 10%">{% trans 'Тип' %}</th>
                                    <th style="width: 5%"></th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for object in object_list %}
                                        <tr>
                                            <td>{{ object.id }}</td>
                                            <td>{{ object.slug }}</td>
                                            <td>{{ object.title_h1|default_if_none:'' }}</td>
                                            <td>{{ object.get_type_deal_display }}</td>
                                            <td>
                                                <a href="{{ object.get_delete_url }}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Удалить </a>
                                                <a href="{{ object.get_edit_url }}" class="btn btn-dark btn-xs"><i class="fa fa-pencil"></i> Редактировать </a>
                                                <a href="{{ object.get_absolute_url }}" class="btn btn-success btn-xs" target="_blank"><i class="fa fa-eye"></i> На сайте </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% include 'admin2/include/paginator.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock content %}

{% block js %}
    <script src="{% static 'js/sections.js' %}"></script>
{% endblock js %}