{% load admin_tags %}
{% load i18n %}
<div role="tabpanel" class="tab-pane" id="seo_tab" aria-labelledby="seo-tab">
    <form class="form-horizontal form-label-left" enctype="multipart/form-data" name="seoForm" id="seoForm">
        {% csrf_token %}
        {{ seo_form.media }}
        <input type="hidden" name="content_type" value="{{ content_type }}">
        <input type="hidden" name="object_id" value="{{ object.id }}">
        <div class="item form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="name">{{ seo_form.title_seo.label }}:
            </label>
            <div class="col-md-7 col-sm-7 col-xs-12">
                {{ seo_form.title_seo|addcss:'form-control col-md-7 col-xs-12'|addrows:'3'|safe }}
            </div>
            {% if seo_form.title_seo.errors %}
                <span class="error-label">{{ seo_form.title_seo.errors }}</span>
            {% endif %}
        </div>
        <div class="item form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="name">{{ seo_form.SEOTitle.label }}</label>
            <div class="col-md-7 col-sm-7 col-xs-12">
                {{ seo_form.SEOTitle|addcss:'form-control col-md-7 col-xs-12'|addrows:'3'|safe }}
            </div>
            {% if seo_form.SEOTitle.errors %}
                <span class="error-label">{{ seo_form.SEOTitle.errors }}</span>
            {% endif %}
        </div>
        <div class="item form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="name">{{ seo_form.SEOKeywords.label }}</label>
            <div class="col-md-7 col-sm-7 col-xs-12">
                {{ seo_form.SEOKeywords|addcss:'form-control col-md-7 col-xs-12'|addrows:'3'|safe }}
            </div>
            {% if seo_form.SEOKeywords.errors %}
                <span class="error-label">{{ seo_form.SEOKeywords.errors }}</span>
            {% endif %}
        </div>
        <div class="item form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="name">{{ seo_form.SEODescription.label }}</label>
            <div class="col-md-7 col-sm-7 col-xs-12">
                {{ seo_form.SEODescription|addcss:'form-control col-md-7 col-xs-12'|addrows:'3'|safe }}
            </div>
            {% if seo_form.SEODescription.errors %}
                <span class="error-label">{{ seo_form.SEODescription.errors }}</span>
            {% endif %}
        </div>
        <div class="item form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="name">{{ seo_form.content.label }}</label>
            <div class="col-md-7 col-sm-7 col-xs-12">
                {{ seo_form.content|addcss:'form-control col-md-7 col-xs-12'|addrows:'3'|safe }}
            </div>
            {% if seo_form.content.errors %}
                <span class="error-label">{{ seo_form.content.errors }}</span>
            {% endif %}
        </div>
        <div class="item form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="name">{{ seo_form.image_seo.label }}</label>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <input id="imgInp3" name="image_seo" type="file">
                <img id="blah3" src="
                {% if object.image_seo %}
                    {{ object.image_seo.url }}
                {% endif %}
                " alt="" width="100%" />
                {% if object.image_seo %}
                    <input id="delete-image3" type="button" value="Удалить фото" class="btn btn-danger" style="float: right">
                    <input type="hidden" value="{{ content_type }}">
                    <input type="hidden" value="{{ object.id }}">
                    <input type="hidden" value="seo_image">
                {% endif %}
            </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group" style="float: right">
            <div class="col-md-12">
                <button id="btn-seo-save" name="btn-seo-save" type="submit" class="btn btn-success">{% trans 'Сохранить' %}</button>
            </div>
        </div>
    </form>
</div>