{% extends 'base.html' %}
{% load static from staticfiles %}
{% load video_tag %}
{% load favorites_tag %}
{% load thumbnail %}
{% load banners_tag %}
{% load base_tag %}
{% block css %}
    <script type="text/javascript" src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
{% endblock css %}

{% block SEOTitle %} {{ seo.SEOTitle|default_if_none:'' }} {% endblock SEOTitle %}
{% block SEOKeywords %}{{ seo.SEOKeywords|default_if_none:'' }}{% endblock SEOKeywords %}
{% block SEODescription %}{{ seo.SEODescription|default_if_none:'' }}{% endblock SEODescription %}

{% block class_body %}  class="not-front apartment" {% endblock %}

{% block content %}
	<main class="middle">
		<div class="slider_main slider_notfront" {% if object.image %}style="background: url({{ object.image.url }}) no-repeat center/cover"{% endif %}>
			<div class="top_inner_content">
				<div class="main_breadcrumbs"><a href="/">Главная</a> / <span>Недвижимость</span></div>
				<div class="title"></div>
			</div>
			<div class="icons_wrap">
                {% if object.is_vip %}
                    <div class="icon vip"></div>
                {% endif %}
				<div class="icon stat">{{ object.views }}</div>
				<div class="icon favorite {{ object|fav_is_active:request }}">
                    <input type="hidden" name="content_type" value="{{ object.get_content_type }}">
                    <input type="hidden" name="object_id" value="{{ object.id }}">
                </div>
			</div>
			<h1 class="slider_title page_title">{{ object.get_title }} , {{ object.address }}. <br>({{ object.price }} {% if object.type_deal == 'rent' %} {% carrency %}  {% else %} $ {% endif %})</h1>
			<div class="webform_client_form">
				<div class="form_actions">
					<input  class="form-submit submit-add-inspection-modal" type="submit" value="Заказать осмотр">
                    <div class="read_more" style="display: none"><a href="{% url 'objects:daily_detail' object.id %}">Подробнее</a></div>
				</div>
			</div>
		</div>
		<div class="middle_inner">
			<div class="container">
				<div id="content">
					<div class="block block_appartament_slider">
						<div class="view_content">
                            {% with object.images.all as images %}
							    <div class="slider_for" id="slider_for">
                                    {% for image in images %}
                                        <div class="item">
                                            <div class="item_inner">
                                                <img src="{{ image.image|thumbnail_url:'slider_1110' }}" alt="" width="100%">
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="slider_nav" id="slider_nav">
                                    {% for image in images %}
                                        <div class="item first">
                                            <div class="item_inner">
                                                <img src="{{ image.image|thumbnail_url:'slider_image_166' }}" alt="" width="100%">
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endwith %}
						</div>
					</div>
					<div class="block block_inform_appartament">
						<div class="block_content">
							<div class="left_wrap information">
								<div class="title">Информация: {{ seo.SEOKeywords }}</div>
								<div class="price_wrapper">
									<div class="first_price">{{ object.price|default_if_none:'--' }} {{ object.get_current }}</div><span></span>
                                    <div class="second_price">{{ object.footage_price|default_if_none:'--' }} {{ object.get_current }}/м<sup>2</sup></div>
								</div>
								<div class="char_wrapper">
									<div class="group">
										<div class="item">
											<div class="label">ID:</div>
											<div class="field_item">{{ object.custom_id|default_if_none:'' }}</div>
										</div>
                                        <div class="item">
											<div class="label">Район:</div>
											<div class="field_item">{{ object.district|default_if_none:'' }}</div>
										</div>
										<div class="item">
											<div class="label">Площадь:</div>
											<div class="field_item">{{ object.footage|default_if_none:'' }} кв.м.</div>
										</div>
										<div class="item">
											<div class="label">Комнат:</div>
											<div class="field_item">{{ object.rooms|default_if_none:'' }}</div>
										</div>
										<div class="item">
											<div class="label">Этаж:</div>
											<div class="field_item">{{ object.floor|default_if_none:'' }}</div>
										</div>
										<div class="item">
											<div class="label">Планировка:</div>
											<div class="field_item">{{ object.get_layout_display|default_if_none:'' }}</div>
										</div>
									</div>
{#									<div class="group">#}
{#										<div class="item">#}
{#											<div class="label">ID:</div>#}
{#											<div class="field_item">Магазин</div>#}
{#										</div>#}
{#										<div class="item">#}
{#											<div class="label">Площадь:</div>#}
{#											<div class="field_item">47 кв.м.</div>#}
{#										</div>#}
{#										<div class="item">#}
{#											<div class="label">Расположение:</div>#}
{#											<div class="field_item">Черемушки</div>#}
{#										</div>#}
{#										<div class="item">#}
{#											<div class="label">Этаж:</div>#}
{#											<div class="field_item">1</div>#}
{#										</div>#}
{#										<div class="item">#}
{#											<div class="label">ID:</div>#}
{#											<div class="field_item">325467</div>#}
{#										</div>#}
{#										<div class="item">#}
{#											<div class="label">Тех план:</div>#}
{#											<div class="field_item"><a href="#">Посмотреть</a></div>#}
{#										</div>#}
{#									</div>#}
								</div>
							</div>
							<div class="right_wrap contacts">
								<div class="title">Контакты:</div>
								<div class="contacts_person name">
									<div class="label">Имя:</div>
									<div class="field_item">{{ object.name|default_if_none:'' }}</div>
								</div>
								<div class="contacts_person phone">
									<div class="label">Телефон:</div>
									<div class="field_item"><a href="tel:+380694546241">{{ object.phone|default_if_none:'' }}</a></div>
								</div>
								<div class="social_share">
								<div class="label">Поделиться с друзьями:</div>
									<script src="http://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
									<script src="http://yastatic.net/share2/share.js"></script>
									<div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter,linkedin,lj,tumblr,whatsapp,skype,telegram"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="block block_body">
						<div class="title">Описание</div>
						<div class="field_body">
							{{ object.description }}
						</div>
					</div>
				</div><!-- #content-->

			</div>
		</div>
		{% include 'common/application/block_order_an_inspection.html' %}
		<div class="block_maps">
			<div class="map">
			<div class="title">На карте:</div>
				<div class="field_image">
                    <div id="map" style="width: 542px; height: 293px;"></div>
				</div>
			</div>
			<div class="map">
			<div class="title">Панорама:</div>
				<div class="field_image">
					{{ object.panorama|convert_panorama|safe }}
				</div>
			</div>
		</div>
        {% if object.video %}
            <div class="block block_video">
                <div class="block_content">
{#                    <div class="block_title">{{ object.title }}</div>#}
                    {{ object.video|convert_to_frame|safe }}
                </div>
            </div>
        {% endif %}
        {% with object.newbuilding as newbuilding %}
            {% if newbuilding %}
                <div class="block new_buildings">
                    <div class="block_content">
                        <div class="block_title">Квартира продается в новострое</div>
                        <div class="view_content">
                            <div class="views_row">
                                <div class="title">{{ newbuilding.title|default_if_none:'' }}</div>
                                <div class="field_image">
                                    <img src="{% static 'images/new_1.png' %}" alt="">
                                </div>
                                <div class="views_body">
                                    <div class="star {{ newbuilding|fav_is_active:request }}">
                                        <input type="hidden" name="content_type" value="{{ newbuilding.get_content_type }}">
                                        <input type="hidden" name="object_id" value="{{ newbuilding.id }}">
                                    </div>
                                    <div class="left_wrap">
                                        <div class="address">{{ newbuilding.address|default_if_none:'' }}</div>
                                        <div class="info">
                                            <div class="label">Район:</div>
                                            <div class="item">{{ newbuilding.district|default_if_none:'' }}</div>
                                        </div>
                                        <div class="info">
                                            <div class="label">Сдаваемых помещений:</div>
                                            <div class="item">{{ newbuilding.building.count }}</div>
                                        </div>
                                        <div class="price">${{ newbuilding.price|default_if_none:'' }} м.кв</div>
                                    </div>
                                    <div class="right_wrap">
                                        <div class="statistics">{{ newbuilding.views }}</div>
                                        <div class="info">
                                            <div class="label">Сдаётся с    </div><div class="item"> {{ newbuilding.end_construction|date:'d E Y' }}</div>
                                        </div>
                                        <div class="info">
                                            <div class="label">Общая площадь:</div><div class="item"> {{ newbuilding.footage|default_if_none:'' }} м.кв.</div>
                                        </div>
                                        <div class="read_more"><a href="/">Оставить заявку</a></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
		{% include 'common/include/vip.html' %}
		{% include 'services/include/services_downbar.html' %}
		{% downbanner %}
		{% include 'common/application/block_presentation.html' with source=seo class='block_picking' %}
	</main><!-- .content -->
{% endblock content %}
{% block js %}
    <script>
    $(document).ready(function(){
                    ymaps.ready(init);

                function init() {
                    var myMap = new ymaps.Map('map', {
                        center: [55.753994, 37.622093],
                        zoom: 9
                    });

                    ymaps.geocode('{% city %}, {{ object.address }}', {
                        results: 1
                    }).then(function (res) {
                        var firstGeoObject = res.geoObjects.get(0),
                        coords = firstGeoObject.geometry.getCoordinates(),
                        bounds = firstGeoObject.properties.get('boundedBy');

                        myMap.geoObjects.add(firstGeoObject);
                        myMap.setBounds(bounds, {
                            checkZoomRange: true
                        });
                    });
                }
    });
</script>
{% endblock js %}
