{% extends 'base.html' %}
{% load static from staticfiles %}
{% load video_tag %}
{% load admin_tags %}
{% load favorites_tag %}
{% load thumbnail %}
{% load banners_tag %}
{% load rieltor_tag %}
{% load i18n %}
{% block css %}{% endblock css %}

{% block SEOTitle %} {{ seo.SEOTitle|default_if_none:'' }} {% endblock SEOTitle %}
{% block SEOKeywords %}{{ seo.SEOKeywords|default_if_none:'' }}{% endblock SEOKeywords %}
{% block SEODescription %}{{ seo.SEODescription|default_if_none:'' }}{% endblock SEODescription %}

{% block class_body %}  class="not-front ranking_daily" {% endblock %}

{% block content %}
    <main class="middle">
		<div class="slider_main slider_notfront" {% if dailypagemodel.image %}style="background: url({{ dailypagemodel.image.url }}) no-repeat center/cover"{% endif %}>
			<h1 class="slider_title page_title">{{ seo.title|default:'Доступные квартиры посуточно' }}</h1>
			<div class="slider_list">
				<div class="item">
					<div class="li">1</div>
					<div class="field_item">{% trans 'Оформите заявку' %} <br>{% trans 'на странице' %}</div>
				</div>
				<div class="item">
					<div class="li">2</div>
					<div class="field_item">{% trans 'Получите подтверждение наличие квартиры' %}</div>
				</div>
				<div class="item">
					<div class="li">3</div>
					<div class="field_item">{% trans 'Заселения' %} <br>{% trans 'в квартиру' %}</div>
				</div>
			</div>
			<form action="#" class="webform_client_form" id="form-page-daily">
                {% csrf_token %}
                <input type="hidden" name="source" value="Оставить заявку. Страница посуточно.">
				<div class="form_item name">
					<input name="name" type="text" placeholder="{% trans 'Введите имя' %}">
				</div>
				<div class="form_item phone">
					<input name="phone" type="text" placeholder="{% trans 'Введите телефон' %}">
				</div>
				<div class="form_item date">
					<input name="comming" type="text" id="datepicker" placeholder="{% trans 'Заезд' %}">
				</div>
				<div class="form_item date">
					<input name="go" type="text" id="datepicker2" placeholder="{% trans 'Отъезд' %}">
				</div>
				<div class="form_actions">
					<input class="form-submit submit-save-application" type="submit" value="{% trans 'Отправить заявку' %}">
				</div>
			</form>

		</div>
		<div class="middle_inner">
			<div class="container">
				<div id="content">
					<div class="block search_results search_products">
						<div class="form_title">{% trans 'Найти квартиру' %}</div>
						<form action="." method="get" class="webform_client_form search-form">
							<div class="form_item group form_wrapper">
								<label>{% trans 'Стоимость' %}, {{ nac_carrency }}:</label>
								<div class="form_number">
									{{ filter_form.form.price__gt }}
								</div>
								<div class="form_number">
									{{ filter_form.form.price__lt}}
								</div>
							</div>
							<div class="form_item form_select form_wrapper area_select">
								<label for="{{ filter_form.form.district.id_for_label }}">{% trans 'Район' %}:</label>
								{{ filter_form.form.district }}
							</div>
							<div class="form_item form_select form_wrapper">
								<label for="{{ filter_form.form.rooms.id_for_label }}">{% trans 'Кол-во комнат' %}:</label>
                                <select name="{{ filter_form.form.rooms.name }}" id="{{ filter_form.form.rooms.id_for_label }}">
                                    {% for rooms in filter_form.form.rooms %}
                                        {% if rooms.data.value %}
                                            <option value="{{ rooms.data.value }}"
                                            {% if rooms.data.selected %}
                                                selected
                                            {% endif %}
                                            >{{ rooms.data.value }}</option>
                                        {% endif %}
                                    {% endfor %}
								</select>
							</div>
							<div class="form_item form_select form_wrapper">
								<label for="{{ filter_form.form.sleeping_places.id_for_label }}">{% trans 'Спальных мест' %}:</label>
								<select name="{{ filter_form.form.sleeping_places.name }}" id="{{ filter_form.form.sleeping_places.id_for_label }}">
                                    {% for sleeping_places in filter_form.form.sleeping_places %}
                                        {% if sleeping_places.data.value %}
                                            <option value="{{ sleeping_places.data.value }}"
                                            {% if sleeping_places.data.selected %}
                                                selected
                                            {% endif %}
                                            >{{ sleeping_places.data.value }}</option>
                                        {% endif %}
                                    {% endfor %}
								</select>
							</div>
							<div class="form_actions">
								<div class="links">
									<div class="search_clear"><a href="{% url 'objects:dailys' %}">{% trans 'очистить' %}</a></div>
								</div>
								<input type="submit" value="{% trans 'Поиск' %}" class="search-click">
							</div>
						</form>
						<div class="top_wrap">
							<div class="left_wrap">
								<div class="count_result">
                                    {% if not object_list.count %}
                                        {{ object_list.count }}
                                        {% else %}
                                        {% if object_list.count < 10 %}
                                            1-{{ object_list.count }} {% trans 'из' %} {{ object_list.count }}
                                            {% else %}
                                            1-10 {% trans 'из' %}
                                            {% if count_obj %}
                                                {{ count_obj }}
                                                {% else %}
                                                {{ object_list.count }}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                     {% trans 'результатов' %}
                                </div>
							</div>
							<div class="right_wrap">
								<div class="sortable">
									<label for="sort">{% trans 'Сортировка' %}:</label>
									<select name="sort" id="sort">
										<option value="1">{% trans 'Новые наверху' %}</option>
										<option value="2">{% trans 'Новые внизу' %}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="bottom_wrap">
                            {% include 'rieltor_object/filters/daily_filter.html' %}
							<div class="form_actions">
								<input type="submit" value="{% trans 'Подобрать квартиру' %}" class="open-object-parameter">
							</div>
						</div>
					</div>
					<div class="block block_shops block_search_results block_daily_products">
						<div class="block_content">
							<div class="view_content list-more">
                                {% include 'rieltor_object/include/daily_item.html' with objects=object_list %}
							</div>
						</div>
					</div>
				</div><!-- #content-->
			</div>
		</div>
		{% include 'seo/seo.html' %}
		{% include 'common/include/vip.html' %}
		{% downbanner %}
        {% include 'common/application/modal_booking.html' %}
        {% include 'common/application/modal_object_parameter.html' with daily=True %}
	</main><!-- .content -->
{% endblock content %}
{% block js %}
    <script>
        var BASE_URL = '{{ BASE_URL }}';
    </script>
    <script src="{% static 'js/search_form.js' %}"></script>
{% endblock js %}

