{% extends 'base.html' %}
{% load static from staticfiles %}
{% load video_tag %}
{% load favorites_tag %}
{% load thumbnail %}
{% load banners_tag %}
{% load rieltor_tag %}
{% load base_tag %}
{% load i18n %}
{% block css %}
    <script type="text/javascript" src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
{% endblock css %}

{% block SEOTitle %} {{ seo.SEOTitle|default_if_none:'' }} {% endblock SEOTitle %}
{% block SEOKeywords %}{{ seo.SEOKeywords|default_if_none:'' }}{% endblock SEOKeywords %}
{% block SEODescription %}{{ seo.SEODescription|default_if_none:'' }}{% endblock SEODescription %}

{% block class_body %}  class="not-front earth" {% endblock %}

{% block content %}
    <main class="middle">
		<div class="slider_main slider_notfront"  {% if earthpagemodel.image %}style="background: url({{ earthpagemodel.image.url }}) no-repeat center/cover"{% endif %}>
			<div class="slider_title">{{ seo.title|default:_('Оформление и проверка земли за 1 день') }}</div>
			<div class="slider_subtitle">{{ seo.subtitle|default:_('Вам нужен хороший участок?') }}</div>
			<div class="text">{% trans 'Поможем в выборе земельного участка для строительства или бизнеса' %}</div>
			<form action="#" class="webform_client_form">
                {% csrf_token %}
                <input type="hidden" name="source" value="{% trans 'Подобрать участок' %}">
				<div class="form_item phone">
					<input name="phone" type="text" placeholder="{% trans 'Введите номер телефона' %}">
				</div>
				<div class="form_actions">
					<input class="form-submit submit-save-application earth-no" type="submit" value="{% trans 'Подобрать участок' %}">
				</div>
			</form>
		</div>
		<div class="middle_inner">
			<div class="container">
				<div id="content">
					<div class="block search_results search_products">
						<div class="form_title">{% trans 'Найти участок' %}</div>
						<form action="." method="get" class="webform_client_form search-form" >
							<div class="form_item group form_wrapper form_wrapper_earth">
								<label>{% trans 'Стоимость' %}, USD:</label>
								<div class="form_number">
                                    <input value="{{ filter_form.form.price__gt.data }}" class="price_gt" type="number" name="{{ filter_form.form.price__gt.name }}" id="{{ filter_form.form.price__gt.id_for_label }}" placeholder="{% trans 'От' %}">
								</div>
								<div class="form_number">
									<input value="{{ filter_form.form.price__lt.data }}" class="price_lt" type="number" name="{{ filter_form.form.price__lt.name }}" id="{{ filter_form.form.price__lt.id_for_label }}" placeholder="{% trans 'До' %}">
								</div>
							</div>
							<div class="form_item group form_wrapper form_wrapper_earth">
								<label>{% trans 'Площадь, соток' %}:</label>
								<div class="form_number">
									<input value="{{ filter_form.form.area__gt.data }}" class="price_lt" type="number" name="{{ filter_form.form.area__gt.name }}" id="{{ filter_form.form.area__gt.id_for_label }}" placeholder="{% trans 'От' %}">
								</div>
								<div class="form_number">
                                    <input value="{{ filter_form.form.area__lt.data }}" class="price_lt" type="number" name="{{ filter_form.form.area__lt.name }}" id="{{ filter_form.form.area__lt.id_for_label }}" placeholder="{% trans 'До' %}">
								</div>
							</div>
							<div class="form_item form_select form_wrapper form_wrapper_earth area_select">
								<label for="type_ads">{% trans 'Район' %}:</label>
								{{ filter_form.form.district }}
							</div>
							<div class="form_item form_select form_wrapper form_wrapper_earth">
								<label for="type_ads2">{% trans 'Тип участка' %}:</label>
								{{ filter_form.form.type_area }}
							</div>
							<div class="form_actions">
								<div class="links">
									<div class="search_clear"><a href="{% url 'objects:earth' %}">{% trans 'очистить' %}</a></div>
								</div>
								<input type="submit" value="{% trans 'Поиск' %}" class="search-click">
							</div>
						</form>
						<div class="top_wrap">
							<div class="left_wrap">
								<div class="count_result">
                                    <div class="count_result">
                                        {% if not object_list.count %}
                                            {{ object_list.count }}
                                            {% else %}
                                            {% if object_list.count < 10 %}
                                                1-{{ object_list.count }} из {{ object_list.count }}
                                                {% else %}
                                                1-10 из
                                                {% if count_obj %}
                                                    {{ count_obj }}
                                                    {% else %}
                                                    {{ object_list.count }}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                         {% trans 'результатов' %}
                                    </div>
                                </div>
							</div>
							<div class="right_wrap">
								<div class="sortable">
									<label for="sort">{% trans 'Сортировка' %}:</label>
									<select name="sort" id="sort">
										<option value="1">{% trans 'Новые наверху' %}</option>
										<option value="2">{% trans 'Новые внизу' %}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="bottom_wrap">
                            {% include 'rieltor_object/filters/earth_filter.html' %}
							<div class="form_actions">
								<input type="submit" value="{% trans 'Подобрать землю' %}" class="open-object-parameter">
							</div>
						</div>
					</div>
					<div class="block block_earth">
						<div class="block_content">
							<div class="view_content">
                                {% for object in object_list %}
                                    <div class="views_row">
                                        <div class="title">{{ object.title|default:'' }}</div>
                                        <div class="top_wrap">
                                            <div class="left_wrap">
                                                <div class="map"><div id="map" style="width: 542px; height: 293px;"></div></div>
                                            </div>
                                            {% with object.images.all as images %}
                                                {% if images %}
                                                    <div class="right_wrap">
                                                        <div class="slider" id="slider">
                                                            {% for image in images %}
                                                                <div class="item"><img src="{{ image.image|thumbnail_url:'earth_image_542' }}" alt="" width="100%"></div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endwith %}
                                        </div>
                                        <div class="bottom_wrap">
                                            <div class="left_wrap">
                                                <div class="char_item">
                                                    <div class="label">{% trans 'Тип участка' %}:</div>
                                                    <div class="item">{{ object.get_type_area_display|default:'' }}</div>
                                                </div>
                                                <div class="char_item">
                                                    <div class="label">{% trans 'Район' %}:</div>
                                                    <div class="item">{{ object.district|default:'' }}</div>
                                                </div>
                                                <div class="char_item">
                                                    <div class="label">{% trans 'До города' %}:</div>
                                                    <div class="item">{{ object.to_city|default:'----' }} км</div>
                                                </div>
                                                <div class="char_item">
                                                    <div class="label">ID:</div>
                                                    <div class="item">{{ object.custom_id }}</div>
                                                </div>
                                                <div class="char_item">
                                                    <div class="label">{% trans 'Коммуникации' %}:</div>
                                                        <div class="item">
                                                            {% for communication in object.communication %}
                                                                {{ communication }} {% if not forloop.last %},{% endif %}
                                                            {% endfor %}
                                                        </div>
                                                </div>
                                                <div class="char_item">
                                                    <div class="label">{% trans 'Строение дома' %}:</div>
                                                        <div class="item">
                                                            {% for structure_house in object.structure_house %}
                                                                {{ structure_house }} {% if not forloop.last %},{% endif %}
                                                            {% endfor %}
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="center_wrap">
                                                <div class="address">{{ object.address|default:'' }}</div>
                                                <div class="body">{{ object.description|safe }}</div>
                                            </div>
                                            <div class="right_wrap">
                                                <div class="info_wrap">
                                                    <div class="item">
                                                        <div class="label">{% trans 'Участок' %}:</div>
                                                        <div class="count">{{ object.area|default:'' }} соток</div>
                                                    </div>
                                                    <div class="item">
                                                        <div class="label">{% trans 'Цена' %}:</div>
                                                        <div class="count">$ {{ object.price|default:'' }}</div>
                                                    </div>
                                                </div>
                                                <div class="contacts">
                                                    <div class="title">{% trans 'Контакты' %}:</div>
                                                    <div class="item field_name">
                                                        <div class="label">{% trans 'Имя' %}:</div>
                                                        <div class="field_item">{{ object.name|default:'' }}</div>
                                                    </div>
                                                    <div class="item field_phone">
                                                        <div class="label">{% trans 'Телефон' %}:</div>
                                                        <div class="field_item">{{ object.phone|default:'' }}</div>
                                                    </div>
                                                    <div class="btn submit-add-inspection-modal">{% trans 'Заказать просмотр' %}</div>
                                                    <div class="read_more" style="display: none"><a href="{{ object.custom_id }}"></a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

{#								<div class="load_more read_more"><a href="#">Загрузить еще <span>45</span> объектов</a></div>#}
							</div>
						</div>
					</div>
				</div><!-- #content-->
			</div>
		</div>
		{% include 'seo/seo.html' %}
		{% include 'common/include/vip.html' %}
        {% include 'common/application/modal_object_parameter.html' with earth=True %}
		{% downbanner %}
	</main><!-- .content -->
{% endblock content %}
{% block js %}
    <script>
        var BASE_URL = '{{ BASE_URL }}';
    </script>
    <script src="{% static 'js/search_form.js' %}"></script>
    <script>
        $(document).ready(function(){
                    try {

                      ymaps.ready(init);

                    } catch (err) {

                      // обработка ошибки

                    }


                    function init() {
                        var myMap = new ymaps.Map('map', {
                            center: [55.753994, 37.622093],
                            zoom: 9
                        });

                        ymaps.geocode('{% city %}, {{ object.address }}', {
                            results: 1
                        }).then(function (res) {
                            var firstGeoObject = res.geoObjects.get(0),
                            coords = firstGeoObject.geometry.getCoordinates(),
                            bounds = firstGeoObject.properties.get('boundedBy');

                            myMap.geoObjects.add(firstGeoObject);
                            myMap.setBounds(bounds, {
                                checkZoomRange: true
                            });
                        });
                    }
        });
    </script>
{% endblock js %}