{% extends 'base.html' %}
{% load static from staticfiles %}
{% load video_tag %}
{% load admin_tags %}
{% load thumbnail %}
{% block css %}{% endblock css %}

{% block class_body %}  class="not-front newbuilding sidebar_first" {% endblock %}

{% block content %}
	<main class="middle">
		<div class="slider_main slider_notfront">
			<div class="slider_title">Продажа квартир в новостроях по всей Одессе</div>
			<form action="#" class="webform_client_form">
				<div class="form_item search">
					<input type="text" placeholder="Искать в тексте объявления">
				</div>
				<div class="form_actions">
					<input class="form-submit" type="submit" value="Найти">
				</div>
			</form>
		</div>
		<div class="middle_inner">		
			<div class="container">
				<div id="content">
					<div class="block search_results">
						<div class="top_wrap">
							<div class="left_wrap">
								<div class="count_result">1-20 из 128 результатов</div>
							</div>
							<div class="right_wrap">
								<div class="sortable">								
									<label for="sort">Сортировка:</label>
									<select name="sort" id="sort">
										<option value="1">Новые наверху</option> 
										<option value="2">Новые внизу</option> 
									</select>
								</div>
							</div>
						</div>
						<div class="bottom_wrap">
							<div class="filters">
								<div class="item">Куплю<div class="close"></div></div>
								<div class="item">Офис<div class="close"></div></div>
								<div class="item">5000-10000 грн<div class="close"></div></div>
								<div class="item">40-50 м. кв.<div class="close"></div></div>
							</div>
							<div class="form_actions">
								<input type="submit" value="Подобрать объект">
							</div>
						</div>
					</div>
					<div class="block block_shops block_search_results block_newbuilding_row">
						<div class="block_content">
							<div class="view_content">
                                {% for object in objects %}
                                    <div class="views_row">
                                        <div class="left_wrap">
                                            <div class="title">{{ object.title }}</div>
                                            <div class="field_images">
                                                <div class="star"></div>
                                                <div class="field_image">
                                                    {% for image in object.images.all %}
                                                        <img src="{{ image.image|thumbnail_url:'gallery_image_469' }}" alt="">
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="views_body">
                                                <div class="text">{{ object.description }}</div>
                                                <div class="address">{{ object.address }}</div>
                                            </div>
                                        </div>
                                        <div class="right_wrap">
                                            <div class="title">Свободные объекты</div>
                                            {% for build in object.building.all|slice:':2' %}
                                                <div class="views_row">
                                                    <div class="field_img">
                                                        <img src="{{ build.images.first.image|thumbnail_url:'gallery_image_233' }}" alt="">
                                                    </div>
                                                    {% if build.footage %}
                                                        <div class="area">{{ build.footage }} м2</div>
                                                    {% endif %}
                                                    {% if build.price %}
                                                        <div class="price">{{ build.price }}$</div>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                            <div class="see_more"><a href="{% url 'objects:buildings' %}">Смотреть больше</a></div>
                                        </div>
                                        <div class="bottom_wrap">
                                            <div class="top_wrap">
                                                <div class="left_wrap">
                                                    <div class="price info">
                                                        <div class="label">Цена за м2:</div>
                                                        <div class="item">{{ object.price }} грн</div>
                                                    </div>
                                                    <div class="info">
                                                        <div class="label">Дата сдачи:</div>
                                                        <div class="item">{{ object.end_construction|date:'d.m.Y' }}</div>
                                                    </div>
                                                </div>
                                                <div class="right_wrap">
                                                    <div class="statistics">{{ object.views }}</div>
                                                    <div class="read_more preview"><a href="/">Заказать просмотр</a></div>
                                                    <div class="read_more"><a href="{{ object.get_absolute_url }}">Подробнее</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

								<div class="load_more_wrap">
									<div class="read_more load_more"><a href="#">Загрузить еще 45 объектов</a></div>									
								</div>
							</div>
						</div>
					</div>
				</div><!-- #content-->
				
			</div>
			<div class="left_sidebar">
				<div class="block property_search">
					<div class="form_title">Поиск новостроек</div>
					<form action="#" class="webform_client_form">						
						<div class="form_item form_select form_wrapper">
							<label for="type_ads">Район:</label>
                            {{ filter_form.form.district__in }}
						</div>
                        <div class="form_item form_select form_wrapper">
							<label for="type_ads">{{ filter_form.form.start_construction.label }}:</label>
                            {{ filter_form.form.start_construction }}
						</div>
                        <div class="form_item form_select form_wrapper">
							<label for="type_ads">{{ filter_form.form.end_construction.label }}:</label>
                            {{ filter_form.form.end_construction }}
						</div>
						<div class="form_item group form_wrapper">
							<label>Стоимость:</label>
							<div class="form_number">
								{{ filter_form.form.price__gt }}
							</div>
							<div class="form_number">
								{{ filter_form.form.price__lt}}
							</div>
							<select name="price_currency" class="price_currency">
								<option value="uah">грн</option>
								<option value="rub">руб</option>
							</select>
						</div>
						<div class="form_item group form_wrapper">
							<label>Площадь:</label>
							<div class="form_number">
								{{ filter_form.form.total_area__gt }}
							</div>
							<div class="form_number">
								{{ filter_form.form.total_area__lt}}
							</div>
							<select name="price_currency" class="price_currency">
								<option value="meter">м. кв.</option>
								<option value="centimeter">см. кв.</option>
							</select>
						</div>
						<div class="form_item group form_wrapper">
							<label>Расположение:</label>
							<div class="form_checkboxes">
								<div class="form_checkbox">								
									<input type="checkbox" id="check_1">
									<label for="check_1">Фасад</label>																	
								</div>
								<div class="form_checkbox">								
									<input type="checkbox" id="check_2">
									<label for="check_2">Дворовой</label>																	
								</div>
								<div class="form_checkbox">								
									<input type="checkbox" id="check_3">
									<label for="check_3">Бизнес-центр</label>																	
								</div>
							</div>
						</div>
						<div class="form_item group form_wrapper">
							<label>Этаж:</label>
							<div class="form_checkboxes">
								<div class="form_checkbox">								
									<input type="checkbox" id="check_10">
									<label for="check_10">1-й</label>																	
								</div>
								<div class="form_checkbox">								
									<input type="checkbox" id="check_20">
									<label for="check_20">Цоколь</label>																	
								</div>
								<div class="form_checkbox">								
									<input type="checkbox" id="check_30">
									<label for="check_30">Бельэтаж</label>																	
								</div>
							</div>
						</div>
						<div class="form_item group form_wrapper">
							<label>Вход:</label>
							<div class="form_checkboxes">
								<div class="form_checkbox">								
									<input type="checkbox" id="check_11">
									<label for="check_11">Фасад</label>																	
								</div>
								<div class="form_checkbox">								
									<input type="checkbox" id="check_22">
									<label for="check_22">Со двора</label>																	
								</div>
								<div class="form_checkbox">								
									<input type="checkbox" id="check_33">
									<label for="check_33">С парадной</label>																	
								</div>
							</div>
						</div>
						<div class="form_actions">
							<input type="submit" value="Поиск">
							<div class="links">
								<div class="search_clear"><a href="#">очистить</a></div>
							</div>
						</div>
					</form>
				</div>
				<div class="block block_vip">
					<div class="block_title">Vip</div>
					<div class="view_content">
						<div class="views_row">
							<div class="field_image">
								<img src="images/shop_1.png" alt="">
							</div>
							<div class="views_body">
								<div class="star active"></div>
								<div class="address">Льва Толстого, 14</div>
								<div class="price"><div class="label">Аренда:</div><div class="item">$9641</div></div>
								<div class="area"><div class="label">Магазин:</div><div class="count">90</div> <div class="units">м<sup>2</sup></div></div>
								<div class="statistics">265</div>
								<div class="read_more"><a href="/">Подробнее</a></div>
							</div>
						</div>
						<div class="views_row">
							<div class="field_image">
								<img src="images/shop_2.png" alt="">
							</div>
							<div class="views_body">
								<div class="star active"></div>
								<div class="address">Льва Толстого, 14</div>
								<div class="price"><div class="label">Аренда:</div><div class="item">$9641</div></div>
								<div class="area"><div class="label">Магазин:</div><div class="count">90</div> <div class="units">м<sup>2</sup></div></div>
								<div class="statistics">265</div>
								<div class="read_more"><a href="/">Подробнее</a></div>
							</div>
						</div>
						<div class="views_row">
							<div class="field_image">
								<img src="images/shop_3.png" alt="">
							</div>
							<div class="views_body">
								<div class="star active"></div>
								<div class="address">Льва Толстого, 14</div>
								<div class="price"><div class="label">Аренда:</div><div class="item">$9641</div></div>
								<div class="area"><div class="label">Магазин:</div><div class="count">90</div> <div class="units">м<sup>2</sup></div></div>
								<div class="statistics">265</div>
								<div class="read_more"><a href="/">Подробнее</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="block banner">
					<div class="field_image"><img src="images/banner.png" alt=""></div>
				</div>
				<div class="block block_services">
					<div class="block_content">
						<div class="block_title">Наши услуги</div>
						<div class="view_content">
							<div class="views_row">
								<div class="field_image"><a href="/"><img src="images/left_1.png" alt=""></a></div>
								<div class="field_title"><a href="/">Кредитование</a></div>
							</div>
							<div class="views_row">
								<div class="field_image"><a href="/"><img src="images/left_2.png" alt=""></a></div>
								<div class="field_title"><a href="/">Установка газовых счетчиков</a></div>
							</div>
							<div class="views_row">
								<div class="field_image"><a href="/"><img src="images/left_3.png" alt=""></a></div>
								<div class="field_title"><a href="/">Установка счетчиков тепла</a></div>
							</div>
							<div class="views_row">
								<div class="field_image"><a href="/"><img src="images/left_4.png" alt=""></a></div>
								<div class="field_title"><a href="/">Инфоксводоканал</a></div>
							</div>							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="block block_seo">
			<div class="block_content">
				<div class="block_title">Риэлторские услуги в Одессе</div>
				<div class="view_content">
					<div class="body">
						<div class="image">
							<img src="images/img.png" alt="" class="left">						
						</div>
						<div class="content_body">						
							<p>Еще не знаете, какое помещение в Одессе арендовать или купить под бизнес? Наше агентство недвижимости «GEK» поможет не только с поиском, но и выполнит всю бумажную работу за Вас.</p>
							<p>На нашем сайте Вы найдете:</p>
							<ul>
								<li>Отобранные магазины в аренду, а так же в продажу по самым доступным ценам от проверенных хозяев.</li>
								<li>Большой выбор офисов в аренду или продажу, как с ремонтом и мебелью, так и под ремонт с гораздо меньшей стоимостью.</li>
							</ul>
							<p>Коммерческая недвижимость является привлекательным инвестиционным объектом. Ее приобретают с различными целями – для ведения своего бизнеса, сдачи в аренду или перепродажи. Таким образом, коммерческая недвижимость в Украине является высокодоходным активом, поэтому и данный сектор рынка недвижимости постоянно развивается. Коммерческая недвижимость представляет собой помещения, здания и различные объекты, которые используются для ведения бизнеса и</p>
							<p>На нашем сайте Вы найдете:</p>
							<ul>
								<li>Отобранные магазины в аренду, а так же в продажу по самым доступным ценам от проверенных хозяев.</li>
								<li>Большой выбор офисов в аренду или продажу, как с ремонтом и мебелью, так и под ремонт с гораздо меньшей стоимостью.</li>
							</ul>
						</div>
					</div>
					<div class="read_more"><a href="/">Читать всю статью</a></div>
				</div>
			</div>
		</div>
	</main><!-- .content -->
{% endblock content %}
{% block js %}
    <script src="{% static 'js/search_form.js' %}"></script>
{% endblock js %}