{% extends 'base.html' %}
{% load static from staticfiles %}
{% load video_tag %}
{% load admin_tags %}
{% load thumbnail %}
{% load banners_tag %}
{% load rieltor_tag %}
{% block css %}{% endblock css %}

{% block SEOTitle %} {{ seo.SEOTitle|default_if_none:'' }} {% endblock SEOTitle %}
{% block SEOKeywords %}{{ seo.SEOKeywords|default_if_none:'' }}{% endblock SEOKeywords %}
{% block SEODescription %}{{ seo.SEODescription|default_if_none:'' }}{% endblock SEODescription %}

{% block class_body %}  class="not-front newbuilding sidebar_first" {% endblock %}

{% block content %}
	<main class="middle">
		<div class="slider_main slider_notfront" {% if newbuildingpagemodel.image %}style="background: url({{ newbuildingpagemodel.image.url }}) no-repeat center/cover"{% endif %}>
			<div class="slider_title">{{ seo.title|default:'Продажа квартир в новостроях' }}</div>
			<form action="#" class="webform_client_form">
				<div class="form_item search">
					<input type="text" placeholder="Искать в тексте объявления">
				</div>
				<div class="form_actions">
					<input class="form-submit" type="submit" value="Найти">
				</div>
			</form>
		</div>
		<div class="middle_inner">		
			<div class="container">
				<div id="content">
					<div class="block search_results">
						<div class="top_wrap">
							<div class="left_wrap">
								<div class="count_result">
                                    {% if not object_list.count %}
                                        {{ object_list.count }}
                                        {% else %}
                                        {% if object_list.count < 10 %}
                                            1-{{ object_list.count }} из {{ object_list.count }}
                                            {% else %}
                                            1-10 из
                                            {% if count_obj %}
                                                {{ count_obj }}
                                                {% else %}
                                                {{ object_list.count }}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                     результатов
                                </div>
							</div>
							<div class="right_wrap">
								<div class="sortable">								
									<label for="sort">Сортировка:</label>
									<select name="sort" id="sort">
										<option value="1">Новые наверху</option> 
										<option value="2">Новые внизу</option> 
									</select>
								</div>
							</div>
						</div>
						<div class="bottom_wrap">
							<div class="filters">
                                {% for district in filter_form.form.district %}
                                    {% if district.data.selected and '-' not in district.choice_label %}
                                        <div class="item">{{ district.choice_label }}<div class="close" data-href="{% filterpath request.path district.data.name district.data.value %}"></div></div>
                                    {% endif %}
                                {% endfor %}
								{% if filter_form.form.price__gt.data or filter_form.form.price__lt.data %}
                                    <div class="item">
                                        {% if filter_form.form.price__gt.data %}
                                            {% if not filter_form.form.price__lt.data %}
                                                От {{ filter_form.form.price__gt.data }}
                                                {% else %}
                                                {{ filter_form.form.price__gt.data }}
                                            {% endif %}
                                        {% endif %}
                                        {% if filter_form.form.price__lt.data %}
                                            {% if not filter_form.form.price__gt.data %}
                                                До {{ filter_form.form.price__lt.data }}
                                                {% else %}
                                                -{{ filter_form.form.price__lt.data }}
                                            {% endif %}
                                        {% endif %} грн
                                        <div class="close" data-href="
                                             {% if filter_form.form.price__gt.data and filter_form.form.price__lt.data %}
                                                {% filterpath request.path filter_form.form.price__gt.name filter_form.form.price__gt.data filter_form.form.price__lt.name filter_form.form.price__lt.data %}
                                                {% elif filter_form.form.price__gt.data %}
                                                    {% filterpath request.path filter_form.form.price__gt.name filter_form.form.price__gt.data %}
                                                {% elif filter_form.form.price__lt.data %}
                                                    {% filterpath request.path filter_form.form.price__lt.name filter_form.form.price__lt.data %}
                                             {% endif %}
                                        "></div>
                                    </div>
                                {% endif %}
                                {% if filter_form.form.price_object__gt.data or filter_form.form.price_object__lt.data %}
                                    <div class="item">
                                        {% if filter_form.form.price_object__gt.data %}
                                            {% if not filter_form.form.price_object__lt.data %}
                                                От {{ filter_form.form.price_object__gt.data }}
                                                {% else %}
                                                {{ filter_form.form.price_object__gt.data }}
                                            {% endif %}
                                        {% endif %}
                                        {% if filter_form.form.price_object__lt.data %}
                                            {% if not filter_form.form.price_object__gt.data %}
                                                До {{ filter_form.form.price_object__lt.data }}
                                                {% else %}
                                                -{{ filter_form.form.price_object__lt.data }}
                                            {% endif %}
                                        {% endif %} грн
                                        <div class="close" data-href="
                                             {% if filter_form.form.price_object__gt.data and filter_form.form.price_object__lt.data %}
                                                {% filterpath request.path filter_form.form.price_object__gt.name filter_form.form.price_object__gt.data filter_form.form.price_object__lt.name filter_form.form.price_object__lt.data %}
                                                {% elif filter_form.form.price_object__gt.data %}
                                                    {% filterpath request.path filter_form.form.price_object__gt.name filter_form.form.price_object__gt.data %}
                                                {% elif filter_form.form.price_object__lt.data %}
                                                    {% filterpath request.path filter_form.form.price_object__lt.name filter_form.form.price_object__lt.data %}
                                             {% endif %}
                                        "></div>
                                    </div>
                                {% endif %}
                                {% if filter_form.form.total_area__gt.data or filter_form.form.total_area__lt.data %}
                                    <div class="item">
                                        {% if filter_form.form.total_area__gt.data %}
                                            {% if not filter_form.form.total_area__lt.data %}
                                                От {{ filter_form.form.total_area__gt.data }}
                                                {% else %}
                                                {{ filter_form.form.total_area__gt.data }}
                                            {% endif %}
                                        {% endif %}
                                        {% if filter_form.form.total_area__lt.data %}
                                            {% if not filter_form.form.total_area__gt.data %}
                                                До {{ filter_form.form.total_area__lt.data }}
                                                {% else %}
                                                -{{ filter_form.form.total_area__lt.data }}
                                            {% endif %}
                                        {% endif %} м.кв
                                        <div class="close" data-href="
                                             {% if filter_form.form.total_area__gt.data and filter_form.form.total_area__lt.data %}
                                                {% filterpath request.path filter_form.form.total_area__gt.name filter_form.form.total_area__gt.data filter_form.form.total_area__lt.name filter_form.form.total_area__lt.data %}
                                                {% elif filter_form.form.total_area__gt.data %}
                                                    {% filterpath request.path filter_form.form.total_area__gt.name filter_form.form.total_area__gt.data %}
                                                {% elif filter_form.form.total_area__lt.data %}
                                                    {% filterpath request.path filter_form.form.total_area__lt.name filter_form.form.total_area__lt.data %}
                                             {% endif %}
                                        "></div>
                                    </div>
                                {% endif %}

							</div>
							<div class="form_actions">
								<input type="submit" value="Подобрать объект">
							</div>
						</div>
					</div>
					<div class="block block_shops block_search_results block_newbuilding_row">
						<div class="block_content">
							<div class="view_content">
                                {% for object in object_list %}
                                    {% include 'rieltor_object/include/newbuilding_item.html' %}
                                {% endfor %}
								<div class="load_more_wrap">
									<div class="read_more load_more"><a href="#">Загрузить еще 45 объектов</a></div>									
								</div>
							</div>
						</div>
					</div>
				</div><!-- #content-->
				
			</div>
			<div class="left_sidebar">
				<div class="block property_search">
					<div class="form_title">Поиск новостроек</div>
					<form action="." method="get" class="webform_client_form search-form">
						<div class="form_item form_select form_wrapper">
							<label for="type_ads">Район:</label>
                            {{ filter_form.form.district }}
						</div>
                        <div class="form_item form_wrapper">
							<label for="type_ads">{{ filter_form.form.end_construction.label }}:</label>
                            <div class="form_number" style="100%">
                                {{ filter_form.form.end_construction }}
                            </div>
						</div>
                        <br>
						<div class="form_item group form_wrapper">
							<label>Стоимость:</label>
							<div class="form_number" style="width:32%">
                                {% if filter_form.form.price__gt.data %}
                                        <input value="{{ filter_form.form.price__gt.data }}" class="price_gt" type="number" name="{{ filter_form.form.price__gt.name }}" id="{{ filter_form.form.price__gt.id_for_label }}" placeholder="От" style="width: 100%">
                                    {% else %}
                                        <input value="{{ filter_form.form.price_object__gt.data }}" class="price_gt" type="number" name="{{ filter_form.form.price_object__gt.name }}" id="{{ filter_form.form.price_object__gt.id_for_label }}" placeholder="От" style="width: 100%">
                                {% endif %}
							</div>
							<div class="form_number" style="width:32%">
                                {% if filter_form.form.price__lt.data %}
                                        <input value="{{ filter_form.form.price__lt.data }}" class="price_lt" type="number" name="{{ filter_form.form.price__lt.name }}" id="{{ filter_form.form.price__lt.id_for_label }}" placeholder="До" style="width: 100%">
                                    {% else %}
                                        <input value="{{ filter_form.form.price_object__lt.data }}" class="price_lt" type="number" name="{{ filter_form.form.price_object__lt.name }}" id="{{ filter_form.form.price_object__lt.id_for_label }}" placeholder="До" style="width: 100%">
                                {% endif %}
							</div>
                            <div class="form_number">
                                <select name="" id="item_value">
                                    <option value="1" {% if filter_form.form.price__gt.data or filter_form.form.price__lt.data %}selected{% endif %}>м.кв</option>
                                    <option value="2" {% if filter_form.form.price_object__gt.data or filter_form.form.price_object__lt.data %}selected{% endif %}>обьект</option>
                                </select>
                            </div>
						</div>
						<div class="form_item group form_wrapper">
							<label>Площадь квартиры:</label>
							<div class="form_number">
                                <input value="{{ filter_form.form.total_area__gt.data }}" type="number" name="{{ filter_form.form.total_area__gt.name }}" id="{{ filter_form.form.total_area__gt.id_for_label }}" placeholder="От">
							</div>
							<div class="form_number">
                                <input value="{{ filter_form.form.total_area__lt.data }}" type="number" name="{{ filter_form.form.total_area__lt.name }}" id="{{ filter_form.form.total_area__lt.id_for_label }}" placeholder="До">
							</div>
						</div>
						<div class="form_actions">
							<input type="submit" value="Поиск" class="searh-click">
							<div class="links">
								<div class="search_clear"><a href="{% url 'objects:newbuildings' %}">очистить</a></div>
							</div>
						</div>
					</form>
				</div>
				{% include 'common/include/vip_left_sidebar.html' %}
				{% sidebanner %}
				{% include 'services/include/services_sidebar.html' %}
			</div>
		</div>
		{% include 'seo/seo.html' %}
        {% include 'common/application/block_presentation.html' with source=seo %}
	</main><!-- .content -->
{% endblock content %}
{% block js %}
    <script>
        var BASE_URL = '{{ BASE_URL }}';
    </script>
    <script src="{% static 'js/search_form.js' %}"></script>
    <script>
        $(document).ready(function() {
            $(document).on('change', '#item_value', function () {
                var value = $(this).val();
                if(value==='1'){
                    $('.price_gt').attr({'name': 'price__gt', 'id': 'id_price__gt'});
                    $('.price_lt').attr({'name': 'price__lt', 'id': 'id_price__lt'});
                }else if(value==='2'){
                    $('.price_gt').attr({'name': 'price_object__gt', 'id': 'id_price_object__gt'});
                    $('.price_lt').attr({'name': 'price_object__lt', 'id': 'id_price_object__lt'});
                }
            });
            $('.datepicker_c').datepicker({ dateFormat: 'dd.mm.yy' })
        });
    </script>
{% endblock js %}