{% extends 'base.html' %}
{% load static from staticfiles %}
{% load thumbnail %}
{% load favorites_tag %}
{% load video_tag %}
{% load banners_tag %}
{% block css %}{% endblock css %}

{% block SEOTitle %} {{ seo.SEOTitle }} {% endblock SEOTitle %}
{% block SEOKeywords %}{{ seo.SEOKeywords }}{% endblock SEOKeywords %}
{% block SEODescription %}{{ seo.SEODescription }}{% endblock SEODescription %}

{% block class_body %}  class="not-front tests test_passing" {% endblock %}

{% block content %}
	<main class="middle">
		<div class="slider_main slider_notfront"{% if object.image %}
                style="background: url({{ object.image.url }}) no-repeat center/cover"{% endif %}>
			<h1 class="slider_title page_title">{{ object.title }}</h1>
		</div>
		<div class="middle_inner">		
			<div class="container">
				<div id="content">
					<div class="block block_test_passing">
						<div class="block_content">
							<div class="view_content">
								<div class="views_row">
									<div class="view_row_inner">
										{% include 'polls/include/question.html' %}
									</div>
								</div>	
							</div>
						</div>
					</div>						
				</div><!-- #content-->
				
			</div>			
		</div>
		{% downbanner %}
	</main><!-- .content -->

{% endblock content %}

{% block js %}
    <script>
        $(document).ready(function() {
            var result = 0;
            $('.view_row_inner').on('click', 'input', function () {
                var balls = parseInt($( "input:checked" ).val());
                var data = $('#object_id').val();
                if(data === '0'){
                    result = balls + result;
                    window.location.replace('get-result/'+result);
                    $.get('get-result/'+result)
                }else{
                    $.get('next-question/'+data)
                        .then(function(response) {
                            $('.view_row_inner').html(response);
                            result = balls + result;
                        }, function(err) {});
                }

            })
        })
    </script>
{% endblock js %}