<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
	<title>Тест прохождение</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta property="glyanec:code" content="39eef315143e93d76d452ab02a15ad2f">
	<link rel="stylesheet" type="text/css" href="css/social-likes_flat.css"/>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
	<link rel="stylesheet" type="text/css" href="css/slicknav.css"/>
	<link href="style.css" rel="stylesheet">
	<link rel="shortcut icon" href="favicon.ico" type="image/png">
	<!-- Responsible for the project: ID764 -->
	<!-- Website development - http://glyanec.net/ -->
</head>

<body class="not-front tests test_passing">

<div class="wrapper">

	<header class="header">
		<div class="header_content">
			<div class="logo_wrapper">
				<a href="/" class="logo"><img src="images/logo.png" alt=""><span class="site_name">usatba-krm</span><span class="domen">.DN.UA</span></a>
			</div>
			<div class="region_header">
				<div class="contacts_header">
					<div class="phone_number">
						<a href="tel:+380679280167">(067) 928 01 67</a>
					</div>
					<div class="address">г. Одесса, ул. Успенская, 33.</div>
					<div class="email"><a href="mailto:ofis@gek.od.ua">ofis@gek.od.ua</a></div>
				</div>
				<div class="benefits">
					<div class="item test"><a href="/">Пройди тест</a></div>
					<div class="item video"><a href="/">Смотреть видео</a></div>
					<div class="item plan"><a href="/">Составить план</a></div>
					<div class="item favorite"><a href="/">Избранное</a></div>
				</div>
				<div class="buttons_header">
					<div class="application">Оставить заявку</div>
					<div class="add_advert">Добавить объявление</div>
				</div>
			</div>
		</div>
		<div class="block_main_menu">
			<div class="block_content">
				<ul class="menu">
					<li class="leaf"><a href="/" >Главная</a></li>
					<li class="leaf"><a href="/" >Недвижимость</a></li>
					<li class="leaf"><a href="/" class="active">Услуги</a></li>
					<li class="leaf"><a href="/">Статьи</a></li>
					<li class="leaf"><a href="/">Доверие</a></li>
					<li class="leaf"><a href="/">Контакты</a></li>
				</ul>
			</div>
		</div>
	</header><!-- .header-->

	<main class="middle">
		<div class="slider_main slider_notfront">
			<h1 class="slider_title page_title">Умеете ли вы выбирать недвижимость?</h1>
		</div>
		<div class="middle_inner">		
			<div class="container">
				<div id="content">
					<div class="block block_test_passing">
						<div class="block_content">
							<div class="view_content">
								<div class="views_row">
									<div class="view_row_inner">
										<div class="title">Кто такой риэлтор?</div>
										<form action="#" class="webform_client_form">
											<div class="form_radios">
												<div class="form_radio">
													<input type="radio" id="val_1" name="test">
													<label for="val_1">это посредник между покупателем и продавцом</label>
												</div>
												<div class="form_radio">
													<input type="radio" id="val_2" name="test">
													<label for="val_2">это человек, которому платят комиссионные</label>
												</div>
												<div class="form_radio">
													<input type="radio" id="val_3" name="test">
													<label for="val_3">человек, который продает дом</label>
												</div>
												<div class="form_radio">
													<input type="radio" id="val_4" name="test">
													<label for="val_4">человек, который покупает квартиру</label>
												</div>
												<div class="form_radio">
													<input type="radio" id="val_5" name="test">
													<label for="val_5">сомневаюсь ответить</label>
												</div>											
											</div>
										</form>
									</div>
								</div>	
							</div>
						</div>
					</div>						
				</div><!-- #content-->
				
			</div>			
		</div>
		<div class="block region_banner">
			<div class="field_banner"><img src="images/banner_2.png" alt=""></div>
		</div>
	</main><!-- .content -->

</div><!-- .wrapper -->

<footer class="footer">
	<div class="footer_top">	
		<div class="region_footer">
			<div class="logo_wrapper">
				<a href="/" class="logo"><img src="images/logo.png" alt=""><span class="site_name">usatba-krm</span><span class="domen">.DN.UA</span></a>
				<div class="copyright">Все права на материалы, находящиеся на сайте, охраняются в соответствии с законодательством Украины.</div>
			</div>
			<div class="footer_center">				
				<div class="menu_footer">
					<ul>	
						<li class="group_item">
							<ul>
								<li class="leaf"><a href="/">Главная</a></li>
								<li class="leaf"><a href="/">Недвижимость</a></li>
								<li class="leaf"><a href="/">Услуги</a></li>
							</ul>
						</li>
						<li class="group_item">
							<ul>
								<li class="leaf expanded"><a href="/" class="expanded_btn" id="expanded_btn">Выбрать</a>
									<ul class="disabled">
										<li class="leaf"><a href="/">Статья1</a></li>
										<li class="leaf"><a href="/">Статья2</a></li>
										<li class="leaf"><a href="/">Статья3</a></li>
									</ul>
								</li>
								<li class="leaf"><a href="/">Статьи</a></li>
								<li class="leaf"><a href="/">Доверие</a></li>
							</ul>
						</li>
						<li class="group_item">
							<ul>
								<li class="leaf"><a href="/">Смотреть видео передачи</a></li>									
								<li class="leaf"><a href="/">Пройти тест</a></li>								
								<li class="leaf"><a href="/">Нарисовать план</a></li>								
							</ul>
						</li>
					</ul>
					<div class="visit">
						<div class="item"><img src="images/bitmap.png" alt=""></div>
						<div class="item"><img src="images/bitmap.png" alt=""></div>
						<div class="item"><img src="images/bitmap.png" alt=""></div>
						<div class="item"><img src="images/bitmap.png" alt=""></div>
					</div>
				</div>
			</div>
			<div class="footer_right">
				<div class="contacts_header">
					<div class="phone_number">
						<a href="tel:+380679280167">(067) 928 01 67</a>
					</div>
					<div class="email"><a href="mailto:ofis@gek.od.ua">ofis@gek.od.ua</a></div>
					<div class="address">г. Одесса, ул. Успенская, 33.</div>
				</div>
				<div class="buttons_header">
					<div class="application">Оставить заявку</div>
					<div class="add_advert">Добавить объявление</div>
				</div>
			</div>
			<div class="social_links">
				<div class="item fb"><a href="https://www.facebook.com/" target="_blank"></a></div>
				<div class="item vk"><a href="https://vk.com/" target="_blank"></a></div>
				<div class="item tw"><a href="https://twitter.com/" target="_blank"></a></div>
				<div class="item gp"><a href="https://www.instagram.com/" target="_blank"></a></div>
			</div>
		</div>
	</div>
	<div class="footer_bottom">	
		<div class="region_footer">
			<div class="menu_footer">
				<ul>
					<li class="group_item">
						<ul>
							<li class="leaf"><a href="/">Продажа офисов</a></li>
							<li class="leaf"><a href="/">Продажа коммерческой недвижимости</a></li>
							<li class="leaf"><a href="/">Продажа гаражей</a></li>
						</ul>						
					</li>
					<li class="group_item">
						<ul>
							<li class="leaf"><a href="/">Аренда недвижимости</a></li>
							<li class="leaf"><a href="/">Аренда квартир</a></li>
							<li class="leaf"><a href="/">Аренда домов</a></li>
						</ul>						
					</li>
					<li class="group_item">
						<ul>
							<li class="leaf"><a href="/">Аренда земельных участков</a></li>
							<li class="leaf"><a href="/">Аренда офисов</a></li>
							<li class="leaf"><a href="/">Аренда коммерческой недвижимости</a></li>
						</ul>						
					</li>
					<li class="group_item">
						<ul>
							<li class="leaf"><a href="/">Аренда недвижимости посуточно</a></li>
							<li class="leaf"><a href="/">Аренда квартир посуточно</a></li>
							<li class="leaf"><a href="/">Аренда комнат посуточно</a></li>
						</ul>						
					</li>
				</ul>				
			</div>
		</div>
	</div>
	<div class="popup_exit"></div>
	<div class="to_up"></div>
</footer><!-- .footer -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script type="text/javascript" src="js/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="js/datepicker-ru.js"></script>
<script type="text/javascript" src="js/jquery.slicknav.min.js"></script>
<script type="text/javascript" src="js/social-likes.min.js"></script>
<script type="text/javascript" src="js/jquery.livequery.js"></script>
<script type="text/javascript" src="js/giz.js"></script>
</body>
</html>