{% extends 'admin2/base.html' %}

{% load static from staticfiles %}
{% load thumbnail %}

{% block title %}{{ page_title }}{% endblock title %}

{% block css %}{% endblock css %}

{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>{{ page_title }}</h3>
                </div>
                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div style="float: right">
                            <a href="{{ create_url }}" class="btn btn-round btn-primary"><i class="fa fa-plus"></i> Создать</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Все {{ page_title }}</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="table table-striped projects">
                                <thead>
                                <tr>
                                    <th style="width: 1%">ID</th>
                                    <th style="width: 1%">Балл</th>
                                    <th style="width: 15%">Фото</th>
                                    <th style="width: 5%">Статус</th>
                                    <th style="width: 20%">Адресс</th>
                                    <th style="width: 10%">Цена</th>
                                    <th style="width: 10%">Тип</th>
                                    <th style="width: 10%">Назначение</th>
                                    <th style="width: 20%">Опубликована</th>
                                    <th style="width: 5%">
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in object_list %}
                                    <tr>
                                        <td>{{ object.custom_id|default_if_none:'--' }}</td>
                                        <td>{{ object.point|default_if_none:'--' }}</td>
                                            {% if object.image %}
                                                <td><img src="{{ object.image|thumbnail_url:'article_image_60' }}" alt=""></td>
                                            {% else %}
                                                <td><img src="{% static 'images/no_photo.png' %}" alt="" width="60px"></td>
                                            {% endif %}
                                        <td>
                                            {{ object.is_vip|yesno:'VIP, '|default_if_none:'--' }}
                                            {{ object.is_short|yesno:'Краткое, '}}
                                        </td>
                                        <td>{{ object.address|default_if_none:'--' }}</td>
                                        <td>{{ object.price|default_if_none:'--' }}</td>
                                        <td>{{ object.get_type_deal_display|default_if_none:'--' }}</td>
                                        <td>{{ object.get_appointment_display|default_if_none:'--' }}</td>
                                        <td>{{ object.when_create|date:'d.m.Y H:i' }}</td>
                                        <td>
                                            <a href="{{ object.get_delete_url }}" class="btn btn-danger btn-xs del-section"><i class="fa fa-trash-o"></i> Удалить </a>
                                            <a href="{{ object.get_edit_url }}" class="btn btn-dark btn-xs"><i class="fa fa-pencil"></i> Редактировать </a>
                                            <a href="{{ object.get_absolute_url }}" class="btn btn-success btn-xs" target="_blank"><i class="fa fa-eye"></i> На сайте </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% include 'admin2/include/paginator.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock content %}

{% block js %}
{% endblock js %}