{% load thumbnail %}
{% load staticfiles %}
{% load i18n %}
<div class="row item-infra" style="">
    <input type="hidden" value="{{ infrastructure.id }}" name="infra_id">
    <input type="hidden" value="{{ content_type }}" name="content_type">
    <div class="col-md-1 col-sm-1 col-xs-1 arrow-block">
        <i class="fa fa-arrow-left arrow-color"></i>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5">
        {% if infrastructure.image %}
            <img src="{{ infrastructure.image|thumbnail_url:'infrastructure_image_40' }}" alt="">
        {% else %}
            <img src="{% static 'images/no_photo.png' %}" alt="" width="40" height="40">
        {% endif %}
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <p>
            {% trans 'Заголовок' %}: {{ infrastructure.title }}
        </p>
    </div>
</div>