{% load thumbnail %}
{% for image in images %}
    <div class="col-md-55">
        <div class="thumbnail">
            <div class="image view view-first" style="height: 180px">
                <img style="width: 100%; display: block;" src="{{ image.image|thumbnail_url:'gallery_image_275' }}" alt="image" />
                <div class="mask" style="height: 180px">
{#                    <p>Your Text</p>#}
                    <div class="tools tools-bottom" style="margin: 93px 0 0 0">
                        <a href="#"><i class="fa fa-times"></i></a>
                        <input type="hidden" value="{{ image.id }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}