<div class="col-md-55">
    <div class="thumbnail">
        <div class="image view view-first" style="height: 180px">
            <img style="width: 100%; display: block;" src="images/media.jpg" alt="image" />
            <div class="mask" style="height: 180px">
                <p>Your Text</p>
                <div class="tools tools-bottom" style="margin: 93px 0 0 0">
                    <a href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>