{% extends 'admin2/base.html' %}

{% load static from staticfiles %}
{% load thumbnail %}

{% block title %}Услуги{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/vCheck.css' %}">
{% endblock css %}

{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Услуги</h3>
                </div>
                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div style="float: right">
                            <a href="{% url 'admin2:articles_create' %}" class="btn btn-round btn-primary"><i class="fa fa-plus"></i> Создать универсальную услугу</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Все услуги</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="table table-striped projects">
                                <thead>
                                <tr>
                                    <th style="width: 20%">Фото</th>
                                    <th style="width: 50%">Название</th>
                                    <th style="width: 20%">Вкл/Викл</th>
                                    <th style="width: 5%"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><img src="{{ rieltor_service.image|thumbnail_url:'article_image_60' }}" alt=""></td>
                                    <td>{{ rieltor_service }}</td>
                                    <td>
                                        <form class="slideThreeForm" action="">
                                            <div class="slideThree serviceStatus">
                                                <input type="checkbox"  id="slideThree{{ rieltor_service.uuid }}" name="check" {% if rieltor_service.is_enable %} checked {% endif %} />
                                                <label  for="slideThree{{ rieltor_service.uuid }}"></label>
                                                {% csrf_token %}
                                                <input type="hidden" name="content_type" value="{{ rieltor_service_content_type }}">
                                            </div>
                                        </form>
                                    </td>
                                    <td>
                                        <a href="{% url 'admin2:rieltor_service_edit' %}" class="btn btn-dark btn-xs"><i class="fa fa-pencil"></i> Редактировать </a>
                                        <a href="{{ rieltor_service.get_absolute_url }}" class="btn btn-success btn-xs" target="_blank"><i class="fa fa-eye"></i> На сайте </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="{{ valuation.image|thumbnail_url:'article_image_60' }}" alt=""></td>
                                    <td>{{ valuation }}</td>
                                    <td>
                                        <form class="slideThreeForm" action="">
                                            <div class="slideThree serviceStatus">
                                                <input type="checkbox"  id="slideThree{{ valuation.uuid }}" name="check" {% if valuation.is_enable %} checked {% endif %} />
                                                <label  for="slideThree{{ valuation.uuid }}"></label>
                                                {% csrf_token %}
                                                <input type="hidden" name="content_type" value="{{ valuation_content_type }}">
                                            </div>
                                        </form>
                                    </td>
                                    <td>
                                        <a href="{% url 'admin2:valuation_edit' %}" class="btn btn-dark btn-xs"><i class="fa fa-pencil"></i> Редактировать </a>
                                        <a href="{{ valuation.get_absolute_url }}" class="btn btn-success btn-xs" target="_blank"><i class="fa fa-eye"></i> На сайте </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="{{ repair.image|thumbnail_url:'article_image_60' }}" alt=""></td>
                                    <td>{{ repair }}</td>
                                    <td>
                                        <form class="slideThreeForm" action="">
                                            <div class="slideThree serviceStatus">
                                                <input type="checkbox"  id="slideThree{{ repair.uuid }}" name="check" {% if repair.is_enable %} checked {% endif %} />
                                                <label  for="slideThree{{ repair.uuid }}"></label>
                                                {% csrf_token %}
                                                <input type="hidden" name="content_type" value="{{ repair_content_type }}">
                                            </div>
                                        </form>
                                    </td>
                                    <td>
                                        <a href="{% url 'admin2:repair_edit' %}" class="btn btn-dark btn-xs"><i class="fa fa-pencil"></i> Редактировать </a>
                                        <a href="{{ repair.get_absolute_url }}" class="btn btn-success btn-xs" target="_blank"><i class="fa fa-eye"></i> На сайте </a>
                                    </td>
                                </tr>
                                {% for article in articles %}
                                    <tr>
                                        <td>{{ article.id }}</td>
                                        <td><img src="{{ article.image|thumbnail_url:'article_image_60' }}" alt=""></td>
                                        <td>{{ article.heading }}</td>
                                        <td>{{ article.created|date:'d.m.Y H:i' }}</td>
                                        <td>
                                            <a href="{{ article.slug }}" class="btn btn-danger btn-xs del-section"><i class="fa fa-trash-o"></i> Удалить </a>
                                            <a href="" class="btn btn-dark btn-xs"><i class="fa fa-pencil"></i> Редактировать </a>
                                            <a href="{{ article.get_absolute_url }}" class="btn btn-success btn-xs" target="_blank"><i class="fa fa-eye"></i> На сайте </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock content %}

{% block js %}
    <script src="{% static 'js/service_status.js' %}"></script>
{% endblock js %}