<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
    <li role="presentation" {% if '/admin/plan/' == request.path %}class="active"{% endif %}>
        <a href="{{ object.get_edit_url }}"  id="home-tab" role="tab">Редактировать</a>
    </li>
    <li role="presentation" {% if '/admin/plan/gallery/' == request.path %}class="active"{% endif %}>
        <a href="{% url 'admin2:plan_gallery' %}"  id="video-tab" role="tab">Галерея</a>
    </li>
    <li role="presentation" {% if '/admin/plan/templates/' == request.path %}class="active"{% endif %}>
        <a href="{% url 'admin2:plan_templates' %}"  id="video-tab" role="tab">Шаблоны планов</a>
    </li>
</ul>