{% extends 'admin2/base.html' %}

{% load static from staticfiles %}
{% load admin_tags %}
{% load thumbnail %}
{% load i18n %}

{% block title %}{% trans 'Редактирование' %} {{ verbose_name }}{% endblock title %}

{% block css %}
{% endblock css %}

{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>{{ verbose_name }}</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>{% trans 'Изменить' %} {{ object }}</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <ul class="stats-overview">
                                <li >
                                    <span class="name"> URL </span>
                                    <span class="value text-success"> <a href="{{ object.get_absolute_url }}" target="_blank">{% trans 'просмотр' %}</a></span>
                                </li>
                            </ul>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                    {% include 'admin2/polls/polls_nav.html' %}
                                    <div id="myTabContent" class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="x_panel">
                                                        <div class="x_title">
                                                            <div style="float: right">
                                                                <a href="{% url 'admin2:poll_create_question' object.id %}" class="btn btn-round btn-primary"><i class="fa fa-plus"></i> {% trans 'Создать' %}</a>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="x_content">
                                                            <table class="table table-striped projects">
                                                                <thead>
                                                                <tr>
                                                                    <th style="width: 1%">#</th>
                                                                    <th style="width: 20%">{% trans 'Вопрос' %}</th>
                                                                    <th style="width: 10%"></th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for que in object_list %}
                                                                    <tr>
                                                                        <td>{{ que.id }}</td>
                                                                        <td>{{ que.question_text }}</td>
                                                                        <td>
                                                                            <a href="{% url 'admin2:delete_question' object.id que.id %}" class="btn btn-danger btn-xs "><i class="fa fa-trash-o"></i> {% trans 'Удалить' %} </a>
                                                                            <a href="{% url 'admin2:edit_question' object.id que.id %}" class="btn btn-dark btn-xs"><i class="fa fa-pencil"></i> {% trans 'Редактировать' %} </a>
                                                                            <a href="{% url 'admin2:choices_list' object.id que.id %}" class="btn btn-warning btn-xs"><i class="fa fa-eyedropper"></i> {% trans 'Варианты' %} </a>
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        {% include 'admin2/include/paginator.html' %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock content %}

{% block js %}
    <script src="{% static 'js/service_status.js' %}"></script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imgInp").change(function(){
            readURL(this);
        });

    </script>
    {{ form.media }}
{% endblock js %}