{% extends 'admin2/base.html' %}

{% load static from staticfiles %}
{% load admin_tags %}
{% load thumbnail %}
{% load i18n %}

{% block title %}{% trans 'Редактирование' %} {{ verbose_name }}{% endblock title %}

{% block css %}
{% endblock css %}

{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>{{ verbose_name }}</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>{% trans 'Изменить' %} {{ object }}</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <ul class="stats-overview">
                                <li >
                                    <span class="name"> URL </span>
                                    <span class="value text-success"> <a href="{{ object.get_absolute_url }}" target="_blank">{% trans 'просмотр' %}</a></span>
                                </li>
                            </ul>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                    {% include 'admin2/polls/polls_nav.html' %}
                                    <div id="myTabContent" class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                            <div style="float: right">
                                                <a href="{% url 'admin2:poll_edit_question' object.id %}" class="btn btn-round btn-primary"><i class="fa fa-chevron-circle-left"></i> {% trans 'Назад' %}</a>
                                            </div>
                                            <form class="form-horizontal form-label-left" method="post" enctype="multipart/form-data" name="serviceForm">
                                                {% csrf_token %}
                                                {{ form.errors }}
                                                <div class="item form-group">
                                                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="name">{{ form.question_text.label }}:
                                                    </label>
                                                    <div class="col-md-7 col-sm-7 col-xs-12">
                                                        {{ form.question_text|addcss:'form-control col-md-7 col-xs-12'|addrows:'3'|safe }}
                                                    </div>
                                                    {% if form.question_text.errors %}
                                                        <span class="error-label">{{ form.question_text.errors }}</span>
                                                    {% endif %}
                                                </div>
                                                <div class="ln_solid"></div>
                                                <div class="form-group" style="float: right">
                                                    <div class="col-md-12">
                                                        <button id="send-service" name="save-service" type="submit" class="btn btn-success">{% trans 'Сохранить' %}</button>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock content %}

{% block js %}
    <script src="{% static 'js/service_status.js' %}"></script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imgInp").change(function(){
            readURL(this);
        });

    </script>
    {{ form.media }}
{% endblock js %}