{% load i18n %}
<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
    <li role="presentation" {% if not 'you_knows' in request.path %}class="active"{% endif %}>
        <a href="{{ object.get_edit_url }}"  id="home-tab" role="tab">{% if object.when_create %}{% trans 'Редактировать' %}{% else %}{% trans 'Создать' %}{% endif %}</a>
    </li>
    {% if object.when_create %}
        <li role="presentation" {% if 'you_knows' in request.path %}class="active"{% endif %}>
            <a href="{% url 'admin2:videos_edit_knows' object.id %}"  id="video-tab" role="tab">{% trans 'Что вы узнаете' %}</a>
        </li>
    {% endif %}
</ul>