{% extends 'base.html' %}
{% load static from staticfiles %}
{% load thumbnail %}
{% load favorites_tag %}
{% load video_tag %}
{% load banners_tag %}
{% block css %}{% endblock css %}

{% block SEOTitle %} {{ seo.SEOTitle|default_if_none:'' }} {% endblock SEOTitle %}
{% block SEOKeywords %}{{ seo.SEOKeywords|default_if_none:'' }}{% endblock SEOKeywords %}
{% block SEODescription %}{{ seo.SEODescription|default_if_none:'' }}{% endblock SEODescription %}

{% block class_body %}  class="not-front final" {% endblock %}

{% block content %}
	<main class="middle">
		<div class="slider_main slider_notfront">
			<div class="block_content">		
				<div class="slider_title">{{ form_list.name.value }}</div>
				<div class="top_inner_content">
					<div class="title">Необходимо выполнить:</div>
				</div>
				<div class="slider_list">
					<div class="item">
						<div class="li">9</div>
						<div class="field_item">Важных</div>
					</div>
					<div class="item">
						<div class="li">8</div>
						<div class="field_item">Обязательных</div>
					</div>
					<div class="item">
						<div class="li">4</div>
						<div class="field_item">По возможности</div>
					</div>				
				</div>
				<div class="social_likes_wrapper">
					<div class="label">Расскажите друзьям:</div>
					<div class="social-likes social-likes_vertical" data-counters="no">
						<div class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
						<div class="twitter" title="Поделиться ссылкой в Твиттере">Twitter</div>
						<div class="mailru" title="Поделиться ссылкой в Моём мире">Мой мир</div>
						<div class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</div>
						<div class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</div>
					</div>
				</div>	
				<div class="button_wrap">
					<div class="btn"><a href="#">Сохранить</a></div>
					<div class="btn"><a href="#">Распечатать</a></div>
				</div>	
			</div>	
		</div>
		<div class="middle_inner">		
			<div class="container">
				<div id="content">
					<div class="block block_final_wrap">
						<div class="block_content">
						<div class="group_wrap">						
							<div class="group_title">Подготовка</div>
                            {% for fields in form__preparations reversed %}
                                {% if fields.title.value %}
                                    <div class="views_row">
                                        <form action="" class="webform_client_form">
                                            <div class="left_wrap">
                                                <div class="title">{{ fields.title.value }}</div>
                                                <div class="text">{{ fields.description.value }}</div>
                                                <div class="form_item textarea">
                                                    <label for="text">Свой комментарий:</label>
                                                    <textarea id="text" disabled="disabled">{{ fields.comment.value }}</textarea>
                                                </div>
                                            </div>
                                            <div class="right_wrap">
                                                <div class="status">
                                                    <div class="important">{{ fields.priority.value }}</div>
                                                </div>
                                                <div class="form_item date">
                                                    <label for="datepicker">Когда приступите?</label>
                                                    <input type="text" id="datepicker" disabled="disabled" value="{{ fields.when_do.value }}" disabled="disabled">
                                                </div>
                                                <div class="form_item date">
                                                    <label for="datepicker2">Планируете выполнить:</label>
                                                    <input type="text" id="datepicker2" disabled="disabled" value="{{ fields.plan_do.value }}" disabled="disabled">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                {% endif %}
                            {% endfor %}
						</div>
						<div class="group_wrap">						
							<div class="group_title">Процесс</div>
							{% for fields in form__process reversed %}
                                {% if fields.title.value %}
                                    <div class="views_row">
                                        <form action="" class="webform_client_form">
                                            <div class="left_wrap">
                                                <div class="title">{{ fields.title.value }}</div>
                                                <div class="text">{{ fields.description.value }}</div>
                                                <div class="form_item textarea">
                                                    <label for="text">Свой комментарий:</label>
                                                    <textarea id="text" disabled="disabled">{{ fields.comment.value }}</textarea>
                                                </div>
                                            </div>
                                            <div class="right_wrap">
                                                <div class="status">
                                                    <div class="important">{{ fields.priority.value }}</div>
                                                </div>
                                                <div class="form_item date">
                                                    <label for="datepicker">Когда приступите?</label>
                                                    <input type="text" id="datepicker" disabled="disabled" value="{{ fields.when_do.value }}" disabled="disabled">
                                                </div>
                                                <div class="form_item date">
                                                    <label for="datepicker2">Планируете выполнить:</label>
                                                    <input type="text" id="datepicker2" disabled="disabled" value="{{ fields.plan_do.value }}" disabled="disabled">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                {% endif %}
                            {% endfor %}
						</div>
						<div class="group_wrap">						
							<div class="group_title">Завершение</div>
							{% for fields in form__finish reversed %}
                                {% if fields.title.value %}
                                    <div class="views_row">
                                        <form action="" class="webform_client_form">
                                            <div class="left_wrap">
                                                <div class="title">{{ fields.title.value }}</div>
                                                <div class="text">{{ fields.description.value }}</div>
                                                <div class="form_item textarea">
                                                    <label for="text">Свой комментарий:</label>
                                                    <textarea id="text" disabled="disabled">{{ fields.comment.value }}</textarea>
                                                </div>
                                            </div>
                                            <div class="right_wrap">
                                                <div class="status">
                                                    <div class="important">{{ fields.priority.value }}</div>
                                                </div>
                                                <div class="form_item date">
                                                    <label for="datepicker">Когда приступите?</label>
                                                    <input type="text" id="datepicker" disabled="disabled" value="{{ fields.when_do.value }}" disabled="disabled">
                                                </div>
                                                <div class="form_item date">
                                                    <label for="datepicker2">Планируете выполнить:</label>
                                                    <input type="text" id="datepicker2" disabled="disabled" value="{{ fields.plan_do.value }}" disabled="disabled">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                {% endif %}
                            {% endfor %}
						</div>
						</div>
					</div>
				</div><!-- #content-->
				
			</div>			
		</div>
		<div class="block block_presentation order_block">
			<div class="block_content">
				<div class="block_title">Хотите посмотреть объекты?</div>
				<div class="view_content">								
					<form action="#" class="webform_client_form">
						<div class="form_item user_name">
							<input type="text" placeholder="Введите ваше имя">
						</div>
						<div class="form_item phone">
							<input type="text" placeholder="Введите ваш телефон">
						</div>
						<div class="form_actions">
							<input type="submit" class="form_submit" value="Отправить">
						</div>
					</form>
				</div>
			</div>
		</div>
		{% downbanner %}
	</main><!-- .content -->
{% endblock content %}

{% block js %}{% endblock js %}