{% extends 'base.html' %}
{% load static from staticfiles %}
{% load thumbnail %}
{% load favorites_tag %}
{% load video_tag %}
{% load i18n %}
{% block css %}{% endblock css %}

{% block SEOTitle %} {{ seo.SEOTitle|default_if_none:'' }} {% endblock SEOTitle %}
{% block SEOKeywords %}{{ seo.SEOKeywords|default_if_none:'' }}{% endblock SEOKeywords %}
{% block SEODescription %}{{ seo.SEODescription|default_if_none:'' }}{% endblock SEODescription %}

{% block class_body %}  class="not-front plan" {% endblock %}

{% block content %}
	<main class="middle">
		<div class="slider_main slider_notfront"{% if object.image %}
                style="background: url({{ object.image.url }}) no-repeat center/cover"{% endif %}>
			<h1 class="slider_title page_title">{{ seo.title|default:_('План работы по недвижимости всего за 3 минуты') }}</h1>
			<div class="top_inner_content"><div class="title">{{ object.subtitle|default:_('По вашему запросу мы составим план действий') }}</div></div>
			<div class="slider_list">
				<div class="item">
					<div class="li">1</div>
					<div class="field_item">{{ object.point1|default:_('Купить квартиру') }}</div>
				</div>
				<div class="item">
					<div class="li">2</div>
					<div class="field_item">{{ object.point2|default:_('Продать дом') }}</div>
				</div>
				<div class="item">
					<div class="li">3</div>
					<div class="field_item">{{ object.point3|default:_('Арендовать квартиру') }}</div>
				</div>
				<div class="item">
					<div class="li">4</div>
					<div class="field_item">{{ object.point4|default:_('Сдать квартиру') }}</div>
				</div>
				<div class="item">
					<div class="li">5</div>
					<div class="field_item">{{ object.point5|default:_('Ремонт квартиры') }}</div>
				</div>
			</div>			
			<div class="submit"><a href="{% url 'plan:plan_create' %}">{% trans 'Создать план' %}</a></div>
		</div>
		<div class="middle_inner">		
			<div class="container">
				<div id="content">
					<div class="block_benefits">
						<div class="block_content">
							<div class="view_content">								
								<div class="views_row">
									<div class="field_img">
										<img src="{% static 'images/pl_1.png' %}" alt="">
									</div>
									<div class="text">{% trans 'Бесплатное' %} <br>{% trans 'пользование' %}</div>
								</div>
								<div class="views_row">
									<div class="field_img">
										<img src="{% static 'images/pl_2.png' %}" alt="">
									</div>
									<div class="text">{% trans 'Готовый чек лист' %} <br>{% trans 'по важным вопросам' %}</div>
								</div>
								<div class="views_row">
									<div class="field_img">
										<img src="{% static 'images/pl_3.png' %}" alt="">
									</div>
									<div class="text">{% trans 'Стимул достигнуть' %} <br>{% trans 'цели' %}</div>
								</div>
								<div class="views_row">
									<div class="field_img">
										<img src="{% static 'images/pl_4.png' %}" alt="">
									</div>
									<div class="text">{% trans 'Уже создано' %} 677 <br>{% trans 'планов' %}</div>
								</div>								
							</div>
						</div>
					</div>
                    {% if object.video %}
                        <div class="block block_video">
                            <div class="block_content">
                                {{ object.video|convert_to_frame|safe }}
                            </div>
                        </div>
                    {% endif %}
					<div class="block block_photo">
						<div class="block_content">
							<div class="block_title">{% trans 'Примеры готовых планов работы' %} <br>{% trans 'по недвижимости' %}</div>
							<div class="view_content">
                                {% for image in object.images.all %}
                                    <div class="views_row">
                                        <div class="filed_img">
                                            <img src="{{ image.image|thumbnail_url:'gallery_image_570' }}" alt="">
                                        </div>
                                    </div>
                                {% endfor %}
							</div>
						</div>
					</div>			
				</div><!-- #content-->
				
			</div>			
		</div>
		{% include 'seo/seo.html' %}
		<div class="block block_presentation">
			<div class="block_content">
				<div class="block_title">{% trans 'Начните создавать свой план работы' %} <br>{% trans 'по недвижимости уже сейчас' %}</div>
				<div class="view_content">								
					<form action="{% url 'plan:plan_create' %}" class="webform_client_form">
						<div class="form_actions">
							<input type="submit" class="form_submit" value="Создать план">
						</div>
					</form>
				</div>
			</div>
		</div>
	</main><!-- .content -->

{% endblock content %}

{% block js %}
{% endblock js %}