{% extends 'base.html' %}
{% load static from staticfiles %}
{% load thumbnail %}
{% load favorites_tag %}
{% load video_tag %}
{% load admin_tags %}
{% load banners_tag %}
{% block css %}{% endblock css %}

{% block class_body %}  class="not-front process sidebar_first" {% endblock %}

{% block content %}
	<main class="middle">
        <form action="{% url 'plan:plan_done' %}" method="post">
            {% csrf_token %}
            <div class="slider_main slider_notfront">
                <div class="slider_title">Составьте свой план </div>
                <div class="webform_client_form">
                    <div class="form_item">
                       {{ title_form.name }}
                    </div>
                    <div class="form_item form_select">
                        {{ title_form.list_plan }}
                    </div>
                    <div class="form_actions">
                        <input class="form-submit" type="submit" value="Создать">
    {#                    <button class="form-submit">Создать</button>#}
                    </div>
                </div>
            </div>
            <div class="middle_inner">
                <div class="container">
                    <div id="content">
                        <div class="block block_process block_preparations">
                            <div class="block_content">
                                <div class="block_title">Подготовка</div>
                                <div class="read_more create create_prep"><a href="#">Создать задачу</a></div>
                                <div class="view_content preparations">

                                </div>
                            </div>
                        </div>
                        <div class="block block_process during">
                            <div class="block_content">
                                <div class="block_title">Процесс</div>
                                <div class="read_more create create_processes"><a href="#">Создать задачу</a></div>
                                <div class="view_content processes">

                                </div>
                            </div>
                        </div>
                        {% downbanner %}
                        <div class="block block_process done">
                            <div class="block_content">
                                <div class="block_title">Завершение</div>
                                <div class="read_more create create_finish"><a href="#">Создать задачу</a></div>
                                <div class="view_content finish">

                                </div>
                            </div>
                        </div>
                    </div><!-- #content-->

                </div>
                <div class="left_sidebar">
                    {% include 'common/include/vip_left_sidebar.html' %}
                    {% sidebanner %}
                    <div class="block block_services">
                        <div class="block_content">
                            <div class="block_title">Наши услуги</div>
                            <div class="view_content">
                                <div class="views_row">
                                    <div class="field_image"><a href="/"><img src="images/left_1.png" alt=""></a></div>
                                    <div class="field_title"><a href="/">Кредитование</a></div>
                                </div>
                                <div class="views_row">
                                    <div class="field_image"><a href="/"><img src="images/left_2.png" alt=""></a></div>
                                    <div class="field_title"><a href="/">Установка газовых счетчиков</a></div>
                                </div>
                                <div class="views_row">
                                    <div class="field_image"><a href="/"><img src="images/left_3.png" alt=""></a></div>
                                    <div class="field_title"><a href="/">Установка счетчиков тепла</a></div>
                                </div>
                                <div class="views_row">
                                    <div class="field_image"><a href="/"><img src="images/left_4.png" alt=""></a></div>
                                    <div class="field_title"><a href="/">Инфоксводоканал</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block block_presentation">
                <div class="block_content">
                    <div class="block_title">Нужно достигать своих целей по плану!</div>
                    <div class="view_content">
                        <div  class="webform_client_form">
                            <div class="form_actions">
                                <input type="submit" class="form_submit" value="Создать план">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                {{ form__preparations.management_form }}
                {{ form__process.management_form }}
                {{ form__finish.management_form }}
        </form>
		{% downbanner %}
	</main><!-- .content -->

<div class="empty-form preparations-empty" style="display: none;">
    <div class="dynamic-form">
        <div class="views_row">
            <div class="left_wrap">
                <div class="read_more"><a href="#">Сделаю</a></div>
            </div>
            <div class="right_wrap">
                {{ form__preparations.empty_form.id }}
                <div class="webform_client_form">
                    <div class="form_textarea">
                        {{ form__preparations.empty_form.title|add_style:'height:60px;'|addrows:'3'|safe }}
                    </div>
                    <div class="form_textarea">
                        {{ form__preparations.empty_form.description|add_style:'height:60px;'|addrows:'3'|safe }}
                    </div>
                </div>
                <div class="webform_client_form">
                    <div class="form_textarea">
                        <label for="comment">Свой комментарий:</label>
                        {{ form__preparations.empty_form.comment }}
                    </div>
                    <div class="group">
                        <div class="form_item form_select status">
                            <label for="status">Приоритет задания:</label>
                            <div class="status_wrap red">
                                <span></span>
                                {{ form__preparations.empty_form.priority }}
                            </div>
                        </div>
                        <div class="form_item date">
                            <label for="">Когда приступите?</label>
                            {{ form__preparations.empty_form.when_do|addcss:'datepicker1' }}
                        </div>
                        <div class="form_item date">
                            <label for="">Планируете выполнить:</label>
                            {{ form__preparations.empty_form.plan_do|addcss:'datepicker1' }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="empty-form processes-empty" style="display: none;">
    <div class="dynamic-form">
        <div class="views_row">
            <div class="left_wrap">
                <div class="read_more"><a href="#">Сделаю</a></div>
            </div>
            <div class="right_wrap">
                {{ form__process.empty_form.id }}
                <div class="webform_client_form">
                    <div class="form_textarea">
                        {{ form__process.empty_form.title|add_style:'height:60px;'|addrows:'3'|safe }}
                    </div>
                    <div class="form_textarea">
                        {{ form__process.empty_form.description|add_style:'height:60px;'|addrows:'3'|safe }}
                    </div>
                </div>
                <div class="webform_client_form">
                    <div class="form_textarea">
                        <label for="comment">Свой комментарий:</label>
                        {{ form__process.empty_form.comment }}
                    </div>
                    <div class="group">
                        <div class="form_item form_select status">
                            <label for="status">Приоритет задания:</label>
                            <div class="status_wrap red">
                                <span></span>
                                {{ form__process.empty_form.priority }}
                            </div>
                        </div>
                        <div class="form_item date">
                            <label for="datepicker">Когда приступите?</label>
                            {{ form__process.empty_form.when_do|addcss:'datepicker1' }}
                        </div>
                        <div class="form_item date">
                            <label for="datepicker2">Планируете выполнить:</label>
                            {{ form__process.empty_form.plan_do|addcss:'datepicker1' }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="empty-form finish-empty" style="display: none;">
    <div class="dynamic-form">
        <div class="views_row">
            <div class="left_wrap">
                <div class="read_more"><a href="#">Сделаю</a></div>
            </div>
            <div class="right_wrap">
                {{ form__finish.empty_form.id }}
                <div class="webform_client_form">
                    <div class="form_textarea">
                        {{ form__finish.empty_form.title|add_style:'height:60px;'|addrows:'3'|safe }}
                    </div>
                    <div class="form_textarea">
                        {{ form__finish.empty_form.description|add_style:'height:60px;'|addrows:'3'|safe }}
                    </div>
                </div>
                <div class="webform_client_form">
                    <div class="form_textarea">
                        <label for="comment">Свой комментарий:</label>
                        {{ form__finish.empty_form.comment }}
                    </div>
                    <div class="group">
                        <div class="form_item form_select status">
                            <label for="status">Приоритет задания:</label>
                            <div class="status_wrap red">
                                <span></span>
                                {{ form__finish.empty_form.priority }}
                            </div>
                        </div>
                        <div class="form_item date">
                            <label for="datepicker">Когда приступите?</label>
                            {{ form__finish.empty_form.when_do|addcss:'datepicker1' }}
                        </div>
                        <div class="form_item date">
                            <label for="datepicker2">Планируете выполнить:</label>
                            {{ form__finish.empty_form.plan_do|addcss:'datepicker1' }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
{#    <script src="{% static 'js/superformset.js' %}"></script>#}
    <script>
    $(document).ready(function() {
        $('#id_list_plan').change(function () {
            var data = $(this).val();
            $.get('get-plan/'+data )
                .then(function(response) {
                    if(response){
                        var data = $.parseJSON(response);
                    }else{
                        $('.slider_notfront').attr('style', null);
                        $('.slider_title').text('Составьте свой план');
                        $('.preparations').html('');
                        $('.processes').html('');
                        $('.finish').html('');
                    }
                    if(data){
                        if(data.img){
                            $('.slider_notfront').attr('style', 'background:url('+data.img+') no-repeat center/cover');
                        }
                        $('.preparations').html(data.form_preparations);
                        $('.processes').html(data.form__process);
                        $('.finish').html(data.form__finish);
                        $('.slider_title').text(data.title);
                    }
                    $( ".datepicker" ).datepicker();
                }, function(err) {});
        });
        $(document).on('click', '.create_prep', function (e) {
            e.preventDefault();
            var empty_form = $('.preparations-empty').children('.dynamic-form').clone();
            var prefix = 'common-preparation-content_type-object_id';
            var TOTAL_FORMS = '#id_'+prefix+'-TOTAL_FORMS';
            for (i = 0; i < empty_form.length; i = i + 1) {
                var numb = $(TOTAL_FORMS).val();
                updateSequence(empty_form, numb, i, prefix);
            }
            $(TOTAL_FORMS).val(parseInt($(TOTAL_FORMS).val())+1);
            if(!$('#preparations').length){
                $('.preparations').append(empty_form);
            }
            $('#preparations').prepend(empty_form);
        });
        $(document).on('click', '.create_processes', function (e) {
            e.preventDefault();
            var empty_form = $('.processes-empty').children('.dynamic-form').clone();
            var prefix = 'common-process-content_type-object_id';
            var TOTAL_FORMS = '#id_'+prefix+'-TOTAL_FORMS';
            for (i = 0; i < empty_form.length; i = i + 1) {
                var numb = $(TOTAL_FORMS).val();
                updateSequence(empty_form, numb, i, prefix);
            }
            $(TOTAL_FORMS).val(parseInt($(TOTAL_FORMS).val())+1);
            if(!$('#processes').length){
                $('.processes').append(empty_form);
            }
            $('#processes').prepend(empty_form);
            $( ".datepicker1" ).datepicker();
        });
        $(document).on('click', '.create_finish', function (e) {
            e.preventDefault();
            var empty_form = $('.finish-empty').children('.dynamic-form').clone();
            var prefix = 'common-finish-content_type-object_id';
            var TOTAL_FORMS = '#id_'+prefix+'-TOTAL_FORMS';
            for (i = 0; i < empty_form.length; i = i + 1) {
                var numb = $(TOTAL_FORMS).val();
                updateSequence(empty_form, numb, i, prefix);
            }
            $(TOTAL_FORMS).val(parseInt($(TOTAL_FORMS).val())+1);
            if(!$('#finish').length){
                $('.finish').append(empty_form);
            }
            $('#finish').prepend(empty_form);
            $( ".datepicker1" ).datepicker();
        });


        var change_prefix =  function (elem, prefix, ndx) {
            var idRegex = new RegExp('(' + prefix + '-(\\d+|__prefix__))');
            var replacement = prefix + '-' + ndx;

            if (elem.attr('for')) {
            elem.attr('for', elem.attr('for').replace(idRegex, replacement));
            }
            if (elem.attr('id')) {
                elem.attr('id', elem.attr('id').replace(idRegex, replacement));
            }
            if (elem.attr('name')) {
                elem.attr('name', elem.attr('name').replace(idRegex, replacement));
            }
        };
        var updateSequence = function (rows, numb, i, prefix) {
            rows.eq(i).find('input, select, textarea, label').each(function () {
              change_prefix($(this), prefix, numb);
            });
          };

    });

    </script>
{% endblock js %}