{% extends 'base.html' %}
{% load static from staticfiles %}
{% load banners_tag %}
{% block css %}{% endblock css %}

{% block class_body %}  class="not-front articles articles_inner sidebar_first" {% endblock %}

{% block content %}
    <main class="middle">
		<div class="slider_main slider_notfront">
			<div class="top_inner_content">
				<div class="main_breadcrumbs">
                    <a href="/">Главная</a>
                    <span class="delimiter">/</span>
                    <a href="{% url 'articles:articles' %}">Статьи</a>
                    <span class="delimiter">/</span>
                    <a href="{% url 'articles:sections_detail' article.sections.slug %}">{{ article.sections.name }}</a>
                    <span class="delimiter">/</span>
                    <span>{{ article.heading }}</span>
                </div>
			</div>
			<div class="slider_title">{{ article.heading }}</div>
				<div class="icons_wrap">
					<div class="icon stat">{{ article.views }}</div>
				</div>
			<div class="social_likes_wrapper">
				<div class="label">Расскажите друзьям:</div>
				<div class="social-likes social-likes_vertical" data-counters="no">
					<div class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
					<div class="twitter" title="Поделиться ссылкой в Твиттере">Twitter</div>
					<div class="mailru" title="Поделиться ссылкой в Моём мире">Мой мир</div>
					<div class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</div>
					<div class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</div>
				</div>
			</div>
		</div>
		<div class="middle_inner">
			<div class="container">
				<div id="content">
					<div class="block block_node_content">
						<div class="field_body">
                            {{ article.content|safe }}
                            <div class="video"><iframe src="https://www.youtube.com/embed/fKMbAxliZpc?ecver=2" allowfullscreen height="353"></iframe></div>
						</div>
					</div>
				</div><!-- #content-->

			</div>
			<div class="left_sidebar">
				<div class="block block_left_menu">
					<div class="menu_wrap">
						<ul>
							<li>
                                <a href="{% url 'articles:articles' %}" >Все статьи <span class="count">{{ article_count }}</span></a>
                            </li>
                            {% for section in sections %}
                                {% if section.articles.count %}
                                    <li>
                                        <a href="{{ section.get_absolute_url }}" {% if section.slug in request.path %} class="active" {% endif %}>
                                            {{ section.name }}
                                            <span class="count">{{ section.articles.count }}</span>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
						</ul>
					</div>
				</div>
				{% sidebanner %}
				<div class="block block_services">
					<div class="block_content">
						<div class="block_title">Наши услуги</div>
						<div class="view_content">
							<div class="views_row">
								<div class="field_image"><a href="/"><img src="images/left_1.png" alt=""></a></div>
								<div class="field_title"><a href="/">Кредитование</a></div>
							</div>
							<div class="views_row">
								<div class="field_image"><a href="/"><img src="images/left_2.png" alt=""></a></div>
								<div class="field_title"><a href="/">Установка газовых счетчиков</a></div>
							</div>
							<div class="views_row">
								<div class="field_image"><a href="/"><img src="images/left_3.png" alt=""></a></div>
								<div class="field_title"><a href="/">Установка счетчиков тепла</a></div>
							</div>
							<div class="views_row">
								<div class="field_image"><a href="/"><img src="images/left_4.png" alt=""></a></div>
								<div class="field_title"><a href="/">Инфоксводоканал</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="block block_articles">
			<div class="block_content">
				<div class="block_title">Похожи статьи  на эту тему</div>
				<div class="view_content">
					<div class="views_row">
						<div class="field_image">
							<a href="/">
								<img src="images/ar_1.png" alt="">
							</a>
						</div>
						<div class="views_body">
						<div class="field_title"><a href="/">Рынок жилой недвижимости в 2016 году: спрос, предложение, цены</a></div>
						<div class="field_body">Рынок жилой недвижимости в уходящем году был достаточно активным – на этом сходятся все эксперты.</div>
						<div class="statistics">265</div>
						</div>
					</div>
					<div class="views_row">
						<div class="field_image">
							<a href="/">
								<img src="images/ar_2.png" alt="">
							</a>
						</div>
						<div class="views_body">
						<div class="field_title"><a href="/">Украинская недвижимость остается привлекательной для инвесторов</a></div>
						<div class="field_body">Киев в очередной раз принимал инвестиционный Форум недвижимости стран Восточной Европы, в ходе которого</div>
						<div class="statistics">63</div>
						</div>
					</div>
					<div class="views_row">
						<div class="field_image">
							<a href="/">
								<img src="images/ar_3.png" alt="">
							</a>
						</div>
						<div class="views_body">
						<div class="field_title"><a href="/">Покупаем земельный участок не в сезон: выгодно или нет?</a></div>
						<div class="field_body">Завершение теплого периода года обычно негативно отражается на активности рынка земельных участков.</div>
						<div class="statistics">96</div>
						</div>
					</div>
					<div class="views_row">
						<div class="field_image">
							<a href="/">
								<img src="images/ar_4.png" alt="">
							</a>
						</div>
						<div class="views_body">
						<div class="field_title"><a href="/">Кредиты и рассрочки на квартиры в новостройках: что изменилось </a></div>
						<div class="field_body">Рассрочка от застройщика уже несколько лет для многих потенциальных покупателей жилья является единственным</div>
						<div class="statistics">47</div>
						</div>
					</div>
					<!-- <div class="read_more"><a href="/">Читать все статьи</a></div> -->
				</div>
			</div>
		</div>
		{% downbanner %}
	</main><!-- .content -->
{% endblock content %}

{% block js %}
    <script src="{% static '' %}"></script>
{% endblock js %}