{% extends 'base.html' %}
{% load static from staticfiles %}
{% load banners_tag %}
{% block css %}{% endblock css %}

{% block SEOTitle %} {{ seo.SEOTitle }} {% endblock SEOTitle %}
{% block SEOKeywords %}{{ seo.SEOKeywords }}{% endblock SEOKeywords %}
{% block SEODescription %}{{ seo.SEODescription }}{% endblock SEODescription %}

{% block class_body %}  class="not-front articles sidebar_first" {% endblock %}

{% block content %}
    <main class="middle">
		<div class="slider_main slider_notfront">
			<div class="slider_title">{{ seo.title|default:'Статьи' }}</div>
			<form action="#" class="webform_client_form">
				<div class="form_item search">
					<input type="text" placeholder="Поиск статьей">
				</div>
				<div class="form_actions">
					<input class="form-submit" type="submit" value="Найти">
				</div>
			</form>
		</div>
		<div class="middle_inner">
			<div class="container">
				<div id="content">
					<div class="block block_shops block_search_results">
						<div class="block_content">
							<div class="view_content" id="add-article">
								{% include 'articles/include/articles_list.html' %}
							</div>
                            {% if count_next %}
                                <div class="load_more read_more">
                                    <a href="#">
                                        Загрузить еще
                                        <span>{{ count_next }}</span> статей
                                    </a>
                                </div>
                            {% endif %}
						</div>
					</div>
				</div><!-- #content-->

			</div>
			<div class="left_sidebar">
				<div class="block block_left_menu">
					<div class="menu_wrap">
						<ul>
							<li>
                                <a href="#" class="active">Все статьи <span class="count">{{ paginator.count }}</span></a>
                            </li>
                            {% for section in sections %}
                                {% if section.articles.count %}
                                    <li>
                                        <a href="{{ section.get_absolute_url }}">{{ section.name }}<span class="count">{{ section.articles.count }}</span></a>
                                    </li>
                                {% endif %}
                            {% endfor %}
						</ul>
					</div>
				</div>
				{% sidebanner %}
				{% include 'services/include/services_sidebar.html' %}
			</div>
		</div>
        {% if not seo %}
            <div style="clear: both"></div>
            {% else %}
            {% include 'seo/seo.html' %}
        {% endif %}
		{% include 'common/include/vip.html' %}
		{% downbanner %}
	</main><!-- .content -->
{% endblock content %}

{% block js %}
    <script src="{% static 'js/articles.js' %}"></script>
{% endblock js %}