{% extends 'base.html' %}
{% load static from staticfiles %}
{% load banners_tag %}
{% load video_tag %}
{% load i18n %}
{% block css %}{% endblock css %}

{% block SEOTitle %} {{ seo.SEOTitle|default_if_none:'' }} {% endblock SEOTitle %}
{% block SEOKeywords %}{{ seo.SEOKeywords|default_if_none:'' }}{% endblock SEOKeywords %}
{% block SEODescription %}{{ seo.SEODescription|default_if_none:'' }}{% endblock SEODescription %}

{% block class_body %}  class="not-front articles articles_inner sidebar_first" {% endblock %}

{% block content %}
    <main class="middle">
		<div class="slider_main slider_notfront" {% if object.title_image %}style="background: url({{ object.title_image.url }}) no-repeat center/cover"{% endif %}>
			<div class="top_inner_content">
				<div class="main_breadcrumbs">
                    <a href="/">{% trans 'Главная' %}</a>
                    <span class="delimiter">/</span>
                    <a href="{% url 'articles:articles' %}">{% trans 'Статьи' %}</a>
                    <span class="delimiter">/</span>
                    <a href="{% url 'articles:sections_detail' article.sections.slug %}">{{ article.sections.name }}</a>
                    <span class="delimiter">/</span>
                    <span>{{ seo.title }}</span>
                </div>
			</div>
			<div class="slider_title">{{ seo.title }}</div>
				<div class="icons_wrap">
					<div class="icon stat">{{ article.views }}</div>
				</div>
			<div class="social_likes_wrapper">
				<div class="label">{% trans 'Расскажите друзьям' %}:</div>
				<div class="social-likes social-likes_vertical" data-counters="no">
					<div class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
					<div class="twitter" title="Поделиться ссылкой в Твиттере">Twitter</div>
					<div class="mailru" title="Поделиться ссылкой в Моём мире">Мой мир</div>
					<div class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</div>
					<div class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</div>
				</div>
			</div>
		</div>
		<div class="middle_inner">
			<div class="container">
				<div id="content">
					<div class="block block_node_content">
						<div class="field_body">
                            {{ article.content|safe }}
                            <div class="video">
                                {{ article.video|get_video_code|convert_to_frame|safe }}
                            </div>
						</div>
					</div>
				</div><!-- #content-->

			</div>
			<div class="left_sidebar">
				<div class="block block_left_menu">
					<div class="menu_wrap">
						<ul>
							<li>
                                <a href="{% url 'articles:articles' %}" >{% trans 'Все статьи' %} <span class="count">{{ article_count }}</span></a>
                            </li>
                            {% for section in sections %}
                                {% if section.articles.count %}
                                    <li>
                                        <a href="{{ section.get_absolute_url }}" {% if section.slug in request.path %} class="active" {% endif %}>
                                            {{ section.name }}
                                            <span class="count">{{ section.articles.count }}</span>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
						</ul>
					</div>
				</div>
				{% sidebanner %}
				{% include 'services/include/services_sidebar.html' %}
			</div>
		</div>
		{% include 'articles/include/article_prop.html' %}
		{% downbanner %}
	</main><!-- .content -->
{% endblock content %}

{% block js %}
    <script src="{% static '' %}"></script>
{% endblock js %}
