{% extends 'base.html' %}
{% load static from staticfiles %}
{% load banners_tag %}
{% load i18n %}
{% block css %}{% endblock css %}

{% block SEOTitle %} {{ seo.SEOTitle|default_if_none:'' }} {% endblock SEOTitle %}
{% block SEOKeywords %}{{ seo.SEOKeywords|default_if_none:'' }}{% endblock SEOKeywords %}
{% block SEODescription %}{{ seo.SEODescription|default_if_none:'' }}{% endblock SEODescription %}

{% block class_body %}  class="not-front articles sidebar_first" {% endblock %}

{% block content %}
    <main class="middle">
		<div class="slider_main slider_notfront">
			<div class="slider_title">{{ seo.title|default:'Статьи' }}</div>
			<form class="webform_client_form">
				<div class="form_item search">
					<input name="q" value="{{ request.GET.q }}" type="text" placeholder="{% trans 'Поиск статьей' %}">
				</div>
				<div class="form_actions">
					<input class="form-submit" type="submit" value="{% trans 'Найти' %}">
				</div>
			</form>
		</div>
		<div class="middle_inner">
			<div class="container">
				<div id="content">
					<div class="block block_shops block_search_results">
						<div class="block_content">
							<div class="view_content" id="add-article">
								{% include 'articles/include/articles_list.html' with objects=articles %}
							</div>
                            <input type="hidden" value="{{ section.id }}" name="section">
                            {% if count_next %}
                                <div class="load_more read_more">
                                    <a href="#">
                                        {% trans 'Загрузить еще' %}
                                        <span>{{ count_next }}</span> {% trans 'статей' %}
                                    </a>
                                </div>
                            {% endif %}
						</div>
					</div>
				</div><!-- #content-->

			</div>
			<div class="left_sidebar">
				<div class="block block_left_menu">
					<div class="menu_wrap">
						<ul>
							<li>
                                <a href="{% url 'articles:articles' %}" >{% trans 'Все статьи' %} <span class="count">{{ article_count }}</span></a>
                            </li>
                            {% for section in sections %}
                                {% if section.articles.count %}
                                    <li>
                                        <a href="{{ section.get_absolute_url }}" {% if section.slug in request.path %} class="active" {% endif %}>
                                            {{ section.name }}
                                            <span class="count">{{ section.articles.count }}</span>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
						</ul>
					</div>
				</div>
				{% sidebanner %}
				{% include 'services/include/services_sidebar.html' %}
			</div>
		</div>
		{% if not seo.image_seo or seo.content %}
            <div style="clear: both"></div>
        {% endif %}
        {% include 'seo/seo.html' %}
		{% include 'common/include/vip.html' %}
		{% downbanner %}
	</main><!-- .content -->
{% endblock content %}

{% block js %}
    <script src="{% static 'js/articles.js' %}"></script>
{% endblock js %}