{% load favorites_tag %}
{% load base_tag %}
{% load thumbnail %}
{% load i18n %}
{% for object in object_list %}
    <div class="views_row vip_row">
        {% if object.is_vip %}
            <div class="vip"></div>
        {% endif %}
        <div class="title">{{ object.title|default_if_none:'' }}</div>
        <div class="field_image" style="transition: .3s">
            <a href="{{ object.get_absolute_url }}">
                <img src="{{ object.images.first.image|thumbnail_url:'gallery_image_370' }}" alt="" width="100%">
            </a>
        </div>
        <div class="views_body">
            <div class="star {{ object|fav_is_active:request }}">
                <input type="hidden" name="content_type" value="{{ object.get_content_type }}">
                <input type="hidden" name="object_id" value="{{ object.id }}">
            </div>
            <div class="address">{{ object.address|default_if_none:'' }}</div>
            {% if not object.is_short %}
                <div class="text" style="word-break: break-all;">{{ object.description|truncatechars_html:'200'|safe }}</div>
            {% else %}
                <div class="text" style="word-break: break-all;">{{ object.description|safe }}</div>
            {% endif %}
            <div class="top_wrap">
                {% if object.rooms %}
                    <div class="info">
                        <div class="label">{% trans 'Комнат' %}:</div>
                        <div class="item">{{ object.rooms }}</div>
                    </div>
                {% endif %}
                {% if object.footage %}
                    <div class="info">
                        <div class="label">{% trans 'Комнат' %}:</div>
                        <div class="item">{{ object.footage|default_if_none:'' }} м<sup>2</sup></div>
                    </div>
                {% endif %}
                {% if object.price %}
                    <div class="price info">
                        <div class="label">{{ object.get_type_deal_display }}:</div>
                        {{ object.price }} {{ object.get_current }}
                    </div>
                {% endif %}
            </div>
            <div class="bottom_wrap">
                <div class="statistics">{{ object.views }}</div>
                <div class="read_more preview submit-add-inspection-modal"><a href="/">{% trans 'Заказать просмотр' %}</a></div>
                <div class="read_more" style="display: none"><a href="{{ object.custom_id }}"></a></div>
                {% if not object.is_short %}
                    <div class="read_more"><a href="{{ object.get_absolute_url }}">{% trans 'Подробнее' %}</a></div>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
{% if is_paginated %}
    <div class="load_more_wrap">
        <div class="load_more read_more">
            <a href="#">
                {% trans 'Загрузить еще' %}
                <span>{{ count_next }}</span> {% trans 'объектов' %}
            </a>
        </div>
    </div>
{% endif %}
