{% load favorites_tag %}
{% load base_tag %}
{% for object in object_list %}
    <div class="views_row vip_row">
        {% if object.is_vip %}
            <div class="vip"></div>
        {% endif %}
        <div class="title">{{ object.title|default_if_none:'' }}</div>
        <div class="field_image" style="transition: .3s">
            <a href="{{ object.get_absolute_url }}">
                {% if  object.image %}
                    <img src="{{ object.image.url }}" alt="" width="100%">
                {% else %}
                    <img src="{{ object.images.all.first.image.url }}" alt="" width="100%">
                {% endif %}
            </a>
        </div>
        <div class="views_body">
            <div class="star {{ object|fav_is_active:request }}">
                <input type="hidden" name="content_type" value="{{ object.get_content_type }}">
                <input type="hidden" name="object_id" value="{{ object.id }}">
            </div>
            <div class="address">{{ object.address|default_if_none:'' }}</div>
            <div class="text" style="word-break: break-all;">{{ object.description|truncatewords:'15'|safe }}</div>
            <div class="top_wrap">
                {% if object.rooms %}
                    <div class="info">
                        <div class="label">Комнат:</div>
                        <div class="item">{{ object.rooms }}</div>
                    </div>
                {% endif %}
                {% if object.footage %}
                    <div class="info">
                        <div class="label">Площадь:</div>
                        <div class="item">{{ object.footage|default_if_none:'' }} м<sup>2</sup></div>
                    </div>
                {% endif %}
                {% if object.price %}
                    <div class="price info">
                        <div class="label">{{ object.get_type_deal_display }}:</div>
                        {{ object.price }} {{ object.get_current }}
                    </div>
                {% endif %}
            </div>
            <div class="bottom_wrap">
                <div class="statistics">{{ object.views }}</div>
                <div class="read_more preview submit-add-inspection-modal"><a href="/">Заказать просмотр</a></div>
                <div class="read_more"><a href="{{ object.get_absolute_url }}">Подробнее</a></div>
            </div>
        </div>
    </div>
{% endfor %}
{% if is_paginated %}
    <div class="load_more_wrap">
        <div class="load_more read_more">
            <a href="#">
                Загрузить еще
                <span>{{ count_next }}</span> объектов
            </a>
        </div>
    </div>
{% endif %}
