{% load thumbnail %}
{% load favorites_tag %}
{% load i18n %}
{% for object in object_list %}
    <div class="views_row">
        <div class="title">{{ object.address|default:'' }}</div>
        <div class="field_image" style="transition: .3s">
            <a href="{{ object.get_absolute_url }}">
                <img src="{{ object.images.first.image|thumbnail_url:'gallery_image_370' }}" alt="" width="100%">
            </a>
        </div>
        <div class="views_body">
            <div class="star {{ object|fav_is_active:request }}">
                <input type="hidden" name="content_type" value="{{ object.get_content_type }}">
                <input type="hidden" name="object_id" value="{{ object.id }}">
            </div>
            <div class="text">{{ object.description|truncatechars:'200'|safe }}</div>
            <div class="top_wrap">
                <div class="info">
                    <div class="label">Район:</div>
                    <div class="item">{{ object.district|default_if_none:'' }}</div>
                </div>
                <div class="info">
                    <div class="label">ID:</div>
                    <div class="item">{{ object.custom_id|default_if_none:'' }}</div>
                </div>
                <div class="info">
                    <div class="label">{% trans 'Комнат' %}:</div>
                    <div class="item">{{ object.rooms|default:'' }}</div>
                </div>
                {% if object.price %}
                    <div class="price info">
                        {{ object.price|default:'' }} {{ nac_carrency }}/сутки
                    </div>
                {% endif %}
                <div class="info">
                    <div class="label">{% trans 'Спальных мест' %}:</div>
                    <div class="item">{{ object.sleeping_places|default:'' }}</div>
                </div>
            </div>
            <div class="bottom_wrap">
                <div class="statistics">{{ object.views }}</div>
                <div class="read_more preview submit-add-booking-modal"><a href="/">{% trans 'Забронировать' %}</a></div>
                <div class="read_more"><a href="{% url 'objects:daily_detail' object.id %}">{% trans 'Подробнее' %}</a></div>
            </div>
        </div>
    </div>
{% endfor %}
{% if is_paginated %}
    <div class="load_more_wrap">
        <div class="load_more read_more">
            <a href="#">
                {% trans 'Загрузить еще' %}
                <span>{{ count_next }}</span> {% trans 'объектов' %}
            </a>
        </div>
    </div>
{% endif %}