{% load thumbnail %}
{% load favorites_tag %}
<div class="views_row">
    <div class="left_wrap">
        <div class="title">{{ object.title }}</div>
        <div class="field_images">
            <div class="star {{ object|fav_is_active:request }}">
                <input type="hidden" name="content_type" value="{{ object.get_content_type }}">
                <input type="hidden" name="object_id" value="{{ object.id }}">
            </div>
            <div class="field_image">
                {% for image in object.images.all %}
                    <img src="{{ image.image|thumbnail_url:'gallery_image_469' }}" alt="">
                {% endfor %}
            </div>
        </div>
        <div class="views_body">
            <div class="text">{{ object.description }}</div>
            <div class="address">{{ object.address }}</div>
        </div>
    </div>
    <div class="right_wrap">
        <div class="title">Свободные объекты</div>
        {% for build in object.building.all|slice:':2' %}
            <div class="views_row">
                <div class="field_img">
                    <img src="{{ build.images.first.image|thumbnail_url:'gallery_image_233' }}" alt="">
                </div>
                {% if build.footage %}
                    <div class="area">{{ build.footage }} м2</div>
                {% endif %}
                {% if build.price %}
                    <div class="price">{{ build.price }}$</div>
                {% endif %}
            </div>
        {% endfor %}
        <div class="see_more"><a href="{% url 'objects:buildings' %}">Смотреть больше</a></div>
    </div>
    <div class="bottom_wrap">
        <div class="top_wrap">
            <div class="left_wrap">
                <div class="price info">
                    <div class="label">Цена за м2:</div>
                    <div class="item">{{ object.price }} грн</div>
                </div>
                <div class="info">
                    <div class="label">Дата сдачи:</div>
                    <div class="item">{{ object.end_construction|date:'d.m.Y' }}</div>
                </div>
            </div>
            <div class="right_wrap">
                <div class="statistics">{{ object.views }}</div>
                <div class="read_more preview"><a href="/">Заказать просмотр</a></div>
                <div class="read_more"><a href="{{ object.get_absolute_url }}">Подробнее</a></div>
            </div>
        </div>
    </div>
</div>