{% extends 'base.html' %}
{% load static from staticfiles %}
{% load video_tag %}
{% load favorites_tag %}
{% load thumbnail %}
{% load banners_tag %}
{% block css %}{% endblock css %}

{% block class_body %}  class="not-front apartment" {% endblock %}

{% block content %}
	<main class="middle">
		<div class="slider_main slider_notfront">
			<div class="top_inner_content">
				<div class="main_breadcrumbs"><a href="/">Главная</a> / <span>Недвижимость</span></div>
				<div class="title">Аренда фасадного помещения</div>
			</div>
			<div class="icons_wrap">
				<div class="icon vip"></div>
				<div class="icon stat">{{ object.views }}</div>
				<div class="icon favorite {{ object|fav_is_active:request }}">
                    <input type="hidden" name="content_type" value="{{ object.get_content_type }}">
                    <input type="hidden" name="object_id" value="{{ object.id }}">
                </div>
			</div>
			<h1 class="slider_title page_title">{{ object.get_type_deal_display }} {{ object.get_appointment_display }}, {{ object.address }}. <br>({{ object.price }} грн, $5101)</h1>
			<div class="webform_client_form">				
				<div class="form_actions">
					<input class="form-submit" type="submit" value="Заказать осмотр">
				</div>
			</div>
		</div>
		<div class="middle_inner">		
			<div class="container">
				<div id="content">
					<div class="block block_appartament_slider">
						<div class="view_content">
                            {% with object.images.all as images %}
							    <div class="slider_for" id="slider_for">
                                    {% for image in images %}
                                        <div class="item">
                                            <div class="item_inner">
                                                <img src="{{ image.image.url }}" alt="" width="100%">
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="slider_nav" id="slider_nav">
                                    {% for image in images %}
                                        <div class="item first">
                                            <div class="item_inner">
                                                <img src="{{ image.image|thumbnail_url:'slider_image_166' }}" alt="" width="100%">
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endwith %}
						</div>
					</div>	
					<div class="block block_inform_appartament">
						<div class="block_content">										
							<div class="left_wrap information">
								<div class="title">Информация:</div>
								<div class="price_wrapper">
									<div class="first_price">762 000 грн</div><span></span><div class="second_price">600 грн/м<sup>2</sup></div>
								</div>
								<div class="char_wrapper">
									<div class="group">
										<div class="item">
											<div class="label">ID:</div>
											<div class="field_item">Магазин</div>
										</div>
										<div class="item">
											<div class="label">Площадь:</div>
											<div class="field_item">47 кв.м.</div>
										</div>
										<div class="item">
											<div class="label">Расположение:</div>
											<div class="field_item">Черемушки</div>
										</div>
										<div class="item">
											<div class="label">Этаж:</div>
											<div class="field_item">1</div>
										</div>
										<div class="item">
											<div class="label">ID:</div>
											<div class="field_item">325467</div>
										</div>
										<div class="item">
											<div class="label">Тех план:</div>
											<div class="field_item"><a href="#">Посмотреть</a></div>
										</div>
									</div>
									<div class="group">
										<div class="item">
											<div class="label">ID:</div>
											<div class="field_item">Магазин</div>
										</div>
										<div class="item">
											<div class="label">Площадь:</div>
											<div class="field_item">47 кв.м.</div>
										</div>
										<div class="item">
											<div class="label">Расположение:</div>
											<div class="field_item">Черемушки</div>
										</div>
										<div class="item">
											<div class="label">Этаж:</div>
											<div class="field_item">1</div>
										</div>
										<div class="item">
											<div class="label">ID:</div>
											<div class="field_item">325467</div>
										</div>
										<div class="item">
											<div class="label">Тех план:</div>
											<div class="field_item"><a href="#">Посмотреть</a></div>
										</div>
									</div>
								</div>
							</div>
							<div class="right_wrap contacts">
								<div class="title">Контакты:</div>
								<div class="contacts_person name">
									<div class="label">Имя:</div>
									<div class="field_item">Алексей</div>
								</div>
								<div class="contacts_person phone">
									<div class="label">Телефон:</div>
									<div class="field_item"><a href="tel:+380694546241">(069) 454-62-41</a></div>
								</div>
								<div class="social_share">
								<div class="label">Поделиться с друзьями:</div>
									<script src="http://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
									<script src="http://yastatic.net/share2/share.js"></script>
									<div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter,linkedin,lj,tumblr,whatsapp,skype,telegram"></div>	
								</div>
							</div>
						</div>	
					</div>
					<div class="block block_body">
						<div class="title">Описание</div>
						<div class="field_body">
							{{ object.description }}
						</div>
					</div>							
				</div><!-- #content-->
				
			</div>			
		</div>
		<div class="block block_presentation order_block">
			<div class="block_content">
				<div class="block_title">Заказать осмотр объекта</div>
				<div class="view_content">								
					<form action="#" class="webform_client_form">
						<div class="form_item user_name">
							<input type="text" placeholder="Введите ваше имя">
						</div>
						<div class="form_item phone">
							<input type="text" placeholder="Введите ваш телефон">
						</div>
						<div class="form_actions">
							<input type="submit" class="form_submit" value="Отправить">
						</div>
					</form>
				</div>
			</div>
		</div>	
		<div class="block_maps">
			<div class="map">
			<div class="title">На карте:</div>
				<div class="field_image">
					<img src="images/map_2.png" alt="">
				</div>
			</div>
			<div class="map">
			<div class="title">Панорама:</div>
				<div class="field_image">
					<img src="images/google.png" alt="">
				</div>
			</div>
		</div>
        {% with object.videos.all.first as video %}
            {% if video.is_enable and video.video %}
                <div class="block block_video">
                    <div class="block_content">
                        <div class="block_title">{{ video.title }}</div>
                        {{ video.video|convert_to_frame|safe }}
                    </div>
                </div>
            {% endif %}
        {% endwith %}
        {% with object.newbuilding as newbuilding %}
            {% if newbuilding %}
                <div class="block new_buildings">
                    <div class="block_content">
                        <div class="block_title">Квартира продается в новострое</div>
                        <div class="view_content">
                            <div class="views_row">
                                <div class="title">{{ newbuilding.title|default_if_none:'' }}</div>
                                <div class="field_image">
                                    <img src="{% static 'images/new_1.png' %}" alt="">
                                </div>
                                <div class="views_body">
                                    <div class="star {{ newbuilding|fav_is_active:request }}">
                                        <input type="hidden" name="content_type" value="{{ newbuilding.get_content_type }}">
                                        <input type="hidden" name="object_id" value="{{ newbuilding.id }}">
                                    </div>
                                    <div class="left_wrap">
                                        <div class="address">{{ newbuilding.address|default_if_none:'' }}</div>
                                        <div class="info">
                                            <div class="label">Район:</div>
                                            <div class="item">{{ newbuilding.district|default_if_none:'' }}</div>
                                        </div>
                                        <div class="info">
                                            <div class="label">Сдаваемых помещений:</div>
                                            <div class="item">{{ newbuilding.building.count }}</div>
                                        </div>
                                        <div class="price">${{ newbuilding.price|default_if_none:'' }} м.кв</div>
                                    </div>
                                    <div class="right_wrap">
                                        <div class="statistics">{{ newbuilding.views }}</div>
                                        <div class="info">
                                            <div class="label">Сдаётся с    </div><div class="item"> {{ newbuilding.end_construction|date:'d E Y' }}</div>
                                        </div>
                                        <div class="info">
                                            <div class="label">Общая площадь:</div><div class="item"> {{ newbuilding.footage|default_if_none:'' }} м.кв.</div>
                                        </div>
                                        <div class="read_more"><a href="/">Оставить заявку</a></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
		{% include 'common/include/vip.html' %}
		{% include 'services/include/services_downbar.html' %}
		{% downbanner %}
		<div class="block block_presentation block_picking">
			<div class="block_content">
				<div class="block_title">Подберем вам необходимый объект за 30 минут</div>
				<div class="view_content">
					<div class="sub_title">В базе более 1000 объектов</div>
					<form action="#" class="webform_client_form">
						<div class="form_item user_name">
							<input type="text" placeholder="Введите ваше имя">
						</div>
						<div class="form_item phone">
							<input type="text" placeholder="Введите ваш телефон">
						</div>
						<div class="form_item form_textarea">
							<textarea placeholder="Введите ваше сообщение"></textarea>
						</div>
						<div class="form_actions">
							<input type="submit" class="form_submit" value="Связаться со специалистом">
						</div>
					</form>
				</div>
			</div>
		</div>
	</main><!-- .content -->
{% endblock content %}
{% block js %}
    <script src="{% static '' %}"></script>
{% endblock js %}
