{% extends 'admin2/base.html' %}

{% load static from staticfiles %}
{% load admin_tags %}
{% load thumbnail %}

{% block title %}Редактирование {{ object }}{% endblock title %}

{% block css %}
{% endblock css %}

{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>{{ object }}</h3>
                </div>
                <div style="float: right">
                    <a href="{% url 'admin2:banners' %}" class="btn btn-round btn-primary"><i class="fa fa-chevron-circle-left"></i> Назад</a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Изменить {{ object }}</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                        <li role="presentation" >
                                            <a href="{{ object.get_edit_image_url }}"  id="home-tab" role="tab">Картинка
                                                {% if object.active_code %}
                                                    <i class="fa fa-close" style="color: red"></i>
                                                {% else %}
                                                    <i class="fa fa-check" style="color: green"></i>
                                                {% endif %}
                                            </a>
                                        </li>
                                        <li role="presentation" class="active">
                                            <a href="{{ object.get_edit_code_url }}"  id="home-tab" role="tab"> Код баннера
                                                {% if object.active_code %}
                                                    <i class="fa fa-check" style="color: green"></i>
                                                {% else %}
                                                    <i class="fa fa-close" style="color: red"></i>
                                                {% endif %}
                                            </a>
                                        </li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                            <form class="form-horizontal form-label-left" method="post" enctype="multipart/form-data" name="serviceForm">
                                                {% csrf_token %}
                                                {{ form.errors }}
                                                <div class="item form-group">
                                                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="name">{{ form.code.label }}:
                                                    </label>
                                                    <div class="col-md-7 col-sm-7 col-xs-12">
                                                        {{ form.code|addcss:'form-control col-md-7 col-xs-12'|addrows:'3'|safe }}
                                                    </div>
                                                    {% if form.code.errors %}
                                                        <span class="error-label">{{ form.code.errors }}</span>
                                                    {% endif %}
                                                </div>

                                                <div class="ln_solid"></div>
                                                <div class="form-group" style="float: right">
                                                    <div class="col-md-12">
                                                        <button id="send-service" name="save-service" type="submit" class="btn btn-success">Сохранить</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock content %}

{% block js %}
    <script src="{% static 'js/service_status.js' %}"></script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imgInp").change(function(){
            readURL(this);
        });

    </script>
    {{ form.media }}
{% endblock js %}