{% extends 'admin2/base.html' %}

{% load static from staticfiles %}
{% load thumbnail %}
{% load i18n %}

{% block title %}{% trans 'Баннеры' %}{% endblock title %}

{% block css %}{% endblock css %}

{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>{% trans 'Баннеры' %}</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>{% trans 'Все Баннеры' %}</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="table table-striped projects">
                                <thead>
                                <tr>
                                    <th style="width: 30%">{% trans 'Название' %}</th>
                                    <th style="width: 5%"></th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ downbanner }}</td>
                                        <td>
                                            <a href="{{ downbanner.get_edit_image_url }}" class="btn btn-dark btn-xs"><i class="fa fa-pencil"></i> {% trans 'Редактировать' %} </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{ sidebanner }}</td>
                                        <td>
                                            <a href="{{ sidebanner.get_edit_image_url }}" class="btn btn-dark btn-xs"><i class="fa fa-pencil"></i> {% trans 'Редактировать' %} </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock content %}

{% block js %}
    <script src="{% static 'js/sections.js' %}"></script>
{% endblock js %}