{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
        <title>Любая операция по коммерческой недвижимости в Одессе за 30 мин</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta property="glyanec:code" content="39eef315143e93d76d452ab02a15ad2f">
        <link rel="stylesheet" type="text/css" href="{% static 'css/social-likes_flat.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/slicknav.css' %}"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/png">
        {% block css %}{% endblock css %}
        <!-- Responsible for the project: ID764 -->
        <!-- Website development - http://glyanec.net/ -->
    </head>

    <body class="front">

        <div class="wrapper">

            <header class="header">
                <div class="header_content">
                    <div class="logo_wrapper">
                        <a href="/" class="logo"><img src="{% static 'images/logo.png' %}" alt=""><span class="site_name">usatba-krm</span><span class="domen">.DN.UA</span></a>
                    </div>
                    <div class="region_header">
                        <div class="contacts_header">
                            <div class="phone_number">
                                <a href="tel:+380679280167">(067) 928 01 67</a>
                            </div>
                            <div class="address">г. Одесса, ул. Успенская, 33.</div>
                            <div class="email"><a href="mailto:ofis@gek.od.ua">ofis@gek.od.ua</a></div>
                        </div>
                        <div class="benefits">
                            <div class="item test"><a href="/">Пройди тест</a></div>
                            <div class="item video"><a href="/">Смотреть видео</a></div>
                            <div class="item plan"><a href="/">Составить план</a></div>
                            <div class="item favorite"><a href="/">Избранное</a></div>
                        </div>
                        <div class="buttons_header">
                            <div class="application">Оставить заявку</div>
                            <div class="add_advert">Добавить объявление</div>
                        </div>
                    </div>
                </div>
                <div class="block_main_menu">
                    <div class="block_content">
                        <ul class="menu">
                            <li class="leaf"><a href="/" class="active">Главная</a></li>
                            <li class="leaf expanded"><a href="/">Недвижимость</a>
                                <ul class="menu_child">
                                    <li>
                                        <a href="#">Офисы и магазины</a>
                                    </li>
                                    <li>
                                        <a href="#">Бизнес-центры</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="leaf expanded"><a href="/">Услуги</a>
                                <ul class="menu_child">
                                    <li><a href="#">Риелторсике услуги</a></li>
                                    <li><a href="#">Установка водомеров</a></li>
                                    <li><a href="#">Установка газовых счетчиков</a></li>
                                    <li><a href="#">Изготовление вывесок</a></li>
                                    <li><a href="#">Кредитование</a></li>
                                    <li><a href="#">Установка счетчиков тепла</a></li>
                                    <li><a href="#">Инфоксводоканал</a></li>
                                    <li><a href="#">Одессаоблэнерго</a></li>
                                </ul>
                            </li>
                            <li class="leaf"><a href="/">Статьи</a></li>
                            <li class="leaf"><a href="/">Доверие</a></li>
                            <li class="leaf"><a href="/">Контакты</a></li>
                        </ul>
                    </div>
                </div>
            </header><!-- .header-->

            {% block content %}{% endblock content %}

        </div><!-- .wrapper -->

        <footer class="footer">
            <div class="footer_top">
                <div class="region_footer">
                    <div class="logo_wrapper">
                        <a href="/" class="logo"><img src="images/logo.png" alt=""><span class="site_name">usatba-krm</span><span class="domen">.DN.UA</span></a>
                        <div class="copyright">Все права на материалы, находящиеся на сайте, охраняются в соответствии с законодательством Украины.</div>
                    </div>
                    <div class="footer_center">
                        <div class="menu_footer">
                            <ul>
                                <li class="group_item">
                                    <ul>
                                        <li class="leaf"><a href="/">Главная</a></li>
                                        <li class="leaf"><a href="/">Недвижимость</a></li>
                                        <li class="leaf"><a href="/">Услуги</a></li>
                                    </ul>
                                </li>
                                <li class="group_item">
                                    <ul>
                                        <li class="leaf expanded"><a href="/" class="expanded_btn" id="expanded_btn">Выбрать</a>
                                        </li>
                                        <li class="leaf"><a href="/">Статьи</a></li>
                                        <li class="leaf"><a href="/">Доверие</a></li>
                                    </ul>
                                </li>
                                <li class="group_item">
                                    <ul>
                                        <li class="leaf"><a href="/">Смотреть видео передачи</a></li>
                                        <li class="leaf"><a href="/">Пройти тест</a></li>
                                        <li class="leaf"><a href="/">Нарисовать план</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="visit">
                                <div class="item"><img src="images/bitmap.png" alt=""></div>
                                <div class="item"><img src="images/bitmap.png" alt=""></div>
                                <div class="item"><img src="images/bitmap.png" alt=""></div>
                                <div class="item"><img src="images/bitmap.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="footer_right">
                        <div class="contacts_header">
                            <div class="phone_number">
                                <a href="tel:+380679280167">(067) 928 01 67</a>
                            </div>
                            <div class="email"><a href="mailto:ofis@gek.od.ua">ofis@gek.od.ua</a></div>
                            <div class="address">г. Одесса, ул. Успенская, 33.</div>
                        </div>
                        <div class="buttons_header">
                            <div class="application">Оставить заявку</div>
                            <div class="add_advert">Добавить объявление</div>
                        </div>
                    </div>
                    <div class="social_links">
                        <div class="item fb"><a href="https://www.facebook.com/" target="_blank"></a></div>
                        <div class="item vk"><a href="https://vk.com/" target="_blank"></a></div>
                        <div class="item tw"><a href="https://twitter.com/" target="_blank"></a></div>
                        <div class="item gp"><a href="https://www.instagram.com/" target="_blank"></a></div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="region_footer">
                    <div class="menu_footer">
                        <ul>
                            <li class="group_item">
                                <ul>
                                    <li class="leaf"><a href="/">Продажа офисов</a></li>
                                    <li class="leaf"><a href="/">Продажа коммерческой недвижимости</a></li>
                                    <li class="leaf"><a href="/">Продажа гаражей</a></li>
                                </ul>
                            </li>
                            <li class="group_item">
                                <ul>
                                    <li class="leaf"><a href="/">Аренда недвижимости</a></li>
                                    <li class="leaf"><a href="/">Аренда квартир</a></li>
                                    <li class="leaf"><a href="/">Аренда домов</a></li>
                                </ul>
                            </li>
                            <li class="group_item">
                                <ul>
                                    <li class="leaf"><a href="/">Аренда земельных участков</a></li>
                                    <li class="leaf"><a href="/">Аренда офисов</a></li>
                                    <li class="leaf"><a href="/">Аренда коммерческой недвижимости</a></li>
                                </ul>
                            </li>
                            <li class="group_item">
                                <ul>
                                    <li class="leaf"><a href="/">Аренда недвижимости посуточно</a></li>
                                    <li class="leaf"><a href="/">Аренда квартир посуточно</a></li>
                                    <li class="leaf"><a href="/">Аренда комнат посуточно</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="popup_exit"></div>
            <div class="to_up"></div>
        </footer><!-- .footer -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
        <script type="text/javascript" src="{% static 'js/jquery.slicknav.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/datepicker-ru.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/social-likes.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.livequery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/giz.js' %}"></script>
        {% block js %}{% endblock js %}
    </body>
</html>