{% extends 'base.html' %}
{% load static from staticfiles %}
{% load thumbnail %}
{% load favorites_tag %}
{% load base_tag %}
{% load video_tag %}
{% block css %}{% endblock css %}

{% block SEOTitle %} {{ seo.SEOTitle }} {% endblock SEOTitle %}
{% block SEOKeywords %}{{ seo.SEOKeywords }}{% endblock SEOKeywords %}
{% block SEODescription %}{{ seo.SEODescription }}{% endblock SEODescription %}

{% block class_body %}  class="front" {% endblock %}

{% block content %}
    <main class="middle">
		<div class="slider_front slider_main"{% if indexpagemodel.image %}
                style="background: url({{ indexpagemodel.image.url }}) no-repeat center/cover"{% endif %}>
			<h1 class="slider_title page_title">{{ seo.title|default:'Коммерческая недвижимость' }}</h1>
			<div class="slider_subtitle">{{ indexpagemodel.subtitle|default:'<u>Нужно решить проблемы</u>  c коммерческой недвижимостью?' }}</div>
			<div class="text">Помогаем с любой операцией по недвижимости за <u>30 минут</u></div>
			<form action="#" class="webform_client_form" id="index-form">
                {% csrf_token %}
                <input type="hidden" name="source" value="Заказать бесплатную консультацию.Главная">
				<div class="form_item phone">
					<input name="phone" type="text" placeholder="Введите ваш телефон">
				</div>
				<div class="form_actions">
					<input class="form-submit submit-save-application" type="submit" value="Заказать бесплатную консультацию">
				</div>
			</form>
		</div>
        {% ofices_is_enable as ofices_is_enable %}
        {% if ofices_is_enable %}
            <div class="block block_shops">
                <div class="block_content">
                    <div class="block_title">Офисы и магазины / Горячие предложения</div>
                    <div class="view_content">
                        {% for office in offices %}
                            <div class="views_row">
                                <div class="field_image">
                                    <a href="{{ office.get_absolute_url }}">
                                        <img src="{{ office.images.first.image|thumbnail_url:'gallery_image_370' }}" alt="">
                                    </a>
                                    <div class="type">{{ office.get_type_deal_display|default:'' }}
                                        {% if office.appointment == 'apartment' %}
                                            {{ office.get_appointment_display|cut_last_char }}{{ 0|pluralize:'ы' }}
                                            {% elif office.appointment == 'house' %}
                                            {{ office.get_appointment_display }}{{ 0|pluralize:'a' }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="views_body">
                                    <div class="star"></div>
                                    <div class="address">{{ office.address|default:'' }}</div>
                                    <div class="text">{{ office.description|default:''|truncatechars:'200'|safe }}</div>
                                    <div class="price">${{ office.price|default:'' }}</div>
                                    <div class="statistics">{{ office.views }}</div>
                                    <div class="area"><div class="count">{{ office.footage|default:'' }}</div> <div class="units">м<sup>2</sup></div></div>
                                    <div class="read_more submit-add-inspection-modal"><a href="/">Оставить заявку</a></div>
                                    <div class="read_more" style="display: none"><a href="{{ office.custom_id }}"></a></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% building_is_enable as building_is_enable %}
        {% if building_is_enable %}
            <div class="block block_shops hot_deals">
                <div class="block_content">
                    <div class="block_title">Квартиры и дома/ Горячие предложения</div>
                    <div class="view_content">
                        {% for building in buildings %}
                            <div class="views_row">
                                <div class="field_image">
                                    <a href="{{ building.get_absolute_url }}">
                                        <img src="{{ building.images.first.image|thumbnail_url:'gallery_image_370' }}" alt="">
                                    </a>
                                    <div class="type">{{ building.get_type_deal_display|default:'' }}
                                        {% if building.appointment == 'apartment' %}
{#                                            {{ building.appointment }}#}
                                            {{ building.get_appointment_display|cut_last_char }}{{ 0|pluralize:'ы' }}
                                            {% else %}
                                            {{ building.get_appointment_display }}{{ 0|pluralize:'a' }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="views_body">
                                    <div class="star {{ building|fav_is_active:request }}">
                                        <input type="hidden" name="content_type" value="{{ building.get_content_type }}">
                                        <input type="hidden" name="object_id" value="{{ building.id }}">
                                    </div>
                                    <div class="address">{{ building.address|default:'' }}</div>
                                    <div class="text" style="word-break: break-all">{{ building.description|default:''|truncatechars:'200'|safe }}</div>
                                    <div class="price">${{ building.price|default:'' }}</div>
                                    <div class="statistics">{{ building.views }}</div>
                                    <div class="area"><div class="count">{{ building.footage|default:'' }}</div> <div class="units">м<sup>2</sup></div></div>
                                    <div class="read_more submit-add-inspection-modal"><a href="/">Оставить заявку</a></div>
                                    <div class="read_more" style="display: none"><a href="{{ building.custom_id }}"></a></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% newbuilding_is_enable as newbuilding_is_enable %}
        {% if newbuilding_is_enable %}
            <div class="block new_buildings">
                <div class="block_content">
                    <div class="block_title">Новостройки</div>
                    <div class="view_content">
                        {% for newbuilding in newbuildings %}
                            <div class="views_row">
                                <div class="title">{{ newbuilding.title|default:'' }}</div>
                                <a href="{{ newbuilding.get_absolute_url }}">
                                    <div class="field_image">
                                        <img src="{{ newbuilding.images.first.image|thumbnail_url:'newbuild_index_image_570' }}" alt="">
                                    </div>
                                </a>
                                <div class="views_body">
                                    <div class="star {{ newbuilding|fav_is_active:request }}">
                                        <input type="hidden" name="content_type" value="{{ newbuilding.get_content_type }}">
                                        <input type="hidden" name="object_id" value="{{ newbuilding.id }}">
                                    </div>
                                    <div class="left_wrap">
                                        <div class="address">{{ newbuilding.address|default:'' }}</div>
                                        <div class="info">
                                            <div class="label">Район:</div>
                                            <div class="item">{{ newbuilding.district|default:'' }}</div>
                                        </div>
                                        <div class="info">
                                            <div class="label">Сдаваемых помещений:</div>
                                            <div class="item">{{ newbuilding.building.count }}</div>
                                        </div>
                                        <div class="price">${{ newbuilding.price|default:'' }}</div>
                                    </div>
                                    <div class="right_wrap">
                                        <div class="statistics">{{ newbuilding.views }}</div>
                                        <div class="info">
                                            <div class="label">Сдаётся с    </div><div class="item"> {{ newbuilding.end_construction|date:'d.m.Y' }}</div>
                                        </div>
                                        <div class="info">
                                            <div class="label">Общая площадь:</div><div class="item"> {{ newbuilding.total_area|default:'--' }} м.кв.</div>
                                        </div>
                                        <div class="read_more submit-add-inspection-modal"><a href="/">Оставить заявку</a></div>
                                        <div class="read_more" style="display: none"><a href="{{ newbuilding.get_absolute_url }}"></a></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        {% endif %}
        {% include 'services/include/services_downbar.html' %}
		<div class="block block_presentation">
			<div class="block_content">
				<div class="block_title">Любая операция с недвижимостью за 30 минут</div>
				<div class="view_content">
					<div class="present_wrap">
						<div class="see_present">Посмотреть<br> видеопрезентацию</div>
					</div>
					<div class="views_row">
						<div class="field_image"><img src="{% static 'images/why_1.png' %}" alt=""></div>
						<div class="title">Оказание помощи<br> при заключении договора</div>
					</div>
					<div class="views_row">
						<div class="field_image"><img src="{% static 'images/why_2.png' %}" alt=""></div>
						<div class="title">Подборка помещений<br> на почту за 2 часа</div>
					</div>
					<div class="views_row">
						<div class="field_image"><img src="{% static 'images/why_3.png' %}" alt=""></div>
						<div class="title">Договорённость<br> на осмотр помещения</div>
					</div>
					<div class="views_row">
						<div class="field_image"><img src="{% static 'images/why_4.png' %}" alt=""></div>
						<div class="title">Бесплатное размещение<br> объявлений на сайте</div>
					</div>
					<form action="#" class="webform_client_form" id="index-form-down">
                        {% csrf_token %}
                        <input type="hidden" name="source" value="Связаться с агентством. Главная">
						<div class="form_item user_name">
							<input name="name" type="text" placeholder="Введите ваше имя">
						</div>
						<div class="form_item phone">
							<input name="phone" type="text" placeholder="Введите ваш телефон">
						</div>
						<div class="form_actions">
							<input type="submit" class="form_submit submit-save-application" value="Связаться с агентством">
						</div>
					</form>
				</div>
			</div>
		</div>

    <!-- MODAL VIDEO -->
    <div id="index_video" class="block block_webform webform_client" style="top: 20%; display: none">
			<div class="block_content">
				<div class="close"></div>
				<div class="view_content">
                    <div id="player"></div>
				</div>
			</div>
		</div>
		{% include 'seo/seo.html' %}
        {% include 'articles/include/article_prop.html' %}
	</main><!-- .content -->
{% endblock content %}

{% block js %}
    <script>
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
            height: '480',
            width: '853',
            videoId: '{{ indexpagemodel.video|get_video_code }}',
            });
        }
        $(document).ready(function () {
            $('.see_present').livequery('click', function () {
                $('body').addClass('popup');
                $('#index_video').fadeIn();
                player.playVideo()
            });
            $(document).on('click', '.close', function () {
                $('body').removeClass('popup');
                $('.block_webform').fadeOut();
                player.pauseVideo()
            });

        })



    </script>
{% endblock js %}