{% extends 'base.html' %}
{% load static from staticfiles %}
{% block css %}{% endblock css %}

{% block class_body %}  class="front" {% endblock %}

{% block content %}
    <main class="middle">
		<div class="slider_front slider_main">
			<h1 class="slider_title page_title">Коммерческая недвижимость Одессы за 30 мин</h1>
			<div class="slider_subtitle"><u>Нужно решить проблемы</u>  c коммерческой недвижимостью?</div>
			<div class="text">Помогаем с любой операцией по недвижимости за <u>30 минут</u></div>
			<form action="#" class="webform_client_form">
				<div class="form_item phone">
					<input type="text" placeholder="Введите ваш телефон">
				</div>
				<div class="form_actions">
					<input class="form-submit" type="submit" value="Заказать бесплатную консультацию">
				</div>
			</form>
		</div>

		<div class="block block_shops">
			<div class="block_content">
				<div class="block_title">Офисы и магазины / Горячие предложения</div>
				<div class="view_content">
					<div class="views_row">
						<div class="field_image">
							<img src="images/shop_1.png" alt="">
							<div class="type">Аренда офиса</div>
						</div>
						<div class="views_body">
							<div class="star"></div>
							<div class="address">Льва Толстого, 14</div>
							<div class="text">3 раздельные комнаты, приёмная. 1 комната в два уровня, 20 кв.м. и две по 15 кв.м. Хороший ремонт. в жилом фонде. Возможен торг!</div>
							<div class="price">$9641</div>
							<div class="statistics">265</div>
							<div class="area"><div class="count">90</div> <div class="units">м<sup>2</sup></div></div>
							<div class="read_more"><a href="/">Оставить заявку</a></div>
						</div>
					</div>
					<div class="views_row">
						<div class="field_image">
							<img src="images/shop_2.png" alt="">
							<div class="type">Аренда офиса</div>
						</div>
						<div class="views_body">
							<div class="star"></div>
							<div class="address">Пер. Ушакова, 96</div>
							<div class="text">3 раздельные комнаты, приёмная. 1 комната в два уровня, 20 кв.м. и две по 15 кв.м. Хороший ремонт. в жилом фонде. Возможен торг!</div>
							<div class="price">174 000 грн</div>
							<div class="statistics">78</div>
							<div class="area"><div class="count">65</div> <div class="units">м<sup>2</sup></div></div>
							<div class="read_more"><a href="/">Оставить заявку</a></div>
						</div>
					</div>
					<div class="views_row">
						<div class="field_image">
							<img src="images/shop_3.png" alt="">
							<div class="type">Аренда офиса</div>
						</div>
						<div class="views_body">
							<div class="star active"></div>
							<div class="address">Пушкинская, 32</div>
							<div class="text">3 раздельные комнаты, приёмная. 1 комната в два уровня, 20 кв.м. и две по 15 кв.м. Хороший ремонт. в жилом фонде. Возможен торг!</div>
							<div class="price">$69000</div>
							<div class="statistics">120</div>
							<div class="area"><div class="count">145</div> <div class="units">м<sup>2</sup></div></div>
							<div class="read_more"><a href="/">Оставить заявку</a></div>
						</div>
					</div>
					<div class="views_row">
						<div class="field_image">
							<img src="images/shop_1.png" alt="">
							<div class="type">Аренда офиса</div>
						</div>
						<div class="views_body">
							<div class="star"></div>
							<div class="address">Льва Толстого, 14</div>
							<div class="text">3 раздельные комнаты, приёмная. 1 комната в два уровня, 20 кв.м. и две по 15 кв.м. Хороший ремонт. в жилом фонде. Возможен торг!</div>
							<div class="price">$9641</div>
							<div class="statistics">265</div>
							<div class="area"><div class="count">90</div> <div class="units">м<sup>2</sup></div></div>
							<div class="read_more"><a href="/">Оставить заявку</a></div>
						</div>
					</div>
					<div class="views_row">
						<div class="field_image">
							<img src="images/shop_2.png" alt="">
							<div class="type">Аренда офиса</div>
						</div>
						<div class="views_body">
							<div class="star active"></div>
							<div class="address">Пер. Ушакова, 96</div>
							<div class="text">3 раздельные комнаты, приёмная. 1 комната в два уровня, 20 кв.м. и две по 15 кв.м. Хороший ремонт. в жилом фонде. Возможен торг!</div>
							<div class="price">174 000 грн</div>
							<div class="statistics">78</div>
							<div class="area"><div class="count">65</div> <div class="units">м<sup>2</sup></div></div>
							<div class="read_more"><a href="/">Оставить заявку</a></div>
						</div>
					</div>
					<div class="views_row">
						<div class="field_image">
							<img src="images/shop_3.png" alt="">
							<div class="type">Аренда офиса</div>
						</div>
						<div class="views_body">
							<div class="star"></div>
							<div class="address">Пушкинская, 32</div>
							<div class="text">3 раздельные комнаты, приёмная. 1 комната в два уровня, 20 кв.м. и две по 15 кв.м. Хороший ремонт. в жилом фонде. Возможен торг!</div>
							<div class="price">$69000</div>
							<div class="statistics">120</div>
							<div class="area"><div class="count">145</div> <div class="units">м<sup>2</sup></div></div>
							<div class="read_more"><a href="/">Оставить заявку</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="block block_shops hot_deals">
			<div class="block_content">
				<div class="block_title">Квартиры и дома/ Горячие предложения</div>
				<div class="view_content">
					<div class="views_row">
						<div class="field_image">
							<img src="images/shop_1.png" alt="">
							<div class="type">Аренда офиса</div>
						</div>
						<div class="views_body">
							<div class="star active"></div>
							<div class="address">Льва Толстого, 14</div>
							<div class="text">3 раздельные комнаты, приёмная. 1 комната в два уровня, 20 кв.м. и две по 15 кв.м. Хороший ремонт. в жилом фонде. Возможен торг!</div>
							<div class="price">$9641</div>
							<div class="statistics">265</div>
							<div class="area"><div class="count">90</div> <div class="units">м<sup>2</sup></div></div>
							<div class="read_more"><a href="/">Оставить заявку</a></div>
						</div>
					</div>
					<div class="views_row">
						<div class="field_image">
							<img src="images/shop_2.png" alt="">
							<div class="type">Аренда офиса</div>
						</div>
						<div class="views_body">
							<div class="star"></div>
							<div class="address">Пер. Ушакова, 96</div>
							<div class="text">3 раздельные комнаты, приёмная. 1 комната в два уровня, 20 кв.м. и две по 15 кв.м. Хороший ремонт. в жилом фонде. Возможен торг!</div>
							<div class="price">174 000 грн</div>
							<div class="statistics">78</div>
							<div class="area"><div class="count">65</div> <div class="units">м<sup>2</sup></div></div>
							<div class="read_more"><a href="/">Оставить заявку</a></div>
						</div>
					</div>
					<div class="views_row">
						<div class="field_image">
							<img src="images/shop_3.png" alt="">
							<div class="type">Аренда офиса</div>
						</div>
						<div class="views_body">
							<div class="star active"></div>
							<div class="address">Пушкинская, 32</div>
							<div class="text">3 раздельные комнаты, приёмная. 1 комната в два уровня, 20 кв.м. и две по 15 кв.м. Хороший ремонт. в жилом фонде. Возможен торг!</div>
							<div class="price">$69000</div>
							<div class="statistics">120</div>
							<div class="area"><div class="count">145</div> <div class="units">м<sup>2</sup></div></div>
							<div class="read_more"><a href="/">Оставить заявку</a></div>
						</div>
					</div>
					<div class="views_row">
						<div class="field_image">
							<img src="images/shop_1.png" alt="">
							<div class="type">Аренда офиса</div>
						</div>
						<div class="views_body">
							<div class="star"></div>
							<div class="address">Льва Толстого, 14</div>
							<div class="text">3 раздельные комнаты, приёмная. 1 комната в два уровня, 20 кв.м. и две по 15 кв.м. Хороший ремонт. в жилом фонде. Возможен торг!</div>
							<div class="price">$9641</div>
							<div class="statistics">265</div>
							<div class="area"><div class="count">90</div> <div class="units">м<sup>2</sup></div></div>
							<div class="read_more"><a href="/">Оставить заявку</a></div>
						</div>
					</div>
					<div class="views_row">
						<div class="field_image">
							<img src="images/shop_2.png" alt="">
							<div class="type">Аренда офиса</div>
						</div>
						<div class="views_body">
							<div class="star active"></div>
							<div class="address">Пер. Ушакова, 96</div>
							<div class="text">3 раздельные комнаты, приёмная. 1 комната в два уровня, 20 кв.м. и две по 15 кв.м. Хороший ремонт. в жилом фонде. Возможен торг!</div>
							<div class="price">174 000 грн</div>
							<div class="statistics">78</div>
							<div class="area"><div class="count">65</div> <div class="units">м<sup>2</sup></div></div>
							<div class="read_more"><a href="/">Оставить заявку</a></div>
						</div>
					</div>
					<div class="views_row">
						<div class="field_image">
							<img src="images/shop_3.png" alt="">
							<div class="type">Аренда офиса</div>
						</div>
						<div class="views_body">
							<div class="star"></div>
							<div class="address">Пушкинская, 32</div>
							<div class="text">3 раздельные комнаты, приёмная. 1 комната в два уровня, 20 кв.м. и две по 15 кв.м. Хороший ремонт. в жилом фонде. Возможен торг!</div>
							<div class="price">$69000</div>
							<div class="statistics">120</div>
							<div class="area"><div class="count">145</div> <div class="units">м<sup>2</sup></div></div>
							<div class="read_more"><a href="/">Оставить заявку</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="block new_buildings">
			<div class="block_content">
				<div class="block_title">Новостройки</div>
				<div class="view_content">
					<div class="views_row">
						<div class="title">Складской комплекс “Vivaldi”</div>
						<div class="field_image">
							<img src="images/new_1.png" alt="">
						</div>
						<div class="views_body">
							<div class="star"></div>
							<div class="left_wrap">
								<div class="address">Цветочная, 3</div>
								<div class="info">
									<div class="label">Район:</div>
									<div class="item">Центр</div>
								</div>
								<div class="info">
									<div class="label">Сдаваемых помещений:</div>
									<div class="item">4</div>
								</div>
								<div class="price">$577</div>
							</div>
							<div class="right_wrap">
								<div class="statistics">120</div>
								<div class="info">
									<div class="label">Сдаётся с    </div><div class="item"> 1 мая 2017 г.</div>
								</div>
								<div class="info">
									<div class="label">Общая площадь:</div><div class="item"> 907 м.кв.</div>
								</div>
								<div class="read_more"><a href="/">Оставить заявку</a></div>
							</div>
						</div>
					</div>
					<div class="views_row">
						<div class="title">Микрорайон “Фазенда”</div>
						<div class="field_image">
							<img src="images/new_2.png" alt="">
						</div>
						<div class="views_body">
							<div class="star active"></div>
							<div class="left_wrap">
								<div class="address">Пушкинская, 32</div>
								<div class="info">
									<div class="label">Район:</div>
									<div class="item">Центр</div>
								</div>
								<div class="info">
									<div class="label">Сдаваемых помещений:</div>
									<div class="item">4</div>
								</div>
								<div class="price">$577</div>
							</div>
							<div class="right_wrap">
								<div class="statistics">120</div>
								<div class="info">
									<div class="label">Сдаётся с</div><div class="item"> 1 мая 2017 г.</div>
								</div>
								<div class="info">
									<div class="label">Общая площадь:</div><div class="item"> 907 м.кв.</div>
								</div>
								<div class="read_more"><a href="/">Оставить заявку</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="block block_services">
			<div class="block_content">
				<div class="block_title">Услуги агентства недвижимости</div>
				<div class="view_content">
					<div class="views_row">
						<div class="field_image"><a href="/"><img src="images/1.png" alt=""></a></div>
						<div class="field_title"><a href="/">Кредитование</a></div>
					</div>
					<div class="views_row">
						<div class="field_image"><a href="/"><img src="images/2.png" alt=""></a></div>
						<div class="field_title"><a href="/">Установка газовых счетчиков</a></div>
					</div>
					<div class="views_row">
						<div class="field_image"><a href="/"><img src="images/3.png" alt=""></a></div>
						<div class="field_title"><a href="/">Установка счетчиков тепла</a></div>
					</div>
					<div class="views_row">
						<div class="field_image"><a href="/"><img src="images/4.png" alt=""></a></div>
						<div class="field_title"><a href="/">Инфоксводоканал</a></div>
					</div>
					<div class="views_row">
						<div class="field_image"><a href="/"><img src="images/1.png" alt=""></a></div>
						<div class="field_title"><a href="/">Кредитование</a></div>
					</div>
					<div class="views_row">
						<div class="field_image"><a href="/"><img src="images/3.png" alt=""></a></div>
						<div class="field_title"><a href="/">Установка газовых счетчиков</a></div>
					</div>
					<div class="views_row">
						<div class="field_image"><a href="/"><img src="images/2.png" alt=""></a></div>
						<div class="field_title"><a href="/">Установка счетчиков тепла</a></div>
					</div>
					<div class="views_row">
						<div class="field_image"><a href="/"><img src="images/4.png" alt=""></a></div>
						<div class="field_title"><a href="/">Инфоксводоканал</a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="block block_presentation">
			<div class="block_content">
				<div class="block_title">Любая операция с недвижимостью за 30 минут</div>
				<div class="view_content">
					<div class="present_wrap">
						<div class="see_present">Посмотреть<br> видеопрезентацию</div>
					</div>
					<div class="views_row">
						<div class="field_image"><img src="images/why_1.png" alt=""></div>
						<div class="title">Оказание помощи<br> при заключении договора</div>
					</div>
					<div class="views_row">
						<div class="field_image"><img src="images/why_2.png" alt=""></div>
						<div class="title">Подборка помещений<br> на почту за 2 часа</div>
					</div>
					<div class="views_row">
						<div class="field_image"><img src="images/why_3.png" alt=""></div>
						<div class="title">Договорённость<br> на осмотр помещения</div>
					</div>
					<div class="views_row">
						<div class="field_image"><img src="images/why_4.png" alt=""></div>
						<div class="title">Бесплатное размещение<br> объявлений на сайте</div>
					</div>
					<form action="#" class="webform_client_form">
						<div class="form_item user_name">
							<input type="text" placeholder="Введите ваше имя">
						</div>
						<div class="form_item phone">
							<input type="text" placeholder="Введите ваш телефон">
						</div>
						<div class="form_actions">
							<input type="submit" class="form_submit" value="Связаться с агентством">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="block block_seo">
			<div class="block_content">
				<div class="block_title">Вся коммерческая недвижимость Одессы только у нас</div>
				<div class="view_content">
					<div class="body">
						<div class="image">
							<img src="{% static 'images/img.png' %}" alt="" class="left">
						</div>
						<div class="content_body">
							<p>Еще не знаете, какое помещение в Одессе арендовать или купить под бизнес? Наше агентство недвижимости «GEK» поможет не только с поиском, но и выполнит всю бумажную работу за Вас.</p>
							<p>На нашем сайте Вы найдете:</p>
							<ul>
								<li>Отобранные магазины в аренду, а так же в продажу по самым доступным ценам от проверенных хозяев.</li>
								<li>Большой выбор офисов в аренду или продажу, как с ремонтом и мебелью, так и под ремонт с гораздо меньшей стоимостью.</li>
							</ul>
							<p>Коммерческая недвижимость является привлекательным инвестиционным объектом. Ее приобретают с различными целями – для ведения своего бизнеса, сдачи в аренду или перепродажи. Таким образом, коммерческая недвижимость в Украине является высокодоходным активом, поэтому и данный сектор рынка недвижимости постоянно развивается. Коммерческая недвижимость представляет собой помещения, здания и различные объекты, которые используются для ведения бизнеса и</p>
							<p>На нашем сайте Вы найдете:</p>
							<ul>
								<li>Отобранные магазины в аренду, а так же в продажу по самым доступным ценам от проверенных хозяев.</li>
								<li>Большой выбор офисов в аренду или продажу, как с ремонтом и мебелью, так и под ремонт с гораздо меньшей стоимостью.</li>
							</ul>
						</div>
					</div>
					<div class="read_more"><a href="/">Читать всю статью</a></div>
				</div>
			</div>
		</div>
		<div class="block block_articles">
			<div class="block_content">
				<div class="block_title">Полезные статьи на тему ”Недвижимость Одессы”</div>
				<div class="view_content">
					<div class="view_content_inner">
						<div class="views_row">
							<div class="field_image">
								<a href="/">
									<img src="images/ar_1.png" alt="">
								</a>
							</div>
							<div class="views_body">
							<div class="field_title"><a href="/">Рынок жилой недвижимости в 2016 году: спрос, предложение, цены</a></div>
							<div class="field_body">Рынок жилой недвижимости в уходящем году был достаточно активным – на этом сходятся все эксперты.</div>
							<div class="statistics">265</div>
							</div>
						</div>
						<div class="views_row">
							<div class="field_image">
								<a href="/">
									<img src="images/ar_2.png" alt="">
								</a>
							</div>
							<div class="views_body">
							<div class="field_title"><a href="/">Украинская недвижимость остается привлекательной для инвесторов</a></div>
							<div class="field_body">Киев в очередной раз принимал инвестиционный Форум недвижимости стран Восточной Европы, в ходе которого</div>
							<div class="statistics">63</div>
							</div>
						</div>
						<div class="views_row">
							<div class="field_image">
								<a href="/">
									<img src="images/ar_3.png" alt="">
								</a>
							</div>
							<div class="views_body">
							<div class="field_title"><a href="/">Покупаем земельный участок не в сезон: выгодно или нет?</a></div>
							<div class="field_body">Завершение теплого периода года обычно негативно отражается на активности рынка земельных участков.</div>
							<div class="statistics">96</div>
							</div>
						</div>
						<div class="views_row">
							<div class="field_image">
								<a href="/">
									<img src="images/ar_4.png" alt="">
								</a>
							</div>
							<div class="views_body">
							<div class="field_title"><a href="/">Кредиты и рассрочки на квартиры в новостройках: что изменилось </a></div>
							<div class="field_body">Рассрочка от застройщика уже несколько лет для многих потенциальных покупателей жилья является единственным</div>
							<div class="statistics">47</div>
							</div>
						</div>
					</div>
					<div class="read_more"><a href="/">Читать все статьи</a></div>
				</div>
			</div>
		</div>
	</main><!-- .content -->
{% endblock content %}

{% block js %}{% endblock js %}