{% load i18n %}
<div class="block block_presentation {{ class }}">
	<div class="block_content">
		<div class="block_title">{% trans 'Подберем вам необходимый объект за 30 минут' %}</div>
		<div class="view_content">
			<div class="sub_title">{% trans 'В базе более 1000 объектов' %}</div>
			<form action="#" class="webform_client_form" id="form_block_presentation">
                {% csrf_token %}
                <input type="hidden" name="source" value="Связаться со специалистом.{{ source }}">
				<div class="form_item user_name">
					<input name="name" type="text" placeholder="{% trans 'Введите ваше имя' %}">
				</div>
				<div class="form_item phone">
					<input name="phone" type="text" placeholder="{% trans 'Введите ваш телефон' %}">
				</div>
				<div class="form_item form_textarea">
					<textarea name="text" placeholder="{% trans 'Введите ваше сообщение' %}"></textarea>
				</div>
				<div class="form_actions">
					<input type="submit" class="form_submit submit-save-application" value="{% trans 'Связаться со специалистом' %}">
				</div>
			</form>
		</div>
	</div>
</div>
