{% load i18n %}
<div id="block-webform" class="block block_webform webform_object object-parameter" style="display: none">
	<div class="block_content">
		<div class="block_title">{% trans 'Подберем вам объект по вашим' %} <br>{% trans 'параметрам за' %} 30 {% trans 'минут' %}</div>
		<div class="text">{% trans 'Более 1000 объектов в базе и большой опыт в работе поможет нам решить вашу проблему' %} <br>{% trans 'в поиске подходящего' %}</div>
		<div class="close"></div>
		<div class="view_content">
			<form action="#" class="webform_client_form">
                {% csrf_token %}
                <input type="hidden" name="source" value="Подборка обьектов.{{ seo }}">
                <input type="hidden" name="text" value=""
                       {% if building %}
                            class="hid-name-building"
                       {% elif office %}
                            class="hid-name-office"
                       {% elif daily %}
                            class="hid-name-daily"
                       {% elif newbuilding %}
                            class="hid-name-newbuilding"
                       {% elif earth %}
                            class="hid-name-earth"
                       {% endif %}
                >
				<div class="bottom_wrap">
                    {% if building %}
                        {% include 'rieltor_object/filters/building_filters.html' %}
                    {% elif office %}
                        {% include 'rieltor_object/filters/office_filter.html' %}
                    {% elif daily %}
                        {% include 'rieltor_object/filters/daily_filter.html' %}
                    {% elif newbuilding %}
                        {% include 'rieltor_object/filters/newbuilding_filter.html' %}
                    {% elif earth %}
                        {% include 'rieltor_object/filters/earth_filter.html' %}
                    {% endif %}
					<div class="form_item phone">
						<input name="phone" type="text" placeholder="{% trans 'Номер телефона' %}">
					</div>
					<div class="form_actions">
						<input type="submit" value="{% trans 'Подобрать объект' %}" class="submit-save-application">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>