{% load i18n %}
<div  class="block block_webform webform_client block-add-booking" style="max-width: 500px; top: 40%; left: 75%; display: none">
    <div class="block_content">
        <div class="close" style="top: -20px; right: -25px"></div>
        <div class="view_content">
            <form action="#" class="webform_client_form" id="form-add-booking">
                {% csrf_token %}
                <input type="hidden" name="source" value="{% trans 'Забронировать объект' %}.<a target='_blank' href='{{ object.get_absolute_url }}'>{% trans 'Объект' %}</a>">
                <div class="top_wrap">
                    <div class="form_item name">
                        <input name="name"  type="text" placeholder="{% trans 'Введите ваше имя' %}">
                    </div>
                    <div class="form_item phone">
                        <input name="phone" type="text" placeholder="{% trans 'Номер телефона' %}">
                    </div>
                </div>
                <div class="form_actions">
                    <input type="submit" class="form_submit submit-save-application" value="{% trans 'Забронировать объект' %}">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(document).on('click', '.submit-add-booking-modal', function (event) {
            event.preventDefault();
            var source = $(this).next().children('a').attr('href');
            $('#form-add-booking').children('input[name="source"]').val("{% trans 'Забронировать объект' %}.<a target='_blank' href='"+source+"'>{% trans 'Объект' %}</a>");
            $('body').addClass('popup');
            $('.block-add-booking').fadeIn();
        });
    });
</script>