<div id="block-webform" class="block block_webform webform_object object-parameter" style="display: none">
	<div class="block_content">
		<div class="block_title">Подберем вам объект по вашим <br>параметрам за 30 минут</div>
		<div class="text">Более 1000 объектов в базе и большой опыт в работе поможет нам решить вашу проблему <br>в поиске подходящего жилья</div>
		<div class="close"></div>
		<div class="view_content">
			<form action="#" class="webform_client_form">
                {% csrf_token %}
                <input type="hidden" name="source" value="Подборка обьектов.{{ seo }}">
                <input type="hidden" name="text" value="" class="hid-name">
				<div class="bottom_wrap">
					{% include 'rieltor_object/filters/building_filters.html' %}
					<div class="form_item phone">
						<input name="phone" type="text" placeholder="Номер телефона">
					</div>
					<div class="form_actions">
						<input type="submit" value="Подобрать квартиру" class="submit-save-application">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>