{% extends 'base.html' %}
{% load static from staticfiles %}
{% load video_tag %}
{% load thumbnail %}
{% load banners_tag %}
{% load base_tag %}
{% load i18n %}
{% block css %}
    <script type="text/javascript" src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
{% endblock css %}

{% block SEOTitle %} {{ seo.SEOTitle }} {% endblock SEOTitle %}
{% block SEOKeywords %}{{ seo.SEOKeywords }}{% endblock SEOKeywords %}
{% block SEODescription %}{{ seo.SEODescription }}{% endblock SEODescription %}

{% block class_body %}  class="not-front contacts" {% endblock %}

{% block content %}
	<main class="middle">
		<div class="slider_main slider_notfront" {% if object.image %}style="background: url({{ object.image.url }}) no-repeat center/cover"{% endif %}>
			<h1 class="slider_title page_title">{{ seo.title|default:'Свяжитесь с нами' }}</h1>
			<div class="top_inner_content">
				<div class="title">{% trans 'Бесплатная консультация по всем вопросам 24/7' %}</div>
			</div>
			<form action="#" class="webform_client_form">
                {% csrf_token %}
                <input type="hidden" name="source" value="{% trans 'Связаться со специалистом.Контакти' %}">
				<div class="form_item name">
					<input name="name" type="text" placeholder="{% trans 'Введите ваше имя' %}">
				</div>
				<div class="form_item phone">
					<input name="phone" type="text" placeholder="{% trans 'Введите ваш телефон' %}">
				</div>
				<div class="form_textarea">
					<textarea name="text" placeholder="{% trans 'Введите ваше сообщение' %}"></textarea>
				</div>				
				<div class="form_actions">
					<input class="form-submit submit-save-application" type="submit" value="{% trans 'Связаться со специалистом' %}">
				</div>
			</form>
		</div>
		<div class="middle_inner">		
			<div class="container">
				<div id="content">
					<div class="block_work_client">
						<div class="block_content">
							<div class="title">{% trans 'ОТДЕЛ ПО РАБОТЕ С КЛИЕНТАМИ' %}:</div>
							<div class="view_content">
								<div class="views_row">
									<div class="label">{% trans 'Наш адрес' %}:</div>
									<div class="field_item">{{ object.our_address|default:'' }}</div>
								</div>
								<div class="views_row">
									<div class="label">E-mail:</div>
									<div class="field_item"><a href="mailto:image2007@bk.ru">{{ object.our_email|default:'' }}</a></div>
								</div>
								<div class="views_row">
									<div class="label">{% trans 'График работы' %}:</div>
									<div class="field_item">
                                        {% for schedule in object.schedules.all reversed %}
                                            {% if schedule.special %}
                                                {{ schedule.special }}
                                            {% else %}
                                                {{ schedule.day }} c {{ schedule.open_from }} до {{ schedule.open_to }}
                                            {% endif %}
                                            <br>
                                        {% endfor %}
                                    </div>
								</div>
								<div class="views_row">
									<div class="label">{% trans 'По любому вопросу вы можете позвонить по телефонам' %}:</div>
									<div class="field_item"><a href="tel:+380972443790">{{ object.phone }}</a></div>
								</div>
							</div>
						</div>
					</div>
					<div class="block_contacts_specialists">
						<div class="block_title">{% trans 'Наши специалисты' %}:</div>
						<div class="block_content">
							<div class="view_contet">
                                {% for user in object.users.all %}
                                    <div class="views_row">
                                        <div class="views_row_inner">
                                            {% if user.avatar %}
                                                <div class="left_wrap">
                                                    <div class="field_image">
                                                        <img src="{{ user.avatar|thumbnail_url:'user_avatar_270_330' }}" alt="">
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <div class="right_wrap">
                                                <div class="name">{{ user.first_name }}</div>
                                                <div class="about_block">
                                                    <div class="field_item">
                                                        <div class="label">{% trans 'Специализация' %}:</div>
                                                        <div class="text">{{ user.specialization|default:'' }}</div>
                                                    </div>
                                                    <div class="field_item">
                                                        <div class="label">Skype:</div>
                                                        <div class="text">{{ user.skype|default:'' }}</div>
                                                    </div>
                                                    <div class="field_item">
                                                        <div class="label">{% trans 'Номер телефона' %}:</div>
                                                        <div class="text"><a href="tel:{{ user.phone|default:'' }}">{{ user.phone|default:'' }}</a></div>
                                                    </div>
                                                    <div class="field_item">
                                                        <div class="label">E-mail:</div>
                                                        <div class="text"><a href="mailto:{{ user.email|default:'' }}">{{ user.email|default:'' }}</a></div>
                                                    </div>
                                                </div>
                                                <div class="body_wrap">
                                                    {{ user.about_self|default:'' }} 
                                                </div>
                                                {% if user.video %}
                                                    <div class="video">
                                                        <div class="title">{% trans 'Видеопрезентация' %}:</div>
                                                        <div class="video_field">
                                                            <div>
                                                                {{ user.video|convert_to_frame|safe }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
							</div>
						</div>
					</div>
				</div><!-- #content-->				
			</div>			
		</div>
		<div class="region_map">
			<div class="map">
				<div class="field_image">
                    <div id="map" style="width: 100%; height: 320px;"></div>
				</div>
			</div>
		</div>
		{% include 'common/include/vip.html' %}
		{% downbanner %}
	</main><!-- .content -->

{% endblock content %}
{% block js %}
    <script>
        $(document).ready(function(){
            ymaps.ready(init);

            function init() {
                var myMap = new ymaps.Map('map', {
                    center: [55.753994, 37.622093],
                    zoom: 9
                });

                ymaps.geocode('{% city %}', {
                    results: 1
                }).then(function (res) {
                    var firstGeoObject = res.geoObjects.get(0),
                    coords = firstGeoObject.geometry.getCoordinates(),
                    bounds = firstGeoObject.properties.get('boundedBy');

                    myMap.geoObjects.add(firstGeoObject);
                    myMap.setBounds(bounds, {
                        checkZoomRange: true
                    });
                });
            }
        });
    </script>
{% endblock js %}