{% load thumbnail %}
{% if seo.title_seo or seo.content  %}
    <div class="block block_seo">
        <div class="block_content">
            <div class="block_title">{{ seo.title_seo|default_if_none:'' }}</div>
                <div class="view_content">
                    <div class="body">
                        <div class="image">
                            {% if seo.image_seo %}
                                <img src="{{ seo.image_seo|thumbnail_url:'seo_480' }}" alt="" class="left">
                            {% endif %}

                        </div>
                        <div class="content_body">
                            {{ seo.content|safe }}
                        </div>
                    </div>
                {% if seo.content|length > 100 %}
                    <div class="read_more"><a href="/">Читать всю статью</a></div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}