{% extends 'base.html' %}
{% load static from staticfiles %}
{% load video_tag %}
{% load thumbnail %}
{% load banners_tag %}
{% block css %}{% endblock css %}

{% block SEOTitle %} {{ seo.SEOTitle|default_if_none:'' }} {% endblock SEOTitle %}
{% block SEOKeywords %}{{ seo.SEOKeywords|default_if_none:'' }}{% endblock SEOKeywords %}
{% block SEODescription %}{{ seo.SEODescription|default_if_none:'' }}{% endblock SEODescription %}

{% block class_body %}  class="not-front video_transfer sidebar_first" {% endblock %}

{% block content %}
    <main class="middle">
		<div class="slider_main slider_notfront">
			<div class="slider_title">{{ seo.title|default:'Видео передачи' }}</div>
			<form action="#" class="webform_client_form">
				<div class="form_item search">
					<input type="text" placeholder="Поиск видео передач">
				</div>
				<div class="form_actions">
					<input class="form-submit" type="submit" value="Найти">
				</div>
			</form>			
		</div>
		<div class="middle_inner">		
			<div class="container">
				<div id="content">
					<div class="block block_video_transfer">
						<div class="block_content">
							<div class="view_content">
                                {% for object in object_list %}
                                    <div class="views_row">
                                        <div class="views_row_inner">
                                            <a href="{{ object.get_absolute_url }}"><div class="title">{{ object.title }}</div></a>
                                            <div class="field_image"><img src="{{ object.image|thumbnail_url:'gallery_image_370' }}" alt=""></div>
                                            <div class="field_nid">
                                                <ul>
                                                    {% for known in object.what_you_knowns.all %}
                                                        <li>{{ known.text }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="field_info">
                                                <div class="stat">{{ object.views }}</div>
                                                <div class="time">{{ object.time }}</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

							</div>
							<div class="load_more read_more"><a href="#">Загрузить еще <span>45</span> видеопередач</a></div>
						</div>
					</div>
				</div><!-- #content-->
				
			</div>
			<div class="left_sidebar">				
				{% include 'services/include/services_sidebar.html' %}
				{% sidebanner %}
			</div>
		</div>
		{% include 'articles/include/article_prop.html' %}
		{% downbanner %}
	</main><!-- .content -->


{% endblock content %}
{% block js %}
    <script src="{% static '' %}"></script>
{% endblock js %}