{% extends 'admin2/base.html' %}

{% load static from staticfiles %}
{% load thumbnail %}

{% block title %}Редирект{% endblock title %}

{% block css %}{% endblock css %}

{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Оплата франшизы</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Подтверждение оплаты</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div id="wizard" class="form_wizard wizard_horizontal">
                                <ul class="wizard_steps">
                                    <li>
                                        <a href="#step-1" class="selected">
                                            <span class="step_no">1</span>
                                            <span class="step_descr">
                                                Шаг 1<br />
                                                <small>Шаг 1 подтверждение</small>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                    <a href="#step-2" class="disabled">
                                        <span class="step_no">2</span>
                                        <span class="step_descr">
                                            Шаг 2<br />
                                            <small>Шаг 2 подтверждено</small>
                                        </span>
                                    </a>
                                    </li>
                                </ul>
                                <div id="step-1">
                                    <div class="form-horizontal form-label-left">
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Сумма платежа: <span class="required"></span>
                                            </label>
                                            <div class="col-md-7 col-sm-7 col-xs-12">
                                                <input type="text" disabled value="{{ pay_setting.price_30 }} {{ privat_setting.currency }}" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Назначение платежа: <span class="required"></span>
                                            </label>
                                            <div class="col-md-7 col-sm-7 col-xs-12">
                                                <input type="text" disabled value="Продление франшизы {{ request.get_host }}" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Метод платежа: <span class="required"></span>
                                            </label>
                                            <div class="col-md-7 col-sm-7 col-xs-12">
                                                <input type="text" disabled value="Приват24" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    <form action="https://api.privatbank.ua/p24api/ishop" method="post">
                                        <input type="hidden" name="amt" value="{{ pay_setting.price_30 }}">
                                        <input type="hidden" name="ccy" value="{{ privat_setting.currency }}">
                                        <input type="hidden" name="merchant" value="{{ privat_setting.merchant }}">
                                        <input type="hidden" name="order" value="1">
                                        <input type="hidden" name="details" value="Продление франшизы {{ request.get_host }}">
                                        <input type="hidden" name="ext_details" value="Стоимость за {{ days }}">
                                        <input type="hidden" name="pay_way" value="privat24">
                                        <input type="hidden" name="return_url" value="xata-spb.ru">
                                        <input type="hidden" name="server_url" value="xata-spb.ru">
                                        <input type="hidden" name="signature" value="{{ signature }}">
                                        <div class="form-group" style="float: right">
                                            <input type="submit" class="btn btn-success" value="Перейти к оплате">
                                        </div>
                                    </form>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock content %}

{% block js %}
    <script src="{% static 'js/sections.js' %}"></script>
{% endblock js %}