{% load rieltor_tag %}
<div class="filters">
    {% for district in filter_form.form.district %}
        {% if district.data.selected and '-' not in district.choice_label %}
            <div name="district" class="item">{{ district.choice_label }}<div class="close close-item" data-href="{% filterpath request.path district.data.name district.data.value %}"></div></div>
        {% endif %}
    {% endfor %}
    {% if filter_form.form.price__gt.data or filter_form.form.price__lt.data %}
        <div class="item" name="price">
            {% if filter_form.form.price__gt.data %}
                {% if not filter_form.form.price__lt.data %}
                    От {{ filter_form.form.price__gt.data }}
                    {% else %}
                    {{ filter_form.form.price__gt.data }}
                {% endif %}
            {% endif %}
            {% if filter_form.form.price__lt.data %}
                {% if not filter_form.form.price__gt.data %}
                    До {{ filter_form.form.price__lt.data }}
                    {% else %}
                    -{{ filter_form.form.price__lt.data }}
                {% endif %}
            {% endif %}
            <div class="close close-item" data-href="
                 {% if filter_form.form.price__gt.data and filter_form.form.price__lt.data %}
                    {% filterpath request.path filter_form.form.price__gt.name filter_form.form.price__gt.data filter_form.form.price__lt.name filter_form.form.price__lt.data %}
                    {% elif filter_form.form.price__gt.data %}
                        {% filterpath request.path filter_form.form.price__gt.name filter_form.form.price__gt.data %}
                    {% elif filter_form.form.price__lt.data %}
                        {% filterpath request.path filter_form.form.price__lt.name filter_form.form.price__lt.data %}
                 {% endif %}
            "></div>
        </div>
    {% endif %}
    {% if filter_form.form.price_object__gt.data or filter_form.form.price_object__lt.data %}
        <div class="item" name="price">
            {% if filter_form.form.price_object__gt.data %}
                {% if not filter_form.form.price_object__lt.data %}
                    От {{ filter_form.form.price_object__gt.data }}
                    {% else %}
                    {{ filter_form.form.price_object__gt.data }}
                {% endif %}
            {% endif %}
            {% if filter_form.form.price_object__lt.data %}
                {% if not filter_form.form.price_object__gt.data %}
                    До {{ filter_form.form.price_object__lt.data }}
                    {% else %}
                    -{{ filter_form.form.price_object__lt.data }}
                {% endif %}
            {% endif %}
            <div class="close close-item" data-href="
                 {% if filter_form.form.price_object__gt.data and filter_form.form.price_object__lt.data %}
                    {% filterpath request.path filter_form.form.price_object__gt.name filter_form.form.price_object__gt.data filter_form.form.price_object__lt.name filter_form.form.price_object__lt.data %}
                    {% elif filter_form.form.price_object__gt.data %}
                        {% filterpath request.path filter_form.form.price_object__gt.name filter_form.form.price_object__gt.data %}
                    {% elif filter_form.form.price_object__lt.data %}
                        {% filterpath request.path filter_form.form.price_object__lt.name filter_form.form.price_object__lt.data %}
                 {% endif %}
            "></div>
        </div>
    {% endif %}
    {% if filter_form.form.total_area__gt.data or filter_form.form.total_area__lt.data %}
        <div class="item" name="total_area">
            {% if filter_form.form.total_area__gt.data %}
                {% if not filter_form.form.total_area__lt.data %}
                    От {{ filter_form.form.total_area__gt.data }}
                    {% else %}
                    {{ filter_form.form.total_area__gt.data }}
                {% endif %}
            {% endif %}
            {% if filter_form.form.total_area__lt.data %}
                {% if not filter_form.form.total_area__gt.data %}
                    До {{ filter_form.form.total_area__lt.data }}
                    {% else %}
                    -{{ filter_form.form.total_area__lt.data }}
                {% endif %}
            {% endif %} м.кв
            <div class="close close-item" data-href="
                 {% if filter_form.form.total_area__gt.data and filter_form.form.total_area__lt.data %}
                    {% filterpath request.path filter_form.form.total_area__gt.name filter_form.form.total_area__gt.data filter_form.form.total_area__lt.name filter_form.form.total_area__lt.data %}
                    {% elif filter_form.form.total_area__gt.data %}
                        {% filterpath request.path filter_form.form.total_area__gt.name filter_form.form.total_area__gt.data %}
                    {% elif filter_form.form.total_area__lt.data %}
                        {% filterpath request.path filter_form.form.total_area__lt.name filter_form.form.total_area__lt.data %}
                 {% endif %}
            "></div>
        </div>
    {% endif %}
</div>