{% load rieltor_tag %}
<div class="filters">
    {% for type_deal in filter_form.form.type_deal %}
        {% if type_deal.data.selected %}
            <div name="type_deal" class="item">{{ type_deal.choice_label }}<div class="close close-item" data-href="{% filterpath request.path type_deal.data.name type_deal.data.value %}"></div></div>
        {% endif %}
    {% endfor %}
    {% for appointment in filter_form.form.appointment %}
        {% if appointment.data.selected and '-' not in appointment.choice_label %}
            <div name="appointment" class="item">{{ appointment.choice_label }}<div class="close close-item" data-href="{% filterpath request.path appointment.data.name appointment.data.value %}"></div></div>
        {% endif %}
    {% endfor %}
    {% if filter_form.form.price__gt.data or filter_form.form.price__lt.data %}
        <div name="price" class="item">
            {% if filter_form.form.price__gt.data %}
                {% if not filter_form.form.price__lt.data %}
                    От {{ filter_form.form.price__gt.data }}
                    {% else %}
                    {{ filter_form.form.price__gt.data }}
                {% endif %}
            {% endif %}
            {% if filter_form.form.price__lt.data %}
                {% if not filter_form.form.price__gt.data %}
                    До {{ filter_form.form.price__lt.data }}
                    {% else %}
                    -{{ filter_form.form.price__lt.data }}
                {% endif %}
            {% endif %} грн
            <div class="close close-item" data-href="
                 {% if filter_form.form.price__gt.data and filter_form.form.price__lt.data %}
                    {% filterpath request.path filter_form.form.price__gt.name filter_form.form.price__gt.data filter_form.form.price__lt.name filter_form.form.price__lt.data %}
                    {% elif filter_form.form.price__gt.data %}
                        {% filterpath request.path filter_form.form.price__gt.name filter_form.form.price__gt.data %}
                    {% elif filter_form.form.price__lt.data %}
                        {% filterpath request.path filter_form.form.price__lt.name filter_form.form.price__lt.data %}
                 {% endif %}
            "></div>
        </div>
    {% endif %}
    {% if filter_form.form.footage__gt.data or filter_form.form.footage__lt.data %}
        <div name="footage" class="item close-item">
            {% if filter_form.form.footage__gt.data %}
                {% if not filter_form.form.footage__lt.data %}
                    От {{ filter_form.form.footage__gt.data }}
                    {% else %}
                    {{ filter_form.form.footage__gt.data }}
                {% endif %}
            {% endif %}
            {% if filter_form.form.footage__lt.data %}
                {% if not filter_form.form.footage__gt.data %}
                    До {{ filter_form.form.footage__lt.data }}
                    {% else %}
                    -{{ filter_form.form.footage__lt.data }}
                {% endif %}
            {% endif %}
            <div class="close close-item" data-href="
                 {% if filter_form.form.footage__gt.data and filter_form.form.footage__lt.data %}
                    {% filterpath request.path filter_form.form.footage__gt.name filter_form.form.footage__gt.data filter_form.form.footage__lt.name filter_form.form.footage__lt.data %}
                    {% elif filter_form.form.footage__gt.data %}
                        {% filterpath request.path filter_form.form.footage__gt.name filter_form.form.footage__gt.data %}
                    {% elif filter_form.form.footage__lt.data %}
                        {% filterpath request.path filter_form.form.footage__lt.name filter_form.form.footage__lt.data %}
                 {% endif %}
            "></div>
        </div>
    {% endif %}
    {% for location in filter_form.form.location %}
        {% if location.data.selected %}
            <div name="location" class="item">{{ location.choice_label }}<div class="close close-item" data-href="{% filterpath request.path location.data.name location.data.value %}"></div></div>
        {% endif %}
    {% endfor %}
    {% for floor in filter_form.form.floor %}
        {% if floor.data.selected %}
            <div name="floor" class="item">{{ floor.choice_label }}<div class="close close-item" data-href="{% filterpath request.path floor.data.name floor.data.value %}"></div></div>
        {% endif %}
    {% endfor %}
    {% for entrance in filter_form.form.entrance %}
        {% if entrance.data.selected %}
            <div name="entrance" class="item">{{ entrance.choice_label }}<div class="close close-item" data-href="{% filterpath request.path entrance.data.name entrance.data.value %}"></div></div>
        {% endif %}
    {% endfor %}
</div>