{% extends 'base.html' %}
{% load static from staticfiles %}
{% load video_tag %}
{% load thumbnail %}
{% load banners_tag %}
{% load i18n %}
{% block css %}{% endblock css %}

{% block SEOTitle %} {{ seo.SEOTitle }} {% endblock SEOTitle %}
{% block SEOKeywords %}{{ seo.SEOKeywords }}{% endblock SEOKeywords %}
{% block SEODescription %}{{ seo.SEODescription }}{% endblock SEODescription %}

{% block class_body %}  class="not-front insurance" {% endblock %}

{% block content %}
	<main class="middle">
		<div class="slider_main slider_notfront"
            {% if insurance.image_avatar %}
                style="background: url({{ insurance.image_avatar.url }}) no-repeat center/cover"
             {% endif %}>
			<div class="slider_title">{{ seo.title|default:_('Страхование недвижимости') }}</div>
			<div class="slider_subtitle">{% trans 'от ведущих компаний, за 2 часа!' %}</div>
			<div class="title_text">{% trans 'Отправить заявку прямо сейчас!' %}</div>
			<form action="#" class="webform_client_form">
                {% csrf_token %}
                <input type="hidden" name="source" value="{% trans 'Заявка.Страхование недвижимости.' %}">
                <input type="hidden" name="content_type" value="{{ content_type }}">
                <input type="hidden" name="object_id" value="{{ insurance.id }}">
				<div class="form_item name">
					<input name="name" type="text" placeholder="{% trans 'Введите имя' %}">
				</div>
				<div class="form_item phone">
					<input name="phone" type="text" placeholder="{% trans 'Введите телефон' %}">
				</div>
				<div class="form_actions">
					<input class="form-submit submit-save-application" type="submit" value="{% trans 'Отправить' %}">
				</div>
			</form>
		</div>
		<div class="middle_inner">		
			<div class="container">
				<div id="content">
					<div class="block block_compensate">
						<div class="block_content">
							<div class="block_title">{% trans 'В каких случаях возместим Вам ущерб?' %}</div>
							<div class="view_content">
								<div class="views_row">
									<div class="field_image">
										<img src="{% static 'images/co_1.png' %}" alt="">
									</div>
									<div class="title">{% trans 'Кража' %}</div>
								</div>
								<div class="views_row">
									<div class="field_image">
										<img src="{% static 'images/co_2.png' %}" alt="">
									</div>
									<div class="title">{% trans 'Пожар' %}</div>
								</div>
								<div class="views_row">
									<div class="field_image">
										<img src="{% static 'images/co_3.png' %}" alt="">
									</div>
									<div class="title">{% trans 'Повреждение' %} <br>{% trans 'водой' %}</div>
								</div>
								<div class="views_row">
									<div class="field_image">
										<img src="{% static 'images/co_4.png' %}" alt="">
									</div>
									<div class="title">{% trans 'Потоп' %}</div>
								</div>
								<div class="views_row">
									<div class="field_image">
										<img src="{% static 'images/co_5.png' %}" alt="">
									</div>
									<div class="title">{% trans 'Стихийные' %} <br>{% trans 'бедствия' %}</div>
								</div>
								<div class="views_row">
									<div class="field_image">
										<img src="{% static 'images/co_6.png' %}" alt="">
									</div>
									<div class="title">{% trans 'Потеря' %} <br>{% trans 'арендной платы' %}</div>
								</div>
								<div class="views_row">
									<div class="field_image">
										<img src="{% static 'images/co_7.png' %}" alt="">
									</div>
									<div class="title">{% trans 'Действия' %} <br>{% trans 'животных' %}</div>
								</div>
							</div>
						</div>
					</div>
					<div class="block block_our_advantages">
						<div class="block_content">
							<div class="block_title">{% trans 'Наши преимущества' %}:</div>
							<div class="view_content">
								<div class="views_row">
									<div class="field_image">
										<img src="{% static 'images/a_1.png' %}" alt="">
									</div>
									<div class="title">{% trans 'Удобно' %}</div>
									<div class="subtitle">{% trans 'На почту Вы получите' %} <br> {% trans 'все варианты расчета' %} <br>{% trans 'стоимости страховки' %}</div>
								</div>
								<div class="views_row">
									<div class="field_image">
										<img src="{% static 'images/a_2.png' %}" alt="">
									</div>
									<div class="title">{% trans 'Быстро' %}</div>
									<div class="subtitle">{% trans 'Все страховые компании' %} <br> {% trans 'будут заинтересованы  как можно быстрее заключить  договор' %}</div>
								</div>
								<div class="views_row">
									<div class="field_image">
										<img src="{% static 'images/a_3.png' %}" alt="">
									</div>
									<div class="title">{% trans 'Низкая цена' %}</div>
									<div class="subtitle">{% trans 'Получите дополнительную' %} <br>{% trans 'скидку от нашего сервиса' %}</div>
								</div>
							</div>
						</div>
					</div>
					{% if insurance.videos.all.first.is_enable and insurance.videos.all.first.video %}
                        <div class="block block_video">
                            <div class="block_content">
                                <div class="block_title">{{ insurance.videos.all.first.title }}</div>
                                {{ insurance.videos.all.first.video|convert_to_frame|safe }}
                            </div>
                        </div>
                    {% endif %}
					<div class="block block_photo">
						<div class="block_content">
							<div class="block_title">{% trans 'Что может произойти с вашей недвижимостью?' %}</div>
							<div class="view_content">
                                {% for image in images %}
                                    <div class="views_row">
                                        <div class="filed_img">
                                            <img src="{{ image.image|thumbnail_url:'gallery_image_570' }}" alt="">
                                        </div>
                                    </div>
								{% endfor %}
							</div>
						</div>
					</div>

				</div><!-- #content-->				
			</div>			
		</div>
		{% if faqs and insurance.faq_enable %}
            {% include 'services/include/faqs.html' %}
        {% endif %}
		{% include 'seo/seo.html' %}
		<div class="block block_presentation order_block">
			<div class="block_content">
				<div class="block_title">{% trans 'Вы еще сомневаетесь страховать квартиру?' %}</div>
				<div class="view_content">								
					<form action="#" class="webform_client_form">
                        {% csrf_token %}
                        <input type="hidden" name="source" value="{% trans 'Заявка.Страхование недвижимости.' %}">
                        <input type="hidden" name="content_type" value="{{ content_type }}">
                        <input type="hidden" name="object_id" value="{{ insurance.id }}">
						<div class="form_item user_name">
							<input name="name" type="text" placeholder="{% trans 'Введите ваше имя' %}">
						</div>
						<div class="form_item phone">
							<input name="phone" type="text" placeholder="{% trans 'Введите ваш телефон' %}">
						</div>
						<div class="form_actions">
							<input type="submit" class="form_submit submit-save-application" value="{% trans 'Отправить' %}">
						</div>
					</form>
				</div>
			</div>
		</div>
		{% include 'services/include/services_downbar.html' %}
		{% downbanner %}
	</main><!-- .content -->

{% endblock content %}
{% block js %}
    <script src="{% static '' %}"></script>
{% endblock js %}