{% extends 'base.html' %}
{% load static from staticfiles %}
{% load video_tag %}
{% load banners_tag %}
{% load i18n %}
{% block css %}{% endblock css %}

{% block SEOTitle %} {{ seo.SEOTitle }} {% endblock SEOTitle %}
{% block SEOKeywords %}{{ seo.SEOKeywords }}{% endblock SEOKeywords %}
{% block SEODescription %}{{ seo.SEODescription }}{% endblock SEODescription %}

{% block class_body %}  class="not-front real_services" {% endblock %}

{% block content %}
    <main class="middle">
		<div class="slider_main slider_notfront"
             {% if service_rieltor.image_avatar %}
                style="background: url({{ service_rieltor.image_avatar.url }}) no-repeat center/cover"
             {% endif %}>
			<div class="slider_title">{{ seo.title|default:'Помощь с поиском коммерческой недвижимости' }}</div>
			<form action="#" class="webform_client_form">
                {% csrf_token %}
                <input type="hidden" name="source" value="Получить подборку.Риелторские услуги.">
                <input type="hidden" name="content_type" value="{{ content_type }}">
                <input type="hidden" name="object_id" value="{{ service_rieltor.id }}">
				<div class="form_item name">
					<input name="name" type="text" placeholder="{% trans 'Введите ваше имя' %}">
				</div>
				<div class="form_item phone">
					<input name="phone" type="text" placeholder="{% trans 'Введите ваш телефон' %}">
				</div>
				<div class="form_item email">
					<input name="email" type="text" placeholder="{% trans 'Введите вашу почту' %}">
				</div>
				<div class="form_item textarea comment">
					<textarea name="text" placeholder="{% trans 'Ваши пожелания' %}"></textarea>
				</div>
				<div class="form_actions">
					<input class="form-submit submit-save-application" type="submit" value="{% trans 'Получить подборку' %}">
				</div>
			</form>
		</div>
		<div class="middle_inner">
			<div class="container">
				<div id="content">
					<div class="block_benefits">
						<div class="block_content">
							<div class="block_title">
								{% trans 'Нам доверяют' %}
							</div>
							<div class="view_content">
								<div class="group">
									<div class="views_row">
										<div class="field_img">
											<img src="{% static 'images/a_3.png' %}" alt="">
										</div>
										<div class="text">{% trans 'Лучшие цены' %}</div>
									</div>
									<div class="views_row">
										<div class="field_img">
											<img src="{% static 'images/pr_5.png' %}" alt="">
										</div>
										<div class="text">{% trans 'Опытные специалисты' %}</div>
									</div>
									<div class="views_row">
										<div class="field_img">
											<img src="{% static 'images/i_2.png' %}" alt="">
										</div>
										<div class="text">{% trans 'Оперативность' %}</div>
									</div>
									<div class="views_row">
										<div class="field_img">
											<img src="{% static 'images/i_4.png' %}" alt="">
										</div>
										<div class="text">{% trans 'Гарантии' %}</div>
									</div>
								</div>
								<div class="group">
									<div class="views_row">
										<div class="field_img">
											<img src="{% static 'images/i_7.png' %}" alt="">
										</div>
										<div class="text">{% trans 'Более 9 лет работы' %}</div>
									</div>
									<div class="views_row">
										<div class="field_img">
											<img src="{% static 'images/i_6.png' %}" alt="">
										</div>
										<div class="text">{% trans 'Конфиденциальность' %}</div>
									</div>
									<div class="views_row">
										<div class="field_img">
											<img src="{% static 'images/i_8.png' %}" alt="">
										</div>
										<div class="text">{% trans 'Работа без предоплаты' %}</div>
									</div>
									<div class="views_row">
										<div class="field_img">
											<img src="{% static 'images/i_9.png' %}" alt="">
										</div>
										<div class="text">{% trans 'Пакетные рекламные' %} <br>{% trans 'инструменты' %}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="block_benefits steps">
						<div class="block_content">
							<div class="block_title">
								{% trans 'Как получить свой объект недвижимости?' %}
							</div>
							<div class="view_content">
								<div class="group">
									<div class="views_row">
										<div class="field_img">
											<img src="{% static 'images/m_1.png' %}" alt="">
										</div>
										<div class="text">{% trans 'Отправить заявку' %} <br>{% trans 'на подбор недвижимости' %}</div>
									</div>
									<div class="views_row">
										<div class="field_img">
											<img src="{% static 'images/re_1.png' %}" alt="">
										</div>
										<div class="text">{% trans 'Получить подборку' %} <br>{% trans 'за 30 мин на почту или SMS' %}</div>
									</div>
									<div class="views_row">
										<div class="field_img">
											<img src="{% static 'images/re_2.png' %}" alt="">
										</div>
										<div class="text">{% trans 'Осмотр интерисующих вариантов' %} <br>{% trans 'и выбор подходящего' %}</div>
									</div>
								</div>
								<div class="group">
									<div class="views_row">
										<div class="text">{% trans 'Подготовка документов' %} <br>{% trans 'и условий' %}</div>
										<div class="field_img">
											<img src="{% static 'images/m_3.png' %}" alt="">
										</div>
									</div>
									<div class="views_row">
										<div class="text">{% trans 'Оформление задатка' %} <br>{% trans 'и передача ключей' %}</div>
										<div class="field_img">
											<img src="{% static 'images/re_3.png' %}" alt="">
										</div>
									</div>
									<div class="views_row">
										<div class="text">{% trans 'Расчет с Агенством' %} <br>{% trans 'недвижимости' %}</div>
										<div class="field_img">
											<img src="{% static 'images/m_6.png' %}" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div><!-- #content-->
			</div>
		</div>
		<div class="block block_presentation order_block">
			<div class="block_content">
				<div class="block_title">{% trans 'Отправить заявку на подбор недвижимости' %}</div>
				<div class="view_content">
					<form action="#" class="webform_client_form">
                        {% csrf_token %}
                        <input type="hidden" name="source" value="Подбор недвижимости.Риелторские услуги.">
                        <input type="hidden" name="content_type" value="{{ content_type }}">
                        <input type="hidden" name="object_id" value="{{ service_rieltor.id }}">
						<div class="form_item user_name">
							<input name="name" type="text" placeholder="{% trans 'Введите ваше имя' %}">
						</div>
						<div class="form_item phone">
							<input name="phone" type="text" placeholder="{% trans 'Введите ваш телефон' %}">
						</div>
						<div class="form_actions">
							<input type="submit" class="form_submit submit-save-application" value="{% trans 'Отправить' %}">
						</div>
					</form>
				</div>
			</div>
		</div>
        {% if service_rieltor.videos.all.first.is_enable and service_rieltor.videos.all.first.video %}
            <div class="block block_video">
                <div class="block_content">
                    <div class="block_title">{{ service_rieltor.videos.all.first.title }}</div>
                    {{ service_rieltor.videos.all.first.video|convert_to_frame|safe }}
                </div>
            </div>
        {% endif %}
		<div class="block block_presentation">
			<div class="block_content">
				<div class="block_title">{% trans 'Продажа Вашей недвижимости за 90 дней' %}</div>
				<div class="sub_title">{% trans 'Без предоплаты и с гарантией результата!' %}</div>
				<div class="title_text">{% trans 'Заполните заявку за 2 мин и мы приведем Вам клиента!' %} </div>
				<div class="view_content">
					<form action="#" class="webform_client_form">
                        {% csrf_token %}
                        <input type="hidden" name="source" value="{% trans 'Заявка.Риелторские услуги.' %}">
                        <input type="hidden" name="content_type" value="{{ content_type }}">
                        <input type="hidden" name="object_id" value="{{ service_rieltor.id }}">
						<div class="form_item user_name">
							<input name="name" type="text" placeholder="{% trans 'Введите ваше имя' %}">
						</div>
						<div class="form_item phone">
							<input name="phone" type="text" placeholder="{% trans 'Номер телефона' %}">
						</div>
						<div class="form_item address">
							<input name="address" type="text" placeholder="{% trans 'Адрес' %}">
						</div>
						<div class="form_item price">
							<input name="price" type="text" placeholder="{% trans 'Цена' %}">
						</div>
						<div class="form_textarea">
							<textarea name="text" placeholder="{% trans 'Описание' %}"></textarea>
						</div>
						<div class="form_actions">
							<input type="submit" class="form_submit submit-save-application" value="{% trans 'Добавить' %}">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="block_benefits steps second">
			<div class="block_content">
				<div class="block_title">
					{% trans '7 шагов к успешной продаже Вашего объекта:' %}
				</div>
				<div class="view_content">
					<div class="group">
						<div class="views_row">
							<div class="field_img">
								<img src="{% static 'images/m_1.png' %}" alt="">
							</div>
							<div class="text">{% trans 'Оставьте заявку' %} <br>{% trans 'на консультацию' %}</div>
						</div>
						<div class="views_row">
							<div class="field_img">
								<img src="{% static 'images/re_4.png' %}" alt="">
							</div>
							<div class="text">{% trans 'Эксперт выезжает на ' %}<br>{% trans 'объект и проводит анализ' %}</div>
						</div>
						<div class="views_row">
							<div class="field_img">
								<img src="{% static 'images/re_5.png' %}" alt="">
							</div>
							<div class="text">{% trans 'Согласовываем цену и ' %}<br>{% trans 'подписываем договор о ' %}<br>{% trans 'сотрудничестве' %}</div>
						</div>
					</div>
					<div class="group">
						<div class="views_row">
							<div class="text">{% trans 'Проводим многоканальную' %} <br>{% trans 'рекламную кампанию' %}</div>
							<div class="field_img">
								<img src="{% static 'images/re_6.png' %}" alt="">
							</div>
						</div>
						<div class="views_row">
							<div class="text">{% trans 'Берем на себя организацию' %} <br>{% trans 'просмотров и ведение' %} <br>{% trans 'переговоров' %}</div>
							<div class="field_img">
								<img src="{% static 'images/re_7.png' %}" alt="">
							</div>
						</div>
						<div class="views_row">
							<div class="text">{% trans 'Самостоятельно' %} <br>{% trans 'готовим все' %} <br>{% trans 'документы' %}</div>
							<div class="field_img">
								<img src="{% static 'images/re_8.png' %}" alt="">
							</div>
						</div>
						<div class="views_row">
							<div class="text">{% trans 'Закрываем сделку на' %} <br>{% trans 'максимально выгодных' %} <br>{% trans 'для Вас условиях' %}</div>
							<div class="field_img">
								<img src="{% static 'images/re_9.png' %}" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% if service_rieltor.videos.all.last.is_enable and service_rieltor.videos.all.last.video %}
            <div class="block block_video">
                <div class="block_content">
                    <div class="block_title">{{ service_rieltor.videos.all.last.title }}</div>
                    {{ service_rieltor.videos.all.last.video|convert_to_frame|safe }}
                </div>
            </div>
        {% endif %}
        {% if faqs and service_rieltor.faq_enable %}
            {% include 'services/include/faqs.html' %}
        {% endif %}
		{% include 'seo/seo.html' %}
	{% downbanner %}
	</main><!-- .content -->
{% endblock content %}

{% block js %}
    <script src="{% static '' %}"></script>
{% endblock js %}