{% extends 'base.html' %}
{% load static from staticfiles %}
{% load banners_tag %}
{% load i18n %}
{% block css %}{% endblock css %}

{% block SEOTitle %} {{ seo.SEOTitle }} {% endblock SEOTitle %}
{% block SEOKeywords %}{{ seo.SEOKeywords }}{% endblock SEOKeywords %}
{% block SEODescription %}{{ seo.SEODescription }}{% endblock SEODescription %}

{% block class_body %}  class="not-front services" {% endblock %}

{% block content %}
    <main class="middle">
		<div class="slider_main slider_notfront">
			<div class="top_inner_content">
				<div class="main_breadcrumbs"><a href="/">{% trans 'Главная' %}</a> / <span>{% trans 'Услуги' %}</span></div>
			</div>
			<h1 class="slider_title page_title">{{ seo.title|default:_('Услуги агентства недвижимости') }}</h1>
		</div>
		<div class="middle_inner">
			<div class="container">
				<div id="content">
					<div class="block block_services_wrap">
						<div class="view_content">
                            {{ services|safe }}
						</div>
					</div>
				</div><!-- #content-->
			</div>
		</div>
		{% include 'seo/seo.html' %}
		{% include 'common/include/vip.html' %}
		{% downbanner %}
	</main><!-- .content -->
{% endblock content %}

{% block js %}
    <script src="{% static '' %}"></script>
{% endblock js %}