{% extends 'base.html' %}
{% load static from staticfiles %}
{% load video_tag %}
{% load thumbnail %}
{% load banners_tag %}
{% block css %}{% endblock css %}

{% block SEOTitle %} {{ seo.SEOTitle }} {% endblock SEOTitle %}
{% block SEOKeywords %}{{ seo.SEOKeywords }}{% endblock SEOKeywords %}
{% block SEODescription %}{{ seo.SEODescription }}{% endblock SEODescription %}

{% block class_body %}  class="not-front universal" {% endblock %}

{% block content %}
    <main class="middle">
        <div class="slider_main slider_notfront"{% if universal.image_avatar %}
                style="background: url({{ universal.image_avatar.url }}) no-repeat center/cover"
             {% endif %}>
            <div class="slider_title">{{ seo.title|default:'Поможем с договорами пром\быт и другими<br> вопросами' }}</div>
            <div class="title_text">Отправить заявку прямо сейчас!</div>
            <form action="#" class="webform_client_form">
                {% csrf_token %}
                <input type="hidden" name="source" value="Заявка.{{ universal }}">
                <input type="hidden" name="content_type" value="{{ content_type }}">
                <input type="hidden" name="object_id" value="{{ object.id }}">
                <div class="form_item name">
                    <input name="name" type="text" placeholder="Введите имя">
                </div>
                <div class="form_item phone">
                    <input name="phone" type="text" placeholder="Введите телефон">
                </div>
                <div class="form_actions">
                    <input class="form-submit submit-save-application" type="submit" value="Отправить">
                </div>
            </form>
        </div>
        <div class="middle_inner">
            <div class="container">
                <div id="content">
                    <div class="block block_advantages_1">
                        <div class="block_content">
                            <div class="block_title">Наши преимущества</div>
                            <div class="view_content">
                                {% for advantage in universal.advantages.all %}
                                    <div class="views_row">
                                        <div class="field_image">
                                            <img src="{{ advantage.image|thumbnail_url:'universal_image_270' }}" alt="">
                                        </div>
                                        <div class="title">{{ advantage.description|safe }}</div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    <div class="block block_photo">
                        <div class="block_content">
                            <div class="block_title">Фото наших услуг</div>
                            <div class="view_content">
                                {% for image in images %}
                                    <div class="views_row">
                                        <div class="filed_img">
                                            <img src="{{ image.image|thumbnail_url:'gallery_image_570' }}" alt="">
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% if universal.videos.all.first.is_enable and universal.videos.all.first.video %}
                        <div class="block block_video">
                            <div class="block_content">
                                <div class="block_title">{{ universal.videos.all.first.title }}</div>
                                {{ universal.videos.all.first.video|convert_to_frame|safe }}
                            </div>
                        </div>
                    {% endif %}
                </div><!-- #content-->
            </div>
        </div>

        {% if universal.packet_enable %}
            {% include 'services/include/packets.html' with service=universal %}
        {% endif %}
        {% if faqs and universal.faq_enable %}
            {% include 'services/include/faqs.html' %}
        {% endif %}
        {% include 'seo/seo.html' %}
        {% include 'services/include/services_downbar.html' %}
        {% downbanner %}
    </main><!-- .content -->
{% endblock content %}

{% block js %}
    <script src="{% static '' %}"></script>
{% endblock js %}