{% extends 'base.html' %}
{% load static from staticfiles %}
{% load video_tag %}
{% load banners_tag %}
{% load base_tag %}
{% load i18n %}
{% block css %}{% endblock css %}

{% block SEOTitle %} {{ seo.SEOTitle }} {% endblock SEOTitle %}
{% block SEOKeywords %}{{ seo.SEOKeywords }}{% endblock SEOKeywords %}
{% block SEODescription %}{{ seo.SEODescription }}{% endblock SEODescription %}

{% block class_body %}  class="not-front property_valuation" {% endblock %}

{% block content %}
    <main class="middle">
		<div class="slider_main slider_notfront"
            {% if valuation.image_avatar %}
                style="background: url({{ valuation.image_avatar.url }}) no-repeat center/cover"
             {% endif %}>
			<div class="slider_title">{{ seo.title|default:_('Оценка недвижимости') }}</div>
			<div class="slider_subtitle">{% trans 'Оформление от 1 до 3 дней.' %}</div>
			<div class="title_text">{% trans 'Отправить заявку прямо сейчас!' %}</div>
			<form action="#" class="webform_client_form">
                {% csrf_token %}
                <input type="hidden" name="source" value="{% trans 'Заявка.Оценка недвижимости.' %}">
                <input type="hidden" name="content_type" value="{{ content_type }}">
                <input type="hidden" name="object_id" value="{{ valuation.id }}">
				<div class="form_item name">
					<input name="name" type="text" placeholder="{% trans 'Введите имя' %}">
				</div>
				<div class="form_item phone">
					<input name="phone" type="text" placeholder="{% trans 'Введите телефон' %}">
				</div>
				<div class="form_actions">
					<input class="form-submit submit-save-application" type="submit" value="{% trans 'Отправить' %}">
				</div>
			</form>
		</div>
		<div class="middle_inner">
			<div class="container">
				<div id="content">
					<div class="block_benefits">
						<div class="block_content">
							<div class="block_title">
								{% trans 'Оценка требуется в таких случаях' %}:
							</div>
							<div class="view_content">
								<div class="views_row">
									<div class="field_img">
										<img src="{% static 'images/pr_1.png' %}" alt="">
									</div>
									<div class="text">{% trans 'Оформления кредита под залог' %}</div>
								</div>
								<div class="views_row">
									<div class="field_img">
										<img src="{% static 'images/pr_2.png' %}" alt="">
									</div>
									<div class="text">{% trans 'Раздел' %} <br>{% trans 'имущества' %} </div>
								</div>
								<div class="views_row">
									<div class="field_img">
										<img src="{% static 'images/pr_3.png' %}" alt="">
									</div>
									<div class="text">{% trans 'Застраховать' %} <br>{% trans 'имущество' %}</div>
								</div>
								<div class="views_row">
									<div class="field_img">
										<img src="{% static 'images/pr_4.png' %}" alt="">
									</div>
									<div class="text">{% trans 'Заключить сделку' %} <br> {% trans 'купли-продажи,' %} <br>{% trans 'аренды, дарения' %}</div>
								</div>
								<div class="views_row">
									<div class="field_img">
										<img src="{% static 'images/pr_5.png' %}" alt="">
									</div>
									<div class="text">{% trans 'Оценка ущерба' %} <br>{% trans 'собственности' %}</div>
								</div>
							</div>
						</div>
					</div>
					{% if valuation.videos.all.first.is_enable and valuation.videos.all.first.video %}
                        <div class="block block_video">
                            <div class="block_content">
                                <div class="block_title">{{ valuation.videos.all.first.title }}</div>
                                {{ valuation.videos.all.first.video|convert_to_frame|safe }}
                            </div>
                        </div>
                    {% endif %}
				</div><!-- #content-->
			</div>
		</div>
		<div class="block block_presentation">
			<div class="block_content">
				<div class="block_title">{% trans 'Оценка вашей недвижимости' %}</div>
				<div class="sub_title">{% trans 'Какие документы нужны?' %}</div>
				<div class="title_text">{% trans 'Для оценки недвижимости' %} </div>
				<div class="view_content document">
					<div class="views_row">{% trans 'Копии документов о праве ' %}<br>{% trans 'собственности (свидетельство, договор купли-продажи, дарения, решения' %} <br>{% trans 'суда и т.д.)' %}</div>
					<div class="views_row">{% trans 'Копия тех-паспорта,' %} <br>{% trans 'изготовленного бюро' %} <br>{% trans 'технической инвентаризации' %} <br>{% trans '(при наличии)' %}</div>
					<div class="views_row">{% trans 'Паспорт собственности' %} <br>{% trans 'Идентификационный код' %} <br>{% trans 'собственника' %}</div>
					<div class="views_row email_row">{% trans 'Пришлите документы на почту' %} <br><a href="mailto:ofis@gek.pd.ua">{% email %}</a></div>
					<form action="#" class="webform_client_form">
                        {% csrf_token %}
                        <input type="hidden" name="source" value="{% trans 'Заявка.Оценка недвижимости.' %}">
                        <input type="hidden" name="content_type" value="{{ content_type }}">
                        <input type="hidden" name="object_id" value="{{ valuation.id }}">
						<div class="form_item user_name">
							<input name="name" type="text" placeholder="{% trans 'Введите ваше имя' %}">
						</div>
						<div class="form_item phone">
							<input name="phone" type="text" placeholder="{% trans 'Введите ваш телефон' %}">
						</div>
						<div class="form_item email">
							<input name="email" type="email" placeholder="{% trans 'Введите вашу почту' %}">
						</div>
						<div class="form_item textarea comment">
							<textarea name="text" placeholder="{% trans 'Ваш комментарий' %}"></textarea>
						</div>
						<div class="form_actions">
							<input type="submit" class="form_submit submit-save-application" value="{% trans 'Отправить заявку на оценку' %}">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="block block_our_advantages">
			<div class="block_content">
				<div class="block_title">{% trans 'Наши преимущества' %}:</div>
				<div class="view_content">
					<div class="views_row">
						<div class="field_image">
							<img src="{% static 'images/adv_1.png' %}" alt="">
						</div>
						<div class="title">{% trans 'Выбор оценщика' %}</div>
						<div class="subtitle">{% trans 'Вы можете выбрать команию' %}</div>
					</div>
					<div class="views_row">
						<div class="field_image">
							<img src="{% static 'images/adv_2.png' %}" alt="">
						</div>
						<div class="title">{% trans 'Оформлении оценки' %}</div>
						<div class="subtitle">{% trans 'Сроки от 1 до 3 дней' %}</div>
					</div>
					<div class="views_row">
						<div class="field_image">
							<img src="{% static 'images/adv_2.png' %}" alt="">
						</div>
						<div class="title">{% trans 'Низкая цена' %}</div>
						<div class="subtitle">{% trans 'Получите дополнительную' %} <br>{% trans 'скидку от нашего сервиса' %}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="block_benefits steps">
			<div class="block_content">
				<div class="block_title">
					{% trans 'Этапы работы по оценке недвижимости' %}
				</div>
				<div class="view_content">
					<div class="group">
						<div class="views_row">
							<div class="field_img">
								<img src="{% static 'images/m_1.png' %}" alt="">
							</div>
							<div class="text">{% trans 'Консультация' %} <br>{% trans 'и заявка' %}</div>
						</div>
						<div class="views_row">
							<div class="field_img">
								<img src="{% static 'images/m_2.png' %}" alt="">
							</div>
							<div class="text">{% trans 'Договор и' %} <br>{% trans 'предоплата' %}</div>
						</div>
						<div class="views_row">
							<div class="field_img">
								<img src="{% static 'images/m_3.png' %}" alt="">
							</div>
							<div class="text">{% trans 'Передача' %} <br>{% trans 'документов' %}</div>
						</div>
					</div>
					<div class="group">
						<div class="views_row">
							<div class="text">{% trans 'Формирование' %} <br>{% trans 'экспертного заключения' %}</div>
							<div class="field_img">
								<img src="{% static 'images/m_4.png' %}" alt="">
							</div>
						</div>
						<div class="views_row">
							<div class="text">{% trans 'Согласование и' %} <br>{% trans 'передача заключения' %}</div>
							<div class="field_img">
								<img src="{% static 'images/m_5.png' %}" alt="">
							</div>
						</div>
						<div class="views_row">
							<div class="text">{% trans 'Конечная' %} <br>{% trans 'оплата' %}</div>
							<div class="field_img">
								<img src="{% static 'images/m_6.png' %}" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		{% if faqs and valuation.faq_enable %}
            {% include 'services/include/faqs.html' %}
        {% endif %}
		{% include 'seo/seo.html' %}
		{% include 'services/include/services_downbar.html' %}
        {% downbanner %}
	</main><!-- .content -->
{% endblock content %}
{% block js %}
    <script src="{% static '' %}"></script>
{% endblock js %}